@model BackOfficeHomeViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Home)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.BackOffice.BackOfficeString.OwnerSpace, "Blue")
@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Home)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Backoffice.Home.Index())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Places, MVC.Backoffice.Home.Localisations())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Home.Booking())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Home.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock">
            @{
                var score = Model.Owner.ComputeScore();
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Owner.MemberMainData.Avatar,
                    ImageAlt = Model.Owner.GetDisplayName(),
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.BackOffice.BackOfficeString.Owner, Value = Model.Owner.MemberMainData.FirstName + " " + Model.Owner.MemberMainData.LastName },
                        new DescriptionItem{ Title = Worki.Resources.Views.BackOffice.BackOfficeString.Score, Value = string.Format(Worki.Resources.Views.Profile.ProfileString.Score, Model.Owner.GetMemberScoreStatus(score), score)}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent, summaryModel)
            @Html.Partial(MVC.Dashboard.Shared.Views._NewsContent, Model.News)
            <div class="clear"></div>
            <div class="innerContentBlock">
                <div class="newsHeader">
                    @Worki.Resources.Views.BackOffice.BackOfficeString.WorkplacesDirectAccess
                </div>
			    <ul class="padding10">
			    @foreach (var item in Model.Places)
			    {
                    @Html.Partial(MVC.Dashboard.Shared.Views._LocalisationItem, new LocalisationItem { Localisation = item, Url = Url.Action(MVC.Backoffice.Localisation.Index(item.ID)) })
			    }
			    </ul>
                <div class="clear"></div>
            </div>
		</div>
	</div>
	<div class="clear"></div>
</div>