@model Worki.Data.Models.ProfilPublicModel

@{
	var tabId = (ProfilConstants.DashboardTab)ViewData[ProfilConstants.TabId];
	var a_class = tabId.ToString();
	IList<Localisation> locs = new List<Localisation>();
	PagingInfo pi = new PagingInfo();
	if (tabId == ProfilConstants.DashboardTab.FavLoc)
	{
		locs = Model.FavoriteLocalisations.List;
		pi = Model.FavoriteLocalisations.PagingInfo;
	}
	else if (tabId == ProfilConstants.DashboardTab.AddedLoc)
	{
		locs = Model.AddedLocalisations.List;
		pi = Model.AddedLocalisations.PagingInfo;
	}
	
}

<ul>
    @foreach (var loc in locs.OrderByDescending(x => x.ID))
	{ 
        <li>
            <a href="@loc.GetDetailFullUrl(Url)">
                <div class="localisationTag float-left">
                    <div class="localisationImgDiv borderedImg">
					@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(loc.GetMainPic(), true), loc.Name)
                    </div>
                    <div class="localisationImgDesc">
                        <span class="bold">@loc.Name</span><br />
                        @loc.City
                    </div>                                   
                </div>
            </a>
        </li>
	}
</ul>
<div class="clear">
</div>
<div class="pager @(a_class)">
    @Html.PageLinks(pi, null, a_class)
</div>