@model Worki.Data.Models.Member
		   
<div class="profilDetailLeft blockContainer float-left">
    <div class="contentBlock">
        <div class="profilAvatar borderedImg">
            @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.MemberMainData.Avatar, false, Member.AvatarFolder), Links.Content.images.avatar_png, Model.GetDisplayName())
        </div>
        <div class="profilName">
			@{
				var score = Model.ComputeScore();
			}
            <h2 class="blue bold">@Model.GetAnonymousDisplayName()</h2>
            <span class="profilType bold">@Model.MemberMainData.GetProfile()</span><br />
            @string.Format(Worki.Resources.Views.Profile.ProfileString.Score, Model.GetMemberScoreStatus(score), score)
        </div>
        <div class="profilDesc">
            @Model.MemberMainData.Description
        </div>
        @Html.Partial(MVC.Dashboard.Shared.Views._SocialLinks, Model.MemberMainData)
    </div>
</div>