@model Worki.Data.Models.ChangePasswordModel

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Profile.ProfileString.MyProfile, "Blue")

<div class="detailContent">
	@{Html.RenderAction(MVC.Dashboard.Profil.ProfilMenu(Model.MemberId, (int)ProfilConstants.ProfilItem.ChangePassword));}
	
    <div class="profilDetailRight dashedLeft blockContainer float-right">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                <div class="loginDesc">
                    @Worki.Resources.Views.Account.AccountString.NewOldPassword<br />
                    @String.Format(Worki.Resources.Views.Account.AccountString.MinimumLength, ViewData["PasswordLength"])
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.MemberId)
           
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword) 
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword) 
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword) 
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword) 
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword) 
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword) 
                </div>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>

	<div class="clear">
	</div>
</div>