@model Worki.Data.Models.ProfilPublicModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Model.Member.GetDisplayName())</title>
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.rateit_min_css)" rel="stylesheet" type="text/css" />
}

@{
	var title = Model.Member.GetDisplayName();
}
@RazorHelpers.TitleDiv(title, "Blue")

<div class="detailContent">
    @Html.Partial(MVC.Dashboard.Profil.Views._ProfilSummary,Model.Member)

    <div class="profilDetailRight blockContainer float-right">
        <div class="profilLocalisations contentBlock">
            <ul class="tabs">
                <li><a href="#favoritesTab" class="bold">@Worki.Resources.Views.Profile.ProfileString.Favorite</a></li>
                <li><a href="#addedLocalisationTab" class="bold">@Worki.Resources.Views.Profile.ProfileString.MySpaces</a></li>
            </ul>
            <div class="tab_container">
                <div id="favoritesTab" class="tab_content localisationsTagContainer">
					@if(Model.FavoriteLocalisations.List.Count != 0)
					{
						ViewData[ProfilConstants.TabId] = ProfilConstants.DashboardTab.FavLoc.ToString();
						@Html.Partial(MVC.Dashboard.Shared.Views._LocalisationTab, Model.FavoriteLocalisations)
					}
                    else
                    {
                        <span class="italic">@Model.Member.MemberMainData.FirstName @Model.Member.MemberMainData.LastName @Worki.Resources.Views.Profile.ProfileString.FavoriteSpacesEmptyPublic</span>
                    }
                </div> 
                <div id="addedLocalisationTab" class="tab_content localisationsTagContainer visuallyhidden">
					@if (Model.AddedLocalisations.List.Count != 0)
                    {
						ViewData[ProfilConstants.TabId] = ProfilConstants.DashboardTab.AddedLoc.ToString();
						@Html.Partial(MVC.Dashboard.Shared.Views._LocalisationTab, Model.AddedLocalisations)
                    }
                    else
                    {
                    <span class="italic">@Model.Member.MemberMainData.FirstName @Model.Member.MemberMainData.LastName @Worki.Resources.Views.Profile.ProfileString.AddedSpacesEmptyPublic</span>
                    }
                </div> 
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="profilCompany contentBlock">
            <ul class="tabs">
                <li><a href="#companyTab" class="bold">@Worki.Resources.Views.Profile.ProfileString.MyCompany</a></li>
                <li><a href="#favPlacesTab" class="bold">@Worki.Resources.Views.Profile.ProfileString.MyFavoritePlaces</a></li>
            </ul>
            <div class="tab_container">
                <div id="companyTab" class="tab_content">
					@if (!string.IsNullOrEmpty(Model.Member.MemberMainData.CompanyName))
                    {
						@Model.Member.MemberMainData.CompanyName
                        if (Model.Member.MemberMainData.Website != null)
                        {
                            <br/><a href="@WebHelper.GetWebsite(Model.Member.MemberMainData.Website)">@Worki.Resources.Views.Profile.ProfileString.MyWebsite</a>
                        }
                    }
                    else
                    {
                        <span class="italic">@Model.Member.MemberMainData.FirstName @Model.Member.MemberMainData.LastName @Worki.Resources.Views.Profile.ProfileString.MyCompanyPublic</span>
                    }                    
                </div> 
                <div id="favPlacesTab" class="tab_content visuallyhidden">
					@if (!string.IsNullOrEmpty(Model.Member.MemberMainData.FavoritePlaces))
                    {
						@Model.Member.MemberMainData.FavoritePlaces
                    }
                    else
                    {
                        <span class="italic">@Model.Member.MemberMainData.FirstName @Model.Member.MemberMainData.LastName @Worki.Resources.Views.Profile.ProfileString.MyCompanyPublic</span>
                    }
                </div> 
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.jquery_rateit_js)", "@Url.VersionedContent(Links.Scripts.tabs_js)"], function () {
                InitTab(".profilLocalisations");
                InitTab(".profilCompany");

                function GetInt(str){
				    var intVal = parseInt(str);
				    if(isNaN(intVal))
					    return 1;
				    else
					    return intVal;
			    };
			
			    function AjaxFill(tabId,p1,p2,divId) {					
                    $.ajax({
					    url: "@Url.Action(MVC.Dashboard.Profil.ActionNames.AjaxDashboard)",
					    data: { "id": @Model.Member.MemberId, "tabId" : tabId, "p1" : p1, "p2" : p2 },
					    success: function (data) {
						    $(divId).html(data);
					    }
				    });
                };

			    $(".FavLoc").live("click", function () {

				    var p1 = GetInt($(this).html());
				    var p2 = GetInt($(".AddedLoc .selected").html());

				    AjaxFill(@((int)ProfilConstants.DashboardTab.FavLoc),p1,p2,"#favoritesTab");
				    return false;
			    });
			    $(".AddedLoc").live("click", function () {

				    var p1 = GetInt($(".FavLoc .selected").html());
				    var p2 = GetInt($(this).html());

				    AjaxFill(@((int)ProfilConstants.DashboardTab.AddedLoc),p1,p2,"#addedLocalisationTab");
				    return false;
			    });
        });
    </script>
}