@model Worki.Data.Models.OfferFormViewModel

@{
    var isEditing = Model.Offer.Id != 0;
    var title = isEditing ? Worki.Resources.Views.Offer.OfferString.EditOffer : Worki.Resources.Views.Offer.OfferString.AddOffer;
}

@section HeadContent
{
    <title>@Html.WorkiTitle(title) </title>
	<link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
	<link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
}

@RazorHelpers.TitleDiv(title, "Blue")

<div class="detailContent">
    <div class="blockContainer">
		@Html.Partial(MVC.Offer.Views._CreateOffer)
    </div>
</div>

@section ScriptContent
{
	@Html.Partial(MVC.Offer.Views._CreateOfferScript)
	@Html.Partial(MVC.Shared.Views._UploadGalleryScript, Model.Offer)
	@Html.Partial(MVC.Shared.Views._DatePickerScript)
}

