To: @ViewBag.To
From: @Html.Raw(ViewBag.From)
Subject: @Html.Raw(ViewBag.Subject)

<div>
Bonjour,<br />
<br />
Toutes nos félicitations, nous tenons à vous informer que votre @ViewBag.Type a été référencé(e) par un utilisateur sur le site eWorky en tant qu’espace agréable pour y venir travailler ! <br />
<br />
Afin de garantir la bonne qualité des informations sur le site, nous vous invitons à confirmer que vous être le gérant de ce lieu et à <b>vérifier que les informations fournies sur votre fiche-lieu sont exactes.</b><br />
Pour cela, inscrivez-vous en quelques secondes :<br />
<a href="@Url.AbsoluteAction(MVC.Account.ActionNames.Register,MVC.Account.Name,null)">@Url.AbsoluteAction(MVC.Account.ActionNames.Register,MVC.Account.Name,null)</a><br />
Puis confirmez que vous êtes gérant de ce lieu en cliquant sur le lien suivant :<br />
<a href="@ViewBag.Ownership">@ViewBag.Ownership</a><br />
Pour modifier les informations de la fiche, il vous suffit de cliquer en bas à droite de la fiche sur Editer le lieu.<br />
<br />
Si vous n'êtes ni gérant ni propriétaire de ce lieu, signalez-le nous par retour d'e-mail, nous effectuerons les modifications nécessaires dans les plus brefs délais.<br />
<br />
Nous vous invitons de plus à <b>proposer à vos clients de noter et de commenter</b> votre établissement, cela améliorera son référencement et sa visibilité sur le site.<br />
<br />
A bientôt sur eWorky,<br />
<br />
L’équipe eWorky<br />
<a href="@MiscHelpers.EmailConstants.ContactMail">@MiscHelpers.EmailConstants.ContactMail</a><br />
01 77 17 04 21 <br />
<a href="@MiscHelpers.UrlConstants.eWorkyFacebook">Suivez-nous sur Facebook</a><br />
<a href="@Worki.Resources.Email.Common.Twitter">Suivez-nous sur twitter</a><br />
</div>