@model CreateBookingModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Configure)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Localisation.ID, LocalisationMainMenu.Schedule));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.LocalisationSchedule, MVC.Backoffice.Schedule.LocalisationSchedule(Model.Localisation.ID))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.OfferSchedule, MVC.Backoffice.Schedule.OfferSchedule(Model.Localisation.ID))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Schedule, MVC.Backoffice.Schedule.CreateBooking(Model.Localisation.ID))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        @using (Html.BeginForm())
		{
		    <div class="contentBlock">
	   		    @Html.AntiForgeryToken()
				<table class="configoffertable">
                    <tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.OfferId)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.DropDownListFor(m => m.Booking.OfferId, Model.Offers)
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.MemberId)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.DropDownListFor(m => m.Booking.MemberId, Model.Clients)
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.PaymentType)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.DropDownListFor(m => m.Booking.PaymentType, Model.PaymentTypes)
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.StatusId)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.DropDownListFor(m => m.Booking.StatusId, Model.Statuses)
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.FromDate)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.TextBox("Booking.FromDate", CultureHelpers.GetSpecificFormat(Model.Booking.FromDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" }) 
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.ToDate)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.TextBox("Booking.ToDate", CultureHelpers.GetSpecificFormat(Model.Booking.ToDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" }) 
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="editor-label">
								@Html.LabelFor(m => m.Booking.Price)
							</div>
						</td>
						<td>
							<div class="editor-field">
								@Html.TextBoxFor(m => m.Booking.Price)
							</div>
						</td>
					</tr>
				</table>
		    </div>

		    <div class="editor-field float-right">
			    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
		    </div>
		    <div class="clear"></div>
		}
	</div>
	<div class="clear">
	</div>
</div>

@section ScriptContent
{
	@Html.Partial(MVC.Shared.Views._DatePickerScript)
}

