@model	Offer

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Schedule)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' href="@Url.VersionedContent(Links.Content.fullcalendar_min_css)" />
	<link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Localisation.ID, LocalisationMainMenu.Schedule));}

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.LocalisationSchedule, MVC.Backoffice.Schedule.LocalisationSchedule(Model.Localisation.ID))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.OfferSchedule, MVC.Backoffice.Schedule.OfferSchedule(Model.Localisation.ID))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.CreateBooking, MVC.Backoffice.Schedule.CreateBooking(Model.Localisation.ID))}
		})
	</div>
	<div class="blockContainer float-left contentRight">
		@{Html.RenderAction(MVC.Backoffice.Offer.OfferDropdown(Model.Id, (int)OfferMenu.Schedule));}
		<div class="contentBlock">
            <div id='calendar'>
            </div>
			@{Html.RenderAction(MVC.Backoffice.Schedule.CreateEvent(Model.Id));}
        </div>
	</div>
	<div class="clear"></div>
</div>
@section ScriptContent
{
    <script type='text/javascript'>
		require(["@Links.Scripts.dropdown_js"], function () {
			InitDropdown("#@DropDownModel.OfferDD");
		});

		$("#createEventForm input[type=submit]").click(function () {
			$("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
			$(this).attr("clicked", "true");
		});

		$('#createEventForm').submit(function (e) {
			var idbouton = $("input[type=submit][clicked=true]").attr('id');
			var onlyCreate = (idbouton == null || idbouton == 'createBooking');
			var submitUrl = onlyCreate ? '@Url.Action(MVC.Backoffice.Schedule.CreateEvent())' : '@Url.Action(MVC.Backoffice.Schedule.CreateAndEditEvent())'
			$.ajax({
				type: 'POST',
				url: submitUrl,
				data: $(this).serializeArray(),
				error: function (xhr, status, err) {
					if (xhr.status == 400) {
						$('#calendar').fullCalendar('unselect');
						$('div.field-validation-error').remove();
						$('#createBookingError').append('<div class="field-validation-error">' + xhr.responseText + '</div>');
					}
				},
				success: function (data, textStatus, jqXHR) {
					if (onlyCreate) {
						$('#calendar').fullCalendar('renderEvent', data, true);
						$('#calendar').fullCalendar('unselect');
						$('div.field-validation-error').remove();
						$('.createBooking').fadeOut("slow");
					}
					else {
						window.location.href = data.redirectToUrl;
					}
				}
			});
			return false;
		});

        $('.cross').click(function () {
            $('.createBooking').hide();
           });

	</script>

	@Html.Partial(MVC.Backoffice.Schedule.Views._ScheduleScript, new ScheduleModel { IsEditable = "true", SourceFeed = Url.Action(MVC.Backoffice.Schedule.BookingEvents(Model.Id)) })
}