@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>search a place</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="@Url.VersionedContent(Links.Content.boilerplate_min_css)" rel="stylesheet" type="text/css"/>
        <link href="@Url.VersionedContent(Links.Content.scss.bootstrap_css)" type="text/css" rel="stylesheet">
        <link href="@Url.VersionedContent(Links.Content.scss.responsive_css)" type="text/css" rel="stylesheet">
        <link href="@Url.VersionedContent(Links.Content.scss.widget_css)" rel="stylesheet" type="text/css"/>

        <script src="@Url.VersionedContent(Links.Scripts.require_jquery_js)"></script>
        @RenderSection("HeadContent", true)
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
        @{
            var loginText = "Se connecter";
            if (Request.IsAuthenticated)
            {
                loginText = User.Identity.Name;
                FormsIdentity ident = User.Identity as FormsIdentity;
                if (ident != null)
                {
                    loginText = string.Format(Worki.Resources.Views.Home.HomeString.Welcome + " {0} !", WebHelper.GetIdentityDisplayName(ident));
                }
            }
            var back = Url.RequestContext.HttpContext.Request.UrlReferrer != null ? Url.RequestContext.HttpContext.Request.UrlReferrer.PathAndQuery : null;

            var theme = Url.GetQueryParam(MiscHelpers.WidgetConstants.Theme);
        }
        
        <div id="login-container">
        </div>
        @*<div style="width:750px;">*@
        <div class="@theme">
            <div class="container-fluid">
                <div class="btn-toolbar">
                    <div class="row-fluid">
                        @if (!string.IsNullOrEmpty(back))
                        {
                        <a href="javascript:self.history.go(-1)" id="go-back" class="btn">
                            <i class="icon-step-backward"></i>
                            Retour
                        </a>
                        }
                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                @loginText
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (!Request.IsAuthenticated)
                                {
                                    <li>
                                        <a href="@Url.Action(MVC.Widget.Account.LogOn())" id = "login-btn">
                                            <i class="icon-home"></i>
                                            login
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action(MVC.Dashboard.Home.Index())">
                                            <i class="icon-user"></i>
                                            dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action(MVC.Widget.Account.LogOff())">
                                            <i class="icon-off"></i>
                                            logout
                                        </a>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="http://www.eworky.com" target = "blank">
                                        <i class="icon-globe"></i>
                                        à propos d'eWorky
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @RenderBody()
	        </div>
        </div>
        @RenderSection("ScriptContent", false)
        <script type="text/javascript">
            require(["@Url.VersionedContent(@Links.Scripts.bootstrap_dropdown_js)"]);
            require(["@Url.VersionedContent(@Links.Scripts.bootstrap_modal_js)"], function () {
                $('#login-btn').click(function () {
                    $.ajax({
                        url: this.href,
                        success: function (data) {
                            $('#login-container').html(data);
                            $('#login-popup').modal();
                        }
                    });
                    return false;
                });
            });
        </script> 
    </body>
</html>
