@model Worki.Data.Models.ProfilMenuModel
		   
<div class="profilDetailLeft blockContainer float-left">
        <div class="contentBlock">
            <div class="profilAvatar borderedImg">
                @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Member.MemberMainData.Avatar), Model.Member.GetDisplayName())
            </div>
            <div class="profilName">
				@{
					var score = Model.Member.ComputeScore();
				}
                <h2 class="blue bold">@Model.Member.MemberMainData.FirstName @Model.Member.MemberMainData.LastName</h2>
                <span class="profilType bold">@MemberMainData.GetProfileType(Model.Member.MemberMainData.Profile)</span><br />
                @string.Format(Worki.Resources.Views.Profile.ProfileString.Score, Model.Member.GetMemberScoreStatus(score), score)
            </div>
            <div class="profilDesc">
                @Model.Member.MemberMainData.Description
            </div>
            @if (!string.IsNullOrEmpty(Model.Member.MemberMainData.Facebook))
			{   
				<div class="profil_social float-left">
					<div class="profil_fb linkImg" title="@Worki.Resources.Views.Profile.ProfileString.FBProfile">
						<a href="@WebHelper.GetWebsite(Model.Member.MemberMainData.Facebook)" target="_blank"></a>
					</div>
				</div>
			}
            @if (!string.IsNullOrEmpty(Model.Member.MemberMainData.Twitter))
			{   
				<div class="profil_social float-left">
					<div class="profil_tw linkImg" title="@Worki.Resources.Views.Profile.ProfileString.TwitterProfile">
						<a href="@WebHelper.GetTwitter(Model.Member.MemberMainData.Twitter)" target="_blank"></a>
					</div>
				</div>
			}
            @if (!string.IsNullOrEmpty(Model.Member.MemberMainData.Linkedin))
			{   
				<div class="profil_social float-left">
					<div class="profil_in linkImg" title="@Worki.Resources.Views.Profile.ProfileString.LinkedInProfile">
						<a href="@WebHelper.GetWebsite(Model.Member.MemberMainData.Linkedin)" target="_blank"></a>
					</div>
				</div>
			}
            @if (!string.IsNullOrEmpty(Model.Member.MemberMainData.Viadeo))
			{   
				<div class="profil_social float-left">
					<div class="profil_viadeo linkImg" title="@Worki.Resources.Views.Profile.ProfileString.ViadeoProfile">
						<a href="@WebHelper.GetWebsite(Model.Member.MemberMainData.Viadeo)" target="_blank"></a>
					</div>
				</div>
			}
			<div class="clear">
			</div>
        </div>
        @if (Model.IsPrivate)
		{
            <div class="contentBlock">
	   			<ul class="leftMenu">
					<li class="borderRadius @Model.GetClass("selected", (int)ProfilConstants.ProfilItem.CommunityActivity)">@Html.ActionLink(Worki.Resources.Views.Profile.ProfileString.MyComActivities, MVC.Profil.Dashboard(Model.Member.MemberId))</li>
					<li class="borderRadius @Model.GetClass("selected", (int)ProfilConstants.ProfilItem.Edit)">@Html.ActionLink(Worki.Resources.Views.Profile.ProfileString.EditProfile, MVC.Profil.Edit(Model.Member.MemberId))</li>
					<li class="borderRadius @Model.GetClass("selected", (int)ProfilConstants.ProfilItem.ChangePassword)">@Html.ActionLink(Worki.Resources.Views.Profile.ProfileString.ChangePassword, MVC.Profil.ChangePassword(Model.Member.MemberId))</li>
				</ul>
            </div>
        }
    </div>