@model Worki.Data.Models.Press

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin)</title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Activity)

<div class="detailContent">

	<div class="blockContainer float-left">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.Activity.IndexWelcomePeople())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.Activity.IndexPress())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.RefreshBlog, MVC.Admin.Activity.RefreshBlog())}
		})
	</div>

	<div class="blockContainer float-left adminDetailBlock">
        <div class="contentBlock">
		<h2>
            @Worki.Resources.Views.Admin.AdminString.ConfirmDelete
        </h2>
        <div>
            <p>
                @Worki.Resources.Views.Admin.AdminString.ConfirmDeletePress
            </p>
        </div>
        @using (Html.BeginForm(MVC.Admin.Activity.ActionNames.DeletePress, MVC.Admin.Activity.Name, null, FormMethod.Post, new { returnUrl = TempData["returnUrl"] }))
        {
	        @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            <input name="confirmButton" type="submit" value="@Worki.Resources.Views.Shared.SharedString.Suppress" />
        }
        </div>
	</div>
	<div class="clear"></div>
</div>