@model Worki.Data.Models.WelcomePeople

@section HeadContent{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
}

<h2>
    @Worki.Resources.Views.Admin.AdminString.ConfirmDelete
</h2>
<div>
    <p>
        @Worki.Resources.Views.Admin.AdminString.ConfirmDeleteWelcome
    </p>
</div>
@using (Html.BeginForm(MVC.Admin.Activity.ActionNames.DeleteWelcomePeople, MVC.Admin.Activity.Name, null, FormMethod.Post, new { returnUrl = TempData["returnUrl"] }))
{ 
	@Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <input name="confirmButton" type="submit" value="@Worki.Resources.Views.Shared.SharedString.Suppress" />
} 