@model Worki.Data.Models.Press

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Activity)

<div class="detailContent">

	<div class="blockContainer float-left">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.Activity.IndexWelcomePeople())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.Activity.IndexPress())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.RefreshBlog, MVC.Admin.Activity.RefreshBlog())}
		})
	</div>

	<div class="blockContainer float-left adminDetailBlock">
		<div class="contentBlock">
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Date
                        </div>
                    </td>
                    <td>
                        <div class="editor-field"> 
                            &nbsp;&nbsp;&nbsp;@CultureHelpers.GetSpecificFormat(Model.Date, CultureHelpers.TimeFormat.Date)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Url
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                        
                            &nbsp;&nbsp;&nbsp;<a href=@Model.Url>@Model.Url</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Description
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            &nbsp;&nbsp;&nbsp;@Model.Description
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Edit, MVC.Admin.Activity.EditPress(Model.ID))
	</div>
	<div class="clear"></div>
</div>