@model Worki.Data.Models.PagingList<Press>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Shared.Views._HorizontalMenu, new List<MenuItem> 
	{ 
		new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Sheet, MVC.Admin.Sheet.Index())} ,
		new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Moderation, MVC.Admin.Moderation.Stat())} ,
		new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Members, MVC.Admin.Member.IndexUser())} ,
		new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Activity, MVC.Admin.Activity.IndexWelcomePeople())} 
	})

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.Activity.IndexWelcomePeople())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.Activity.IndexPress())} ,
            new MenuItem{ Link= Html.ActionLink("Rafraichir blog", MVC.Admin.Activity.RefreshBlog())}
		})
	</div>

	<div class="blockContainer float-left adminPanel">
		<table>
            <thead>
                <tr>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Date
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Url
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Description
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Action
                    </th>
                </tr>
            </thead>
        <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td align="center">
                @item.ID
            </td>
            <td align="center">
                @String.Format("{0:dd/MM/yyyy}", item.Date)
            </td>
            <td align="center">
                <a href=@item.Url>@item.Url</a>
            </td>
            <td align="center">
                @item.Title
            </td>
            <td align="center">
                @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, MVC.Admin.Activity.EditPress(item.ID)) |
                @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Delete, MVC.Admin.Activity.DeletePress(item.ID, ViewContext.HttpContext.Request.Url.PathAndQuery)) |
                @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Details, MVC.Admin.Activity.DetailPress(item.ID))
            </td>
        </tr>
        }
        </tbody>
        <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Activity.ActionNames.IndexPress, MVC.Admin.Activity.Name, new { page = x }))
        </div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>