@model Worki.Data.Models.MemberBookingFormViewModel
        
<div class="modal hide" id="booking-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>@Model.BookingOffer.Name</h3>
    </div>
     
    @using (Html.BeginForm(MVC.Widget.Localisation.ActionNames.CreateBooking, MVC.Widget.Localisation.Name, FormMethod.Post, new { @class="form-horizontal", id = "booking-form" }))
    {
        <div class="modal-body">  
	        @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.LastName)
            @Html.HiddenFor(m => m.FirstName)  
            @Html.HiddenFor(m => m.Email)

            <div class="control-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" }) 
                <div class="controls">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.MemberBooking.TimeType, new { @class = "control-label" }) 
                <div class="controls">
                    @Html.DropDownListFor(m => m.MemberBooking.TimeType, Model.Periods)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.MemberBooking.FromDate, new { @class = "control-label" }) 
                <div class="controls">
                    @Html.TextBox("MemberBooking.FromDate", CultureHelpers.GetSpecificFormat(Model.MemberBooking.FromDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" }) 
                    <p class="help-block halfDaySelector">
                        @Html.RadioButtonFor(m => m.HalfDay, MemberBookingFormViewModel.eHalfDay.Morning, new { id = "HalfDay_Morning" }) @Html.LabelFor(@Worki.Resources.Views.Booking.BookingString.Morning, "HalfDay_Morning") 
                        @Html.RadioButtonFor(m => m.HalfDay, MemberBookingFormViewModel.eHalfDay.Afternoon, new { id = "HalfDay_Afternoon" }) @Html.LabelFor(@Worki.Resources.Views.Booking.BookingString.Afternoon, "HalfDay_Afternoon")
                    </p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="MemberBooking_TimeUnits">@Worki.Resources.Models.Booking.Booking.ToDate</label>
                <div class="controls">
                    <div class="bookingEndSelection">
					    @Html.TextBoxFor(m => m.MemberBooking.TimeUnits) <span id="periodUnit"></span>
				    </div>
                    @Html.TextBox("MemberBooking.ToDate", CultureHelpers.GetSpecificFormat(Model.MemberBooking.ToDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" }) 
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="MemberBooking_Message">@Worki.Resources.Views.Booking.BookingString.MessageToOwner</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.MemberBooking.Message)
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Worki.Resources.Validation.ValidationString.Cancel</a>
            <input type="submit" class="btn btn-info" value="@Worki.Resources.Views.Booking.BookingString.BookIt"/>
        </div>
        
    }
</div>

@Html.Partial(MVC.Booking.Views._CreateScript)
<script type="text/javascript">
    require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
        var errorHandler = function (data) {
            $('#booking-error').remove();
            $('#booking-form').before('<div id="booking-error" class="alert alert-error">' + data + '</div>');
        }
        var successHandler = function (data) {
            window.location = data;
        };
        $('#booking-form').submit(function () {
            AppAjax(
		        $(this).attr("action"),
		        "POST",
		        $('#booking-form').serializeArray(),
                successHandler,
                errorHandler
	        );
            return false;
        });
    });

</script>