@model SearchCriteriaFormViewModel

<div class="row-fluid">
    <div class="span12" id="searchFormReset">
        @using (Html.BeginForm(MVC.Widget.Localisation.ActionNames.Search, MVC.Widget.Localisation.Name, FormMethod.Post, new { @class = "well", id = "searchForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Criteria.NorthEastLat)
            @Html.HiddenFor(model => model.Criteria.NorthEastLng)
            @Html.HiddenFor(model => model.Criteria.SouthWestLat)
            @Html.HiddenFor(model => model.Criteria.SouthWestLng)
            @Html.HiddenFor(model => model.Criteria.SearchType)
            @Html.HiddenFor(model => model.Criteria.ResultView)
		    @Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
		    @Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
            @Html.HiddenFor(model => model.Criteria.PreFilter.Countries)
            @Html.HiddenFor(model => model.Criteria.PreFilter.Types)

            @Html.LabelFor(Worki.Resources.Views.Home.HomeString.Where, "Criteria_Place", null, "bold darkBlue")
		    @Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation, @class = "span12" })
		 
            @Html.LabelFor(Worki.Resources.Views.Home.HomeString.What, "Criteria_OfferData_Type", null, "bold darkBlue")
		    @Html.DropDownListFor(model => model.Criteria.OfferData.Type, Model.Offers, new { @class = "span12" })
 
            <div id="search-more" class="collapse">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Restauration, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Coffee, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Parking, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Handicap, Model.Criteria.LocalisationData)
                    </div>
                </div>  
                <div class="row-fluid">
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.FastInternet, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Outlet, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.Printer, Model.Criteria.LocalisationData)
                    </div>
                    <div class="span3">
                        @Html.FeatureChecboxLabel(Feature.RelaxingArea, Model.Criteria.LocalisationData)
                    </div>
                </div>               
            </div>
            
            <div class="btn-group">
                <a class="btn" href="#" data-toggle="collapse" data-target="#search-more">
                    <i class="icon-cog"></i>
                    @Worki.Resources.Views.Home.HomeString.MoreCriterias
                </a>
                <div class=" pull-right">
                    <a class="btn btn-primary" href="" id="submitSearch">
                        <i class="icon-search icon-white"></i>
                        @Worki.Resources.Views.Home.HomeString.Searching
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('#submitSearch').click(function () {
        $('#searchForm').submit();
        return false;
    });

    require(["@Url.VersionedContent(@Links.Scripts.bootstrap_collapse_js)", "@Url.VersionedContent(@Links.Scripts.bootstrap_transition_js)"]);
</script>