@model SearchCriteriaFormViewModel

<div class="span12" id="searchFormReset">
    @using (Html.BeginForm(MVC.Widget.Localisation.ActionNames.Search, MVC.Widget.Localisation.Name, FormMethod.Post, new { @class = "well", id = "searchForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Criteria.NorthEastLat)
        @Html.HiddenFor(model => model.Criteria.NorthEastLng)
        @Html.HiddenFor(model => model.Criteria.SouthWestLat)
        @Html.HiddenFor(model => model.Criteria.SouthWestLng)
        @Html.HiddenFor(model => model.Criteria.SearchType)
        @Html.HiddenFor(model => model.Criteria.ResultView)
		@Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
		@Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)

        @Html.LabelFor(Worki.Resources.Views.Home.HomeString.Where, "Criteria_Place")
		@Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation, @class = "span12" })
		 
        @Html.LabelFor(Worki.Resources.Views.Home.HomeString.What, "Criteria_OfferData_Type")
		@Html.DropDownListFor(model => model.Criteria.OfferData.Type, Model.Offers, new { @class = "span12" })

        <a class="btn btn-info" href="" id="submitSearch">
            <i class="icon-search icon-white"></i>
            Rechercher
        </a>
    }
</div>