@model SearchCriteriaFormViewModel

@section HeadContent
{
    <title>search a place</title>
}

@{
    var dict = Model.Criteria.GetDictionnary();
    var listRvd = new RouteValueDictionary(dict);
    var mapRvd = new RouteValueDictionary(dict);
    listRvd[MiscHelpers.SeoConstants.View] = (int)eResultView.List;
    mapRvd[MiscHelpers.SeoConstants.View] = (int)eResultView.Map;
}

<div class="row-fluid">
    @Html.Partial(MVC.Widget.Localisation.Views._SearchForm)

    <ul class="nav nav-tabs">
        <li class=@(Model.Criteria.ResultView == eResultView.List ? "active" : "")><a href="@Url.Action(MVC.Widget.Localisation.ActionNames.SearchResult, listRvd)">Liste</a></li>
        <li class=@(Model.Criteria.ResultView == eResultView.Map ? "active" : "")><a href="@Url.Action(MVC.Widget.Localisation.ActionNames.SearchResult, mapRvd)">Carte</a></li>
    </ul>

    <div>
        @if (Model.Criteria.ResultView == eResultView.List)
        {
            @Html.Partial(MVC.Widget.Localisation.Views._Results)
        }
        else if (Model.Criteria.ResultView == eResultView.Map)
        {
        <div>
            <div id="resultsMap" style="height:300px">
		    </div>
        </div>  
        }
    </div>

</div>

@section ScriptContent
{
    <script type="text/javascript">
        //submit link action
        $('#submitSearch').click(function () {
            $('#searchForm').submit();
            return false;
        });

        var mapSearch = null;
        require(["@Url.VersionedContent(Links.Scripts.Utils_js)", "@Url.VersionedContent(Links.Scripts.jquery_rateit_js)", "@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
            require(["@Url.VersionedContent(Links.Scripts.WorkiSearchMap_js)"], function () {
                refreshResults = function (data) {
                    $("#searchResults").replaceWith(data.list);
                    if(mapSearch.NeedMap) {
                        mapSearch.PushResults(data.place, data.localisations);
                    }
                    $('.loaderBlock').addClass("visuallyhidden");
                };

                mapSearch = new WorkiMapSearch('@Url.Action(MVC.Widget.Localisation.ActionNames.MapItemSummary, MVC.Widget.Localisation.Name)', 
                    '@Url.Action(MVC.Localisation.ActionNames.MapItemLink, MVC.Localisation.Name)',
                    '@Url.Action(MVC.Widget.Localisation.AjaxSearch(null))', 
                    @(Model.Criteria.ResultView == eResultView.Map ? "true" : "false"),
                    refreshResults,
                    false,
                    @(Model.Criteria.ResultView == eResultView.Map ? "true" : "false"),
                    false);

                //map initialization
                require(["@MiscHelpers.UrlConstants.jqueryui", "http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize", "@Links.Scripts.map_markerclusterer_js"], function () {

                });
            });
        });
    </script>

    @Html.Partial(MVC.Localisation.Views._MapScript)
}
