@model Worki.Data.Models.VisitorFormViewModel

@section HeadContent
{   
    <title>@Worki.Resources.Views.Visitor.VisitorString.eWorky</title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
}

<div class="detailContent" style="margin-top: 40px;">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Visitor.VisitorString.EWBetaPrivate, "Blue")
      
    @Html.Partial(MVC.Visitor.Views._LogOnForm, Model.LogOn)
    @Html.Partial(MVC.Visitor.Views._VisitorForm, Model.Visitor)
</div>
<div class="visitorBottom">
    @Worki.Resources.Views.Visitor.VisitorString.SugestBug
    @MiscHelpers.ContactMail
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.jquery_placeholder_js)"], function () {
            $('input, textarea').placeholder();
        });
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"]);
    </script>
    @Html.Partial(MVC.Shared.Views._CufonScript)
}
