@model OfferModel<OfferFormViewModel>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Prices)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.LocalisationModelId, LocalisationMainMenu.Offers));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Offer.VerticalMenu(Model.OfferModelId, (int)OfferMenu.Prices));}
	</div>

	<div class="blockContainer float-left contentRight dashedLeft">
		@{Html.RenderAction(MVC.Backoffice.Offer.OfferDropdown(Model.OfferModelId, (int)OfferMenu.Prices));}

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.OfferModelId)
			@Html.HiddenFor(m => m.LocalisationModelId)
			@Html.HiddenFor(m => m.InnerModel.IsSharedOffice)
			<div class="contentBlock configOffer">
                <h3 class="blue">@Worki.Resources.Views.BackOffice.BackOfficeString.PriceConfiguration</h3>
                <table class="configPrice">
                    <tr>
                        <td>
					        <div class="editor-label">
						        @Html.Label(Worki.Resources.Models.Offer.Offer.LeaseTerm)<span class="blue">*</span>
					        </div>
				        </td>
                        <td>
					        <div class="editor-field">
                                <ul class="paymentPeriodType">
						        @foreach (var pair in Offer.GetPaymentPeriodTypes())
                                {
                                <li>
                                @Html.Label(pair.Value)
                                @Html.CheckBox(pair.Key.ToString(), Model.InnerModel.Offer.ForceHasPriceOfType(pair.Key))
                                </li>
                                }
                                </ul>
					        </div>
				        </td>
                    </tr>
                    <tr>
						<td>
							@Html.LabelFor(m => m.InnerModel.Offer.Currency)
						</td>
						<td>
							@Html.DropDownListFor(m => m.InnerModel.Offer.Currency, Model.InnerModel.Currencies)
						</td>
					</tr>
                 <tr>
                   <td>
				        @Html.LabelFor(m => m.InnerModel.Offer.AllInclusive)<span class="blue">*</span>
			        </td>
			        <td>
                       <label for="AllInclusive_true">@Worki.Resources.Models.Offer.Offer.AllInclusive_true</label>
                       @Html.RadioButtonFor(m => m.InnerModel.Offer.AllInclusive, true, new { id = "AllInclusive_true" })
                       <label for="AllInclusive_false">@Worki.Resources.Models.Offer.Offer.AllInclusive_false</label>
                       @Html.RadioButtonFor(m => m.InnerModel.Offer.AllInclusive, false, new { id = "AllInclusive_false" }) 
			        </td>
                </tr>
                </table>
				@Html.Partial(MVC.Offer.Views._OfferPriceList, Model.InnerModel.Offer.OfferPrices)
			</div> 
			<div class="editor-field float-right">
				<input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
			</div>
			<div class="clear"></div>
		}
	</div>
	<div class="clear"></div>
</div>

@section ScriptContent
{
	<script type="text/javascript">
		require(["@Links.Scripts.dropdown_js"], function () {
			InitDropdown("#@DropDownModel.OfferDD");
		});
	</script>
}

