@model MemberBooking

@{
	var statusText = "";
	var color = "";
	if (Model.Expired)
	{
		statusText = "Achevée le " + Model.ToDate;
		color = "Gray";
	}
	else if (Model.Unknown)
	{
		color = "Yellow";
	}
	else if (Model.Refused)
	{
		statusText = "Refusée";
		color = "Red";
	}
	else if (Model.Waiting)
	{
		statusText = "En attente de réglement";
		color = "Orange";
	}
	else if (Model.Paid)
	{
		statusText = "Payé le " + Model.PaidDate.ToShortDateString();
		color = "Green";
	}
}

<li class="bookingItem">
    <div class="contentBlock">
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Customer, Model.Member.GetFullDisplayName())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, CultureHelpers.GetSpecificFormat(Model.CreationDate, CultureHelpers.TimeFormat.LongGeneral))
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, CultureHelpers.GetSpecificFormat(Model.FromDate, CultureHelpers.TimeFormat.General))
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, CultureHelpers.GetSpecificFormat(Model.ToDate, CultureHelpers.TimeFormat.General))
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, Model.Price.ToString())
        </div>
        <div class="bookingStatus bookingStatus@(color) float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
				{
					<div class="bookingStatusDesc">
						@statusText
					</div>
				}
				@if (Model.Unknown)
				{
					<div class="buttonStd buttonBlue linkImg bookingStatusAction">
						@Html.ActionLink("Accepter",MVC.Backoffice.Localisation.ConfirmBooking(Model.Id))
					</div>
					<div class="buttonStd buttonBlue linkImg bookingStatusAction">
						@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseBooking(Model.Id))
					</div>
				}

            </div>
        </div>
        <div class="bookingLinks float-right blue">
            @Html.ActionLink(Worki.Resources.Views.Booking.BookingString.SeeCustomerSheet, MVC.Dashboard.Profil.Public(Model.MemberId))
        </div>
        <div class="clear">
        </div>
    </div>
</li> 