@model MemberBooking

@{
	var statusText = "";
	var color = "";
    Model.GetStatus(out statusText, out color);
}

<li class="bookingItem">
    <div class="innerContentBlock padding10">
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Customer, Model.Member.GetFullDisplayName())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
			@Worki.Resources.Views.Booking.BookingString.Asked : <span class="bold">@Html.DisplayLocalDate(Model.CreationDate)</span><br />
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, Html.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, Html.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
        </div>
        <div class="bookingStatus bookingStatus@(color) borderRadius float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
				{
					<div class="bookingStatusDesc">
						@statusText
					</div>
				}
				@if (Model.OwnerCanAccept)
				{
					<div class="float-left buttonStd buttonBlue linkImg bookingStatusAction marginl5">
						@Html.ActionLink("Accepter",MVC.Backoffice.Localisation.ConfirmBooking(Model.Id))
					</div>
					<div class="float-right buttonStd buttonBlue linkImg bookingStatusAction marginr5">
						@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseBooking(Model.Id))
					</div>
                    <div class="clear"></div>
				}

            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <ul>
                <li>@Html.ActionLink("Details", MVC.Backoffice.Localisation.BookingDetail(Model.Id))</li>
                <li>@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.SeeCustomerSheet, MVC.Dashboard.Profil.Public(Model.MemberId))</li>
            </ul>            
        </div>
        <div class="clear">
        </div>
    </div>
</li> 