@model MemberQuotation

<li class="bookingItem">
    <div class="contentBlock">
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Customer, Model.Member.GetFullDisplayName())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, RazorHelpers.DisplayDate(DateTime.UtcNow, CultureHelpers.TimeFormat.LongGeneral).ToString())
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, Model.Price.ToString())
        </div>
        <div class="bookingStatus float-left">
            <div class="bookingStatusContent">
                <div class="bookingStatusDesc">
                    @Worki.Resources.Views.Booking.BookingString.WaitingForPayement
                </div>
                <div class="buttonStd buttonBlue linkImg bookingStatusAction">
                    <a href=#>@Worki.Resources.Views.Booking.BookingString.Pay</a>
                </div>
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            @Html.ActionLink(Worki.Resources.Views.Booking.BookingString.SeeCustomerSheet, MVC.Dashboard.Profil.Public(Model.MemberId))
        </div>
        <div class="clear">
        </div>
    </div>
</li> 