@model MemberQuotation

@{
	var statusText = "";
	var color = "";
    Model.GetStatus(out statusText, out color);
}

<li class="bookingItem">
    <div class="innerContentBlock padding10">
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, RazorHelpers.DisplayDate(DateTime.UtcNow, CultureHelpers.TimeFormat.LongGeneral).ToString())
            @RazorHelpers.Description("Demande de visite", Model.VisitNeeded ? "Oui" : "Non")
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
            @RazorHelpers.Description("Surface", WebHelper.DisplaySurface(Model.Surface))
        </div>
        <div class="bookingStatus bookingStatus@(color) borderRadius float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
                {
					<div class="bookingStatusDesc">
						@statusText
					</div>
                }
				@if (Model.OwnerCanPay)
                {
					<div class="float-left buttonStd buttonBlue linkImg bookingStatusAction marginl5">
						@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Quotation.PayWithPayPal(Model.Id))
					</div>
                }
                @if (Model.OwnerCanRefuse)
                {
					<div class="float-right buttonStd buttonBlue linkImg bookingStatusAction marginr5">
						@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseQuotation(Model.Id))
					</div>
                }
                <div class="clear"></div>
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <ul>
                <li>@Html.ActionLink("Details", MVC.Backoffice.Localisation.QuotationDetail(Model.Id))</li>
                @if (Model.Paid)
                { 
                    <li>@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.SeeCustomerSheet, MVC.Dashboard.Profil.Public(Model.MemberId))</li>
                }
            </ul>            
        </div>
        <div class="clear">
        </div>
    </div>
</li> 