@model PagingList<MemberBooking>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Historic)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Bookings, MVC.Dashboard.Historic.Booking())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Dashboard.Historic.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock">
            @Html.Partial(MVC.Dashboard.Shared.Views._BookingList, new BookingListViewModel { Bookings = Model })
		</div>
	</div>
	<div class="clear"></div>
</div>