@model Worki.Data.Models.LogOnModel
       
<div class="modal hide" id="login-popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Connexion</h3>
  </div>
  <div class="modal-body">
    @using (Html.BeginForm(MVC.Widget.Account.ActionNames.LogOn, MVC.Widget.Account.Name, FormMethod.Post, new { @class = "well", id = "login-form" }))
    { 
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => m.Login) 
        @Html.TextBoxFor(m => m.Login)
        @Html.LabelFor(m => m.Password) 
        @Html.PasswordFor(m => m.Password)
        @Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword())

        <input type="submit" value="se connecter" class="btn btn-info"/>
    }
  </div>
</div>  

<script type="text/javascript">
    require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
        var errorHandler = function (data) {
            $('#login-error').remove();
            $('#login-form').before('<div id="login-error" class="alert alert-error">' + data + '</div>');
        }
        var successHandler = function (data) {
            window.location = data;
        };
        $('#login-form').submit(function () {
            AppAjax(
		        $(this).attr("action"),
		        "POST",
		        $('#login-form').serializeArray(),
                successHandler,
                errorHandler
	        );
            return false;
        });
    });

</script>