@model Worki.Data.Models.LogOnModel
    
@*    <form class="form-horizontal">
  <fieldset>
    <legend>Legend text</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Text input</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
        <p class="help-block">Supporting help text</p>
      </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button class="btn">Cancel</button>
    </div>
  </fieldset>
</form>*@
   
<div class="modal hide" id="login-popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Connexion</h3>
  </div>
  <div class="modal-body">
    @using (Html.BeginForm(MVC.Widget.Account.ActionNames.LogOn, MVC.Widget.Account.Name, FormMethod.Post, new { @class = "well", id = "login-form" }))
    { 
        <fieldset>
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => m.Login) 
        @Html.TextBoxFor(m => m.Login)
        @Html.LabelFor(m => m.Password) 
        @Html.PasswordFor(m => m.Password)
        @Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword())

        <a href="http://www.eworky.com" target=_blank>Creer un compte</a>
        <input type="submit" value="se connecter" class="btn btn-info"/>
        </fieldset>
    }
  </div>
</div>  

<script type="text/javascript">
    require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
        var errorHandler = function (data) {
            $('#login-error').remove();
            $('#login-form').before('<div id="login-error" class="alert alert-error">' + data + '</div>');
        }
        var successHandler = function (data) {
            window.location = data;
        };
        $('#login-form').submit(function () {
            AppAjax(
		        $(this).attr("action"),
		        "POST",
		        $('#login-form').serializeArray(),
                successHandler,
                errorHandler
	        );
            return false;
        });
    });

</script>