@model Worki.Data.Models.LogOnModel
   
<div class="modal hide" id="login-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>@Worki.Resources.Views.Shared.SharedString.Connect</h3>
    </div>
  
    @using (Html.BeginForm(MVC.Widget.Account.ActionNames.LogOn, MVC.Widget.Account.Name, FormMethod.Post, new { id = "login-form" , @class="form-horizontal"}))
    { 
        <div class="modal-body">
            @Html.AntiForgeryToken()

            <div class="control-group">
                @Html.LabelFor(m => m.Login, new { @class = "control-label" }) 
                <div class="controls">
                    @Html.TextBoxFor(m => m.Login)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" }) 
                <div class="controls">
                    @Html.PasswordFor(m => m.Password)
                    <p class="help-block">@Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword(), new { target = "blank" })</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            @Html.ActionLink(@Worki.Resources.Views.Account.AccountString.Inscription, MVC.Account.ResetPassword(), new { @class="btn btn-warning", target = "blank" })
            <input type="submit" value="@Worki.Resources.Views.Account.AccountString.Login" class="btn btn-info"/>
        </div>
    }
  
</div>  

<script type="text/javascript">
    require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
        var errorHandler = function (data) {
            $('#login-error').remove();
            $('#login-form').before('<div id="login-error" class="alert alert-error">' + data + '</div>');
        }
        var successHandler = function (data) {
            window.location = data;
        };
        $('#login-form').submit(function () {
            AppAjax(
		        $(this).attr("action"),
		        "POST",
		        $('#login-form').serializeArray(),
                successHandler,
                errorHandler
	        );
            return false;
        });
    });
</script>