@using Worki.Data.Models
@using Worki.Web.Helpers
@using Worki.Infrastructure.Helpers

@helper TitleDiv(string title, string color, bool clear = true)
    {
	<div class="titleDivContainer">
		<div class="titleDiv float-left">
			<h1>@title</h1>
		</div>
		<div class="clear">
		</div>
	</div>
}

@helper CenterImage(string src, string emptySrc, string alt)
    {
        if (!string.IsNullOrEmpty(src))
        {
        <img src="@src" alt="@alt"/>
        }
        else
        {
        <img src="@emptySrc" alt="@alt"/>
        }
}

@helper OpenningRow(Localisation model, DayOfWeek dayOfWeek, string displayName)
    {
        if (model.HasOpenningTimes(dayOfWeek))
        {
        <tr>
            <td class="dayOfWeek bold">
                @displayName 
            </td>
            <td>
                @model.GetOpenningTime(dayOfWeek)
            </td>
        </tr> 
        }
}

@helper ReadOnlyRating(double value)
    {
		<div class="rateit" data-rateit-value="@value" data-rateit-readonly="true"></div>
		<meta itemprop="ratingValue" content ="@value"/>
}

@helper FacebookLogon(string url, string text, string cssClass = "")
    {
    <div class="@cssClass">
        <a class="fb_button fb_button_medium" href="@url"><span class="fb_button_text">@text</span></a>
    </div>
}

@helper Description(string item, string value, bool blue = false)
    {
    @item <text>: <span class="bold @(blue ? "blue" : "")">@value</span></text><br />
}