@using Worki.Data.Models
@using Worki.Web.Helpers

@helper TitleDiv(string title, string color, bool clear = true)
{
    <div class="titleDiv title@(color) float-left">
        <h1>@title</h1>
    </div>
	<div class="clear">
    </div>
}

@helper CenterImage(string src, string alt)
{
	if (!string.IsNullOrEmpty(src))
	{
	<div class="centerImg picBack">
		<table>
			<tr>
				<td>
					<img src="@src" alt="@alt"/>
				</td>
			</tr>
		</table>
	</div>	
	}
	else
	{
	<div class="picBackEmpty">
	</div>
	}
}

@helper OpenningRow(Localisation model, DayOfWeek dayOfWeek, string displayName)
	{
		if (model.HasOpenningTimes(dayOfWeek))
		{
        <tr>
            <td class="dayOfWeek bold">
                @displayName 
            </td>
            <td>
                @model.GetOpenningTime(dayOfWeek)
            </td>
        </tr> 
		}
}

@helper ReadOnlyRating(double value)
	{
		<div class="rateit" data-rateit-value="@value" data-rateit-readonly="true"></div>
		<meta itemprop="ratingValue" content ="@value"/>
}

@helper FacebookLogon(string url, string text, string cssClass = "")
{
    <div id="fb-root">
	</div>
	<script src="http://connect.facebook.net/fr_FR/all.js#xfbml=1"></script>
    <a href="@url">
        <div class="@cssClass fb-login-button">@text</div>
    </a>
}