@using Worki.Data.Models
@using Worki.Web.Helpers
@using Worki.Infrastructure.Helpers

@helper TitleDiv(string title, string color, bool clear = true)
{
    <div class="titleDiv title@(color) float-left">
        <h1>@title</h1>
    </div>
	<div class="clear">
    </div>
}

@helper CenterImage(string src, string alt)
{
	<div class="centerImg picBack">
		<table>
			<tr>
				<td>
                    @if(!string.IsNullOrEmpty(src))
                    {
                        <img src="@src" alt="@alt"/>
                    }
                    else
                    {
                        <span class="italic">@Worki.Resources.Views.Localisation.LocalisationString.NoPictureAvailable</span>
                    }
					
				</td>
			</tr>
		</table>
	</div>	
}

@helper OpenningRow(Localisation model, DayOfWeek dayOfWeek, string displayName)
    {
        if (model.HasOpenningTimes(dayOfWeek))
        {
        <tr>
            <td class="dayOfWeek bold">
                @displayName 
            </td>
            <td>
                @model.GetOpenningTime(dayOfWeek)
            </td>
        </tr> 
        }
}

@helper ReadOnlyRating(double value)
    {
		<div class="rateit" data-rateit-value="@value" data-rateit-readonly="true"></div>
		<meta itemprop="ratingValue" content ="@value"/>
}

@helper FacebookLogon(string url, string text, string cssClass = "")
    {
    <div class="@cssClass">
        <a class="fb_button fb_button_medium" href="@url"><span class="fb_button_text">@text</span></a>
    </div>
}

@helper Description(string item, string value)
{
    @item <text>: <span class="bold">@value</span></text><br />
}

@helper DisplayDate(DateTime? date, CultureHelpers.TimeFormat format = CultureHelpers.TimeFormat.Date)
{
    @CultureHelpers.GetSpecificFormat(date, format)
}