@model MemberBooking

<li class="bookingItem">
    <div class="contentBlock">
        <div class="bookingGallery float-left">
            @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Offer.Localisation.GetMainPic(), true), Model.Offer.Localisation.Name)
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, Model.FromDate.ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, Model.ToDate.ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, Model.Price.ToString())
        </div>
        <div class="bookingStatus float-left">
            <div class="bookingStatusContent">
                <div class="bookingStatusDesc">
                    @Worki.Resources.Views.Booking.BookingString.WaitingForPayement
                </div>
                <div class="buttonStd buttonBlue linkImg bookingStatusAction">
                    <a href=#>@Worki.Resources.Views.Booking.BookingString.Pay</a>
                </div>
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <a href="@Model.Offer.Localisation.GetDetailFullUrl(Url)">@Worki.Resources.Views.Booking.BookingString.SeeLocSheet</a>
        </div>
        <div class="clear">
        </div>
    </div>
</li> 