@model MemberBooking

@{
	var statusText = "";
	var color = "";
    Model.GetStatusForClient(out statusText, out color);
}

<li class="bookingItem">
    <div class="contentBlock">
        <div class="bookingGallery float-left">
            @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Offer.Localisation.GetMainPic(), true), Model.Offer.Localisation.Name)
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, RazorHelpers.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, RazorHelpers.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
			@Html.ActionLink("Details", MVC.Dashboard.Home.BookingDetail(Model.Id))
        </div>
        <div class="bookingStatus bookingStatus@(color) float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
				{
		            <div class="bookingStatusDesc">
						@statusText
					</div>
				}
				@if (Model.NeedClientAction)
				{
		            <div class="buttonStd buttonBlue linkImg bookingStatusAction">
						@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Payment.PayWithPayPal(Model.Id))
					</div>
				}
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <a href="@Model.Offer.Localisation.GetDetailFullUrl(Url)">@Worki.Resources.Views.Booking.BookingString.SeeLocSheet</a>
        </div>
        <div class="clear">
        </div>
    </div>
</li> 