@model MemberBooking

@{
	var statusText = "";
	var color = "";
	DateTime? statusDate = null;
	Model.GetStatus(out statusText, out color, out statusDate);
}

<li class="bookingItem">
    <div class="innerContentBlock padding10">
        <div class="bookingGallery float-left">
            @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Offer.Localisation.GetMainPic(), true), Model.Offer.Localisation.Name)
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, Html.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, Html.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, !Model.Price.Equals(0) ? WebHelper.DisplayCurrency(Model.Price) : Worki.Resources.Views.BackOffice.BackOfficeString.NotDefined)
        </div>
        <div class="bookingStatus bookingStatus@(color) borderRadius float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
				{
		            <div class="bookingStatusDesc">
						@statusText @Html.DisplayLocalDate(statusDate)
					</div>
				}
				@if (Model.ClientCanPay)
				{
		            <div class="buttonStd buttonBlue linkImg bookingStatusAction inline-block">
						@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Booking.PayWithPayPal(Model.Id))
					</div>
				}
                @if (Model.ClientCanCancel)
				{
		            <div class="buttonStd buttonBlue linkImg bookingStatusAction inline-block">
						@Html.ActionLink(Worki.Resources.Validation.ValidationString.Cancel, MVC.Dashboard.Home.CancelBooking(Model.Id))
					</div>
				}
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <ul>
                <li>@Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Details, MVC.Dashboard.Home.BookingDetail(Model.Id))</li>
                <li><a href="@Model.Offer.Localisation.GetDetailFullUrl(Url)">@Worki.Resources.Views.Booking.BookingString.SeeLocSheet</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</li> 