@model MemberBooking

@{
	var statusText = "";
	var color = "";
	if (Model.Expired)
	{
		statusText = "Achevée le " + Model.ToDate;
		color = "Gray";
	}
	else if (Model.Unknown)
	{
		statusText = "En attente de confirmation";
		color = "Yellow";
	}
	else if (Model.Refused)
	{
		statusText = "Refusée";
		color = "Red";
	}
	else if (Model.Waiting)
	{
		statusText = "En attente de réglement";
		color = "Orange";
	}
	else if (Model.Paid)
	{
		statusText = "Payé le " + Model.PaidDate.ToShortDateString();
		color = "Green";
	}
}

<li class="bookingItem">
    <div class="contentBlock">
        <div class="bookingGallery float-left">
            @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Offer.Localisation.GetMainPic(), true), Model.Offer.Localisation.Name)
        </div>
        <div class="bookingDesc float-left">
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Localisation, Model.Offer.Localisation.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Offer, Model.Offer.Name)
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, CultureHelpers.GetSpecificFormat(Model.FromDate, CultureHelpers.TimeFormat.General))
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, CultureHelpers.GetSpecificFormat(Model.ToDate, CultureHelpers.TimeFormat.General))
            @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, Model.Price.ToString())
			@Html.ActionLink("Details", MVC.Dashboard.Home.BookingDetail(Model.Id))
        </div>
        <div class="bookingStatus bookingStatus@(color) float-left">
            <div class="bookingStatusContent">
				@if (!string.IsNullOrEmpty(statusText))
				{
		            <div class="bookingStatusDesc">
						@statusText
					</div>
				}
				@if (!Model.Expired && Model.Waiting)
				{
		            <div class="buttonStd buttonBlue linkImg bookingStatusAction">
						@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Payment.PayWithPayPal(Model.Id))
					</div>
				}
            </div>
        </div>
        <div class="bookingLinks float-right blue">
            <a href="@Model.Offer.Localisation.GetDetailFullUrl(Url)">@Worki.Resources.Views.Booking.BookingString.SeeLocSheet</a>
        </div>
        <div class="clear">
        </div>
    </div>
</li> 