@model Worki.Data.Models.PagingList<Localisation>

@{
	var a_class = ViewData.ContainsKey(ProfilConstants.TabId) ? (string)ViewData[ProfilConstants.TabId] : "";
	var pageUrl = ViewData.ContainsKey(ProfilConstants.PageUrl) ? (Func<int, string>)ViewData[ProfilConstants.PageUrl] : null;
}

<ul>
    @foreach (var loc in Model.List.OrderByDescending(x => x.ID))
	{ 
        <li>
            <a href="@loc.GetDetailFullUrl(Url)">
                <div class="localisationTag float-left">
                    <div class="localisationImgDiv borderedImg">
					@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(loc.GetMainPic(), true), loc.Name)
                    </div>
                    <div class="localisationImgDesc">
                        <span class="bold">@loc.Name</span><br />
                        @loc.City
                    </div>                                   
                </div>
            </a>
        </li>
	}
</ul>
<div class="clear">
</div>
<div class="pager @(a_class)">
    @Html.PageLinks(Model.PagingInfo, pageUrl, a_class)
</div>