@model IEnumerable<NewsItem>

<div class="summaryDescription innerContentBlock float-right">
    <div class="newsHeader">
        @Worki.Resources.Views.BackOffice.BackOfficeString.LastNews
    </div>
    <ul class="newsContent">
	@if(Model.Count() != 0)
	{
		foreach (var item in Model)
		{
			<li>
				<div class="newsListLeft float-left">
					<a class="@(item.Read ? "blue" : "orange")" href="@item.Link">@Html.DisplayLocalDate(item.Date, true)</a>
				</div>
				<div class="newsListRight float-right">
					@item.DisplayName
				</div>
				<div class="clear"></div>
			</li>			
		}
	}
	else
	{
		<li>@Worki.Resources.Views.BackOffice.BackOfficeString.EmptyNews</li>
	}
	</ul>
</div>