@model SummaryViewModel

@{
    var css = Model.NoImagePath == Links.Content.images.no_image_png ? "summaryImage" : "summaryImageProfil";
    var folder = Model.NoImagePath == Links.Content.images.no_image_png ? "" : Member.AvatarFolder;
}
<div class="summaryContainer innerContentBlock float-left">
    <div class="@css imageContainer">
        @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.ImagePath, false, folder), Model.NoImagePath, Model.ImageAlt)
    </div>
    <div class="summaryIntro margint10">
        @foreach (var item in Model.Descriptions)
        {
            var bold = item.Bold ? "bold" : "";
            if (string.IsNullOrEmpty(item.Url))
            {
                 <span class="@bold">@item.Value <br /></span>
            }
            else
            {
                <a class="@bold noUnderline" href="@item.Url">@item.Value</a><br />
            }
        }
    </div>
    <div class="clear"></div>
</div>