@model SummaryViewModel

<div class="summaryContainer innerContentBlock padding10 float-left">
    <div class="summaryImage">
        @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.ImagePath), Model.ImageAlt)
    </div>
    <div class="summaryIntro">
        @foreach (var item in Model.Descriptions)
        {
            var bold = item.Bold ? "bold" : "";
            if (string.IsNullOrEmpty(item.Url))
            {
                 <span class="@bold">@item.Value <br /></span>
            }
            else
            {
                <a class="@bold noUnderline" href="@item.Url">@item.Value</a><br />
            }
        }
    </div>
    <div class="clear"></div>
</div>