@model Worki.Data.Models.PagingList<Member>
           
@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace)</title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Member)

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Members, MVC.Admin.Member.IndexUser())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.TopMember, MVC.Admin.Member.Leaderboard())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Admins, MVC.Admin.Member.AdminList())},
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Owner, MVC.Admin.Member.IndexOwner())},
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.PendingBO, MVC.Admin.Member.PendingBO())},
		})
	</div>

	<div class="blockContainer float-left adminPanel">
        <table>
            <thead>
                <tr>
                    <th>
                        @Worki.Resources.Views.Admin.AdminString.Name
                    </th>
                    <th>
                        @Worki.Resources.Views.Admin.AdminString.EmailAddress
                    </th>
					<th>
                        @Worki.Resources.Views.Admin.AdminString.BORole
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                { 
                    <tr>
                        <td align="right">
                            @item.GetFullDisplayName()
                        </td>
                        <td align="right">
							@Html.ActionLink(item.Email, MVC.Account.Public(item.MemberId)) 
                        </td>
						<td align="right">
							@Html.ActionLink(Roles.IsUserInRole(item.Username, MiscHelpers.BackOfficeConstants.BackOfficeRole) ? Worki.Resources.Views.Shared.SharedString.Yes : Worki.Resources.Views.Shared.SharedString.No, MVC.Admin.Member.SetBackoffice(item.MemberId)) 
                        </td>
                    </tr>
				} 
            </tbody>
            <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Member.IndexOwner(x)))
        </div>
	</div>
	<div class="clear"></div>
</div>