@model Worki.Data.Models.Rental

<div class="contentBlock resultItem">
    <div class="resultItemGallery picBack borderRadius float-left">
    @if (!string.IsNullOrEmpty(Model.GetMainPic()))
    {
		<a href="@ViewData["link"]">
		@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.GetMainPic(), true), Model.GetDisplayName())
        </a>
    }
    </div>

    <div class="itemDetailsDiv float-left relative">
        <p class="red detailLink"><span class="itemName">@Html.ActionLink(Model.GetRef(), MVC.Rental.Detail(Model.Id))</span></p>
        <span class="itemAddress">@Model.Address&nbsp; - &nbsp;@Model.PostalCode @Model.City</span>
        <span class="itemType red">@Model.GetRentalType()</span> - <span class="itemDesc">@Html.TruncateAtWord(Model.Description, 120)</span><br />
        <div class="itemLogos bottom displayTable">
            @{var count = 0;}
            @foreach (var access in Model.RentalAccesses.ToList())
            {
                if (count % 2 == 0)
                {
                    <span style="margin-left:5px">@access.DisplayName</span>
                }
                else
                {
                    <span style="margin-left:5px">@access.DisplayName</span><br />
                }
                count++;
            }
        </div>
        <div class="clear"></div>
    </div>

    <div class="float-right" style="width:30%; height:100%">
        <span class="float-left red bold" style="margin-left:10px">@Model.SurfaceString</span>
        <span class="float-right red bold" style="margin-right:10px">@Model.RateString</span>
        <div class="clear"></div>
        <div class="float-right borderRadius rentalElementMoreDetail">
            @Html.ActionLink(Worki.Resources.Views.Rental.RentalString.MoreDetail, MVC.Rental.Detail(Model.Id))
        </div>
    </div>
    <div class="clear"></div>

</div>