@model Worki.Data.Models.RentalFormViewModel

<script type="text/javascript">
    require(["@MiscHelpers.jqueryui"], function () {
        require(["https://www.google.com/jsapi?key=ABQIAAAAdG7nmLSCLLMyUXmPZDmWpBRTF5xuOK5bddqYLfHtIQ9yoLhushTMhg-RXHVzuHh7Q9kwhnxfM_kDtQ", 
                "https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js",
                "@Url.VersionedContent(Links.Scripts.jquery_iframe_transport_js)",
                "@Url.VersionedContent(Links.Scripts.jquery_fileupload_js)",
                "@Url.VersionedContent(Links.Scripts.jquery_fileupload_ui_js)"], function () {
                require.ready(function () {
                    // Initialize the jQuery File Upload widget:
                    $('#fileupload').fileupload({
			            'url': '@Url.Action(MVC.UploadImage.UploadFiles())',
                        'autoUpload': 'true',
                        'maxNumberOfFiles': 10,
                        'maxFileSize': @MiscHelpers.MaxFileSize,
                        'acceptFileTypes': /(\.|\/)(gif|jpe?g|png)$/i
                    });

                    _renderFiles = function (files) {
                        var fu = $('#fileupload').data('fileupload');
                        fu._adjustMaxNumberOfFiles(-files.length);
                        fu._renderDownload(files)
                            .appendTo($('#fileupload .files'))
                            .fadeIn(function () {
                                // Fix for IE7 and lower:
                                $(this).show();
                            });
                        }

                    // Load existing files:
                    $.post('@Url.Action(MVC.UploadImage.LoadFiles())',{ id: @Model.Rental.Id, type: "@ProviderType.Rental" }, _renderFiles, "json");

                    // Open download dialogs via iframes,
                    // to prevent aborting current uploads:
                    $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
                        e.preventDefault();
                        $('<iframe style="display:none;"></iframe>')
                            .prop('src', this.href)
                            .appendTo('body');
                    });
                });
        });
    });
</script>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        {{if error}}
            <td class="error" colspan="2">@Worki.Resources.Views.Shared.SharedString.Error:
                {{if error === 'maxFileSize'}}  @Html.Raw(Worki.Resources.Validation.ValidationString.PictureTooBig)
                {{else error === 'minFileSize'}} @Html.Raw(Worki.Resources.Validation.ValidationString.PictureTooSmall)
                {{else error === 'acceptFileTypes'}} @Html.Raw(Worki.Resources.Validation.ValidationString.PictureWrongExtention)
                {{else error === 'maxNumberOfFiles'}} @Html.Raw(Worki.Resources.Validation.ValidationString.PictureTooMuch)
                {{else}}${error}
                {{/if}} 
            </td>
        {{else}}
            <td class="start"><button>@Worki.Resources.Validation.ValidationString.Start</button></td>
        {{/if}}
        <td class="cancel"><button>@Worki.Resources.Validation.ValidationString.Cancel</button></td>
    </tr>
</script>
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
            <td></td>
            <td class="error" colspan="2">@Worki.Resources.Views.Shared.SharedString.Error:
                {{if error === 1}}@Worki.Resources.Validation.ValidationString.UploadMaxFileSize
                {{else error === 2}}@Worki.Resources.Validation.ValidationString.MaxFileSize
                {{else error === 3}}@Worki.Resources.Validation.ValidationString.PartialUpload
                {{else error === 4}}@Worki.Resources.Validation.ValidationString.NoFileUploaded
                {{else error === 5}}@Worki.Resources.Validation.ValidationString.TempFolderMissing
                {{else error === 6}}@Worki.Resources.Validation.ValidationString.FailWriteToDisk
                {{else error === 7}}@Worki.Resources.Validation.ValidationString.UploadStopExtension
                {{else error === 'maxFileSize'}}@Worki.Resources.Validation.ValidationString.FileTooBig
                {{else error === 'minFileSize'}}@Worki.Resources.Validation.ValidationString.FileTooSmall
                {{else error === 'acceptFileTypes'}}@Worki.Resources.Validation.ValidationString.TypeNotAllowed
                {{else error === 'maxNumberOfFiles'}}@Worki.Resources.Validation.ValidationString.NumberFileExceeded
                {{else error === 'uploadedBytes'}}@Worki.Resources.Validation.ValidationString.UploadedBytesExceedFileSize
                {{else error === 'emptyResult'}}@Worki.Resources.Validation.ValidationString.EmptyFileUpload
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="preview">
                {{if thumbnail_url}}
                    <img src="${thumbnail_url}">
                {{/if}}
                <input name="@PictureData.HiddenImagePrefix${name}" type="hidden" value="@PictureData.HiddenImagePrefix${name}">
            </td>
            <td>
                <div>
                    <label for="@PictureData.IsDefaultPrefix${name}">@Worki.Resources.Views.Shared.SharedString.Principal</label>
                </div>
                <div class="radioDiv">
                {{if is_default}}
                    <input checked="${is_default}" name="@PictureData.IsDefaultPrefix" type="radio" value="@PictureData.HiddenImagePrefix${name}">
                {{else}}
                    <input name="@PictureData.IsDefaultPrefix" type="radio" value="@PictureData.HiddenImagePrefix${name}">
                {{/if}}
                </div>          
            </td>
            <td colspan="2"></td>
        {{/if}}
        <td class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}">@Worki.Resources.Views.Shared.SharedString.Delete</button>
        </td>
    </tr>
</script>
