@model Worki.Data.Models.RentalAccess
@{
	var select = new SelectList(Rental.AccessTypes, "Key", "Value", Model.Type); 
  }

<div class="rentalAccessRow margint10">
	@using (Html.BeginCollectionItem("Rental.RentalAccesses"))
 {
	 <span class="editor-label marginl10">
		@Html.LabelFor(m => m.Type)
	 </span>
	 <span class="editor-field">
		@Html.DropDownListFor(m => m.Type,select)
	 </span>
	<span class="editor-label marginl10">
		@Html.LabelFor(m => m.Line)
	 </span>
	 <span class="editor-field">
		@Html.TextBoxFor(m => m.Line)
	 </span>
	 	<span class="editor-label marginl10">
		@Html.LabelFor(m => m.Station)
	 </span>
	 <span class="editor-field">
		@Html.TextBoxFor(m => m.Station)
	 </span>
	 <a href="#" class="deleteRow marginl10">@Worki.Resources.Views.Shared.SharedString.Delete</a>
 }
</div>