@model Worki.Data.Models.RentalSearchSingleResultViewModel

<div class="contentBlock rentalItem">
    @{  
		var rvd = WebHelper.GetRVD(this);
        rvd["index"] = Model.Index;
        ViewData["link"] = Url.Action(MVC.Rental.ActionNames.FullSearchResultDetail, MVC.Rental.Name, rvd);
    }
    <div class="rentalItemGallery picBack float-left">
    @if (!string.IsNullOrEmpty(Model.Rental.GetMainPic()))
    {
		@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Rental.GetMainPic(), true, PictureData.GetFolder(ProviderType.Rental)), Links.Content.images.no_image_png, Model.Rental.GetDisplayName())
    }
    </div>

    <div class="rentalItemDetailsDiv float-left relative">
        <div class="rentalItemHead red bold">
            <div class="noUnderline float-left">@Html.ActionLink(Model.Rental.GetRentalType() + " - " + Model.Rental.City, MVC.Rental.Detail(Model.Rental.Id))</div>
            <div class="float-right">@Model.Rental.RateString</div>
            <div class="float-right rentalItemSurface">@Model.Rental.SurfaceString</div>
            <div class="clear"></div>
        </div>
        @*<span class="itemAddress">@Model.Rental.Address&nbsp; - &nbsp;@Model.Rental.PostalCode @Model.Rental.City</span>*@
        <span class="bold red">@Model.Rental.GetRef()</span> - <span class="itemDesc">@Html.TruncateAtWord(Model.Rental.Description, 200)</span><br />
        <div class="bottom">
            @{var count = 0;}
            @foreach (var access in Model.Rental.RentalAccesses.ToList())
            {
                <span class="marginl5">@access.DisplayName</span>
                if (count % 2 != 0)
                {
                    <br />
                }
                count++;
            }
        </div>
        <div class="clear"></div>
    </div>
</div>