@model Worki.Data.Models.RentalSearchCriteria

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Rental.RentalString.Rental)</title>
    <link href="@Url.VersionedContent(Links.Content.RentalDetail_min_css)" rel="stylesheet" type="text/css"/>
    <link href="@Url.VersionedContent(Links.Content.Search_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}


<div id="main" class="clearfix">
    <div class="detailContent">
        <div class="​detailcontent">
            <div class="blockContainer">
                <div class="mainRowRental">
	<div class="float-left bigPictureContainer contentBlock">
		                @Html.Image(Links.Content.images.photo3_jpg, Worki.Resources.Views.Shared.SharedString.Workplace)
	                </div>

                    <div class="halfContainerRental float-right contentBlock">
                        <div class="searchFormDiv">

                            @RazorHelpers.TitleDiv(Worki.Resources.Views.Search.SearchString.Search, "Red")

                            @using (Html.BeginForm(MVC.Rental.ActionNames.RentalSearch, MVC.Rental.Name, FormMethod.Post, new { id = "searchform" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(model => model.RentalData.Latitude)
                                @Html.HiddenFor(model => model.RentalData.Longitude)
                                
                                <div class="localisationField">
                                    <div class="featureTag">
                                        <ul id="tagContainer">
                            
                                        </ul>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Place, new { placeholder = Worki.Resources.Views.Home.HomeString.ExampleLocation, @class="tagInput" })
                                    </div>

                                </div>
                                
                                <div class="halfMiniContainer2 float-left margint15">
                                    <div class="label-field red">
                                        @Html.LabelFor(model => model.RentalData.Type)
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(model => model.RentalData.Type, Model.RentalTypeSelect)
                                    </div>
                                </div>
                                
                                <div class="halfMiniContainer2 float-right margint15">
                                    <div class="label-field red" style="margin-bottom:4px">
                                            @Html.LabelFor(model => model.RentalData.AvailableDate)
                                    </div>
                                    <div>
                                        @Html.CheckBoxFor(model => model.RentalData.AvailableNow) <span id="msg">@Worki.Resources.Views.Rental.RentalString.Now</span>
                                        @Html.TextBoxFor(model => model.RentalData.AvailableDate, new { @class = "dp", placeholder = Worki.Resources.Views.Rental.RentalString.DateExample })
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                
                                <div class="halfMiniContainer float-left margint15">
                                    <div class="label-field red">
                                        @Html.LabelFor(model => model.MinRate)
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.MinRate, new { placeholder = Worki.Resources.Views.Rental.RentalString.ExMinRate }) @Worki.Resources.Views.Rental.RentalString.MoneyUnit
                                    </div>

                                    <div class="label-field red margint10">
                                        @Html.LabelFor(model => model.MinSurface)
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.MinSurface, new { placeholder = Worki.Resources.Views.Rental.RentalString.ExMinArea }) @Worki.Resources.Views.Rental.RentalString.AreaUnit
                                    </div>
                                </div>
                
                                <div class="halfMiniContainer float-right margint15">
                                    <div class="label-field red">
                                        @Html.LabelFor(model => model.MaxRate)
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.MaxRate, new { placeholder = Worki.Resources.Views.Rental.RentalString.ExMaxRate }) @Worki.Resources.Views.Rental.RentalString.MoneyUnit
                                    </div>

                                    <div class="label-field red margint10">
                                        @Html.LabelFor(model => model.MaxSurface)
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.MaxSurface, new { placeholder = Worki.Resources.Views.Rental.RentalString.ExMaxArea }) @Worki.Resources.Views.Rental.RentalString.AreaUnit
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="submitSearchContainer float-right marginr10">
                                    <input type="submit" class="buttonRed buttonStd imageBtn" id="send" value="@Worki.Resources.Views.Shared.SharedString.Search"/>
                                </div>
                                <div class="clear"></div> 
                            } 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clear"></div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@MiscHelpers.jqueryui"], function () {
            $.datepicker.regional['fr'] = {
                closeText: 'Fermer',
                prevText: '&#x3c;Préc',
                nextText: 'Suiv&#x3e;',
                currentText: 'Courant',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['fr']);
            $(".dp").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:2020'
            });
        });
        require(["@Url.VersionedContent(Links.Scripts.date_js)"], function () {
            $("#searchform").submit(function () {
                var val = $("#RentalData_AvailableDate").val();
                var date = Date.parseExact(val, "dd/MM/yyyy");
                var newVal = date.toString('MM/dd/yyyy');
                $("#RentalData_AvailableDate").val(newVal);
                return true;
            });
        });

        $("#RentalData_AvailableNow").click(function () {
            if ($("#RentalData_AvailableNow:checked").val() == "true") {
                $("#RentalData_AvailableDate").hide();
                $("#msg").show(); ;
            }
            else {
                $("#RentalData_AvailableDate").show();
                $("#msg").hide();
            }
        });

        function init() {
            $("#RentalData_AvailableDate").hide();
        };

        $(document).ready(function () {
            init();
        });

        var places = "";

        $('.removeTag').live('click', function () {
            $(this).closest('li').remove();
        });

        require(["@MiscHelpers.jqueryui", "@Url.VersionedContent(Links.Scripts.WorkiAutocomplete_js)"], function () {
            var cityAutocomplete = new WorkiCityAutoComplete('#Place');
            cityAutocomplete.SetAutocomplete();
            $("#Place").bind("autocompleteselect", function (event, ui) {
                var tagname = ui.item.value;
                if (tagname != " ") {
                    var newtag = $('<li class="mytag">' + tagname + '<span class="removeTag" title="Effacer ce lieu"> x</span></li>');
                    $("#tagContainer").append(newtag);
                    places += tagname + "|";
                }
                $(this).val("");
                event.preventDefault();
            });
        });


        $("#send").click(function () {
            $("#Place").val(places);
        });
    </script>
}