@model RentalSearchCriteria

@section HeadContent
{
    <link href="@Url.VersionedContent(Links.Content.RentalDetail_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.SearchResults_min_css)" rel="stylesheet" type="text/css" />
}

<div id="main" class="clearfix">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Search.SearchString.YourSearchResult, "Red", false)
    <div class="float-left resultHeader2">
        <span class="bold red">@Worki.Resources.Views.Rental.RentalString.BeginResultAnswer </span>@Model.Count @Worki.Resources.Views.Rental.RentalString.EndResultAnswer
    </div>
    <div class="clear"></div>

    <div class="detailContent">
        <div class="resultDiv dashedRight float-left">
            <div class="rentalSearchLeftPanel">
                @foreach (var rental in Model.Results)
                {
                    @Html.Partial(MVC.Rental.Views._Rental, rental)
                }
            </div>
        </div>
        <div class="float-right rentalSearchRightPanel">
            <div class="rentalSearchLeftPanelDetail">
			    <h3 class="red">@Worki.Resources.Views.Rental.RentalString.AccurateSearch</h3>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.Price</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.Area</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.Localisation</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.AvailableDate</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.ContractType</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

                <h3 class="toogle_trigger_red toogle_trigger_click"><span class="bold">@Worki.Resources.Views.Rental.RentalString.Others</span></h3>
	            <div class="toogle_container">
                    <div class="block">
			            <p>Endroit ou mettre les critères</p>
		            </div>
	            </div>

            </div>
        </div>
	    <div class="clear"></div>
    </div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"]);
    </script>
    @Html.Partial(MVC.Shared.Views._CufonScript)
}
