@model Worki.Data.Models.MemberBookingFormViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Booking.BookingString.BookIt) </title>
	<link href="@Url.VersionedContent(Links.Content.Booking_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var isEditing = Model.MemberBooking.Id != 0;
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Booking.BookingString.BookIt, "Blue")

<div class="detailContent">
    <div class="blockContainer">
	    <div class="bookingFormDiv">
			@using (Html.BeginForm())
            {
                <div class="contentBlock">
                    <div class="speechDiv">
                        @Worki.Resources.Views.Booking.BookingString.BookSpeech;<br/>
                        @Worki.Resources.Views.Booking.BookingString.Speech
                    </div>
                    <div class="clear"></div>
				    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.NeedNewAccount)
				    <table>
                        @if (Model.NeedNewAccount)
                        {
                        <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.LastName)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBoxFor(m => m.LastName)
							    </div>
						    </td>
					    </tr>
                        <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.FirstName)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBoxFor(m => m.FirstName)
							    </div>
						    </td>
					    </tr>
                        <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.Email)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBoxFor(m => m.Email)
							    </div>
						    </td>
					    </tr>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.LastName)
                            @Html.HiddenFor(m => m.FirstName)  
                            @Html.HiddenFor(m => m.Email) 
                        }
					    <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.PhoneNumber)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBoxFor(m => m.PhoneNumber) (<span class="italic">@Worki.Resources.Models.Booking.Booking.PhoneInfo</span>)
							    </div>
						    </td>
					    </tr>
					    <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.MemberBooking.FromDate)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBox("MemberBooking.FromDate", RazorHelpers.DisplayDate(Model.MemberBooking.FromDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" })
							    </div>
						    </td>
					    </tr>
					    <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.MemberBooking.ToDate)<span class="blue">*</span>
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBox("MemberBooking.ToDate", RazorHelpers.DisplayDate(Model.MemberBooking.ToDate, CultureHelpers.TimeFormat.General), new { @class = "dtp" })
							    </div>
						    </td>
					    </tr>
					    <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.MemberBooking.Message)
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextAreaFor(m => m.MemberBooking.Message)
							    </div>
						    </td>
					    </tr>
					    @if (isEditing)
                        {
		 			    <tr>
						    <td>
							    <div class="editor-label">
								    @Html.LabelFor(m => m.MemberBooking.Price)
							    </div>
						    </td>
						    <td>
							    <div class="editor-field">
								    @Html.TextBoxFor(m => m.MemberBooking.Price)
							    </div>
						    </td>
					    </tr>
                    }
				    </table>
                </div>
				<div class="editor-field float-right">
					<input type="submit" class="buttonStd buttonBlue" value="@(isEditing ? Worki.Resources.Views.Booking.BookingString.ConfirmIt : Worki.Resources.Views.Booking.BookingString.BookIt)"/>
				</div>
				<div class="clear"></div>
            }
	    </div>
    </div>
</div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._DatePickerScript)

	<script type="text/javascript">

	    $(document).ready(function () {
	        init();
	    });

    </script>
}

