@model Worki.Data.Models.Localisation

<div class="localisationDetail">
    <div class="localisationDetailHead">
        <div class="localisationTitle">
            <div class="blue bold">
                <span class="localisationName">@Model.Name</span>
            </div>
            <div class="localisationSubtitle">
                <span class="localisationCity blue">@Localisation.GetLocalisationType(Model.TypeValue)</span>&nbsp;&nbsp;
                @{var itinLink = "http://maps.google.com/maps?daddr=" + Model.Adress + " " + Model.PostalCode + " " + Model.City;}
                <a href="@itinLink" target="_blank">
                    @Model.Adress - @Model.PostalCode @Model.City
                </a>
            </div>
            <div class="itemCommDiv">
                @Html.Partial(MVC.Mobile.Localisation.Views._CommentSummary, Model)
            </div>
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <div class="bold blue noUnderline">
                    <a href="tel:@Model.PhoneNumber">@Worki.Resources.Views.Mobile.MobileString.Call @Model.PhoneNumber</a>
                </div> 
            }
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="detailContent">
        <div class="blockContainer">
            @if (Model.LocalisationFiles.Count > 0)
            {
            <div class="localisationGallery contentBlock">
                <div id="gallery">
                    @foreach (var item in Model.LocalisationFiles.OrderBy(f => !f.IsDefault))
                    {
                        <a href="@ControllerHelpers.GetUserImagePath(item.FileName, true)">
            	            <img title="@Model.Name" alt="@Model.Name" src="@ControllerHelpers.GetUserImagePath(item.FileName, true)"/>
        	            </a>                        
                    }
                </div>
            </div>
            }
            @{
				var generalFeatures = Model.GetFeaturesWithin(FeatureHelper.Characteristics);
				var workingPlaceFeatures = Model.GetFeaturesWithin(FeatureHelper.Services);
            }
			<div class="localisationDescription contentBlock">
				@*<h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Description</h3>*@
				<div class="localisationDesc" itemprop="description">
					@Html.Nl2Br(Model.GetDescription())
				</div>
				@if (generalFeatures.Count > 0)
				{
					<h4 class="blue">@Worki.Resources.Views.Localisation.LocalisationString.Equipments</h4>
					<div class="featureTag">
						<ul>
						@foreach (var item in generalFeatures)
						{
							<li>@FeatureHelper.Display(item)</li>
						}       
						</ul>
					</div>
					<div class="clear">
					</div>
				}
				@if (workingPlaceFeatures.Count > 0)
				{
					<h4 class="blue">@Worki.Resources.Views.Shared.SharedString.Services</h4>
					<div class="featureTag">
						<ul>
						@foreach (var item in workingPlaceFeatures)
						{
							<li>@FeatureHelper.Display(item)</li>
						}
						</ul>
					</div> 
					<div class="clear">
					</div>
				}
			</div>
            <div class="localisationComments contentBlock">
                <h3 class="blue">@Worki.Resources.Models.Localisation.Localisation.GiveYourAdvice</h3>
                <div id="commentFormDiv">
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial(MVC.Localisation.Views._CommentForm, new Comment { LocalisationID = Model.ID, Localisation = Model })
                }
				else
				{
					@Html.Partial(MVC.Mobile.Shared.Views._Connexion, new LogOnModel())
				}
                </div>
                @{
					ViewData[Comment.DisplayRelatedLocalisation] = false;
                }
				@foreach (var com in Model.GetOrderedComments())
				{
					if (com.Member == null)
					{
						continue;
					}
					@Html.Partial(MVC.Shared.Views._LocalisationSingleComment, com, ViewData)
				}
            </div>
        </div>
     
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
