@model Worki.Data.Models.SearchSingleResultViewModel
@{  
	if (Model.Index != -1)
	{
		var rvd = WebHelper.GetRVD(this);
		rvd["index"] = Model.Index;
		ViewData["link"] = Url.Action(MVC.Localisation.ActionNames.FullSearchResultDetail, MVC.Localisation.Name, rvd);
	}
	else 
	{
		ViewData["link"] = Url.Action(MVC.Mobile.Localisation.LocalisationDetail(Model.Localisation.ID));
	}
	var fullName = Model.Localisation.GetFullName();
}

<div class="contentBlock resultItem relative noUnderline">
	<a href="@ViewData["link"]">
	    <div class="resultItemGallery picBack borderRadius float-left">
		    @if (!string.IsNullOrEmpty(Model.Localisation.GetMainPic()))
		    {
			    @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Localisation.GetMainPic(), true), Links.Content.images.no_image_png, fullName)
		    }
	    </div>
	    <div class="itemDesc float-right">
		    <div class="blue noUnderline">
			@if (Model.Distance == 0)
			{
				<span class="bold">@fullName</span>
			}
			else
			{
				<span class="bold">@fullName&nbsp;-&nbsp;</span>@String.Format("{0:0.##} km", Model.Distance)
			}			    
		    </div>
		    <div class="itemCommDiv float-left">
			    @Html.Partial(MVC.Mobile.Localisation.Views._CommentSummary, Model.Localisation)
		    </div>
            <div class="itemLogos float-left">
			    @Html.Partial(MVC.Localisation.Views._IconeServices, Model.Localisation)
		    </div>
            <div class="clear">
	        </div>
		    <div>@Model.Localisation.Adress&nbsp;-&nbsp;@Model.Localisation.PostalCode @Model.Localisation.City</div>
		    <div>
			    <span class="bold blue">@Localisation.GetLocalisationType(Model.Localisation.TypeValue)</span> - @Html.TruncateAtWord(Model.Localisation.GetDescription(), 80)
		    </div>
	    </div>
	    <div class="clear">
	    </div>
    </a>
</div>
