@model Worki.Data.Models.Localisation

<div id='inline_content'>            
	@RazorHelpers.TitleDiv(Worki.Resources.Views.Localisation.LocalisationString.SuccessfullyAdded, "Blue")

	<div>
		<div>
			@Worki.Resources.Views.Localisation.LocalisationString.ImproveVisibility
		</div>
		<img src="@Links.Content.images.listing_png" alt="listing" style ="height:221px;max-width:445px;margin:10px 0;"/>
	</div>

	<div class="buttonStd buttonOrange linkImg float-left">
		<a href="#" id="open-graph-button-yes">@Worki.Resources.Views.Localisation.LocalisationString.ShareOnFb</a>
	</div>
	<div class="buttonStd buttonBlue linkImg float-left">
		<a href="#" id="open-graph-button-skip">@Worki.Resources.Views.Localisation.LocalisationString.NoThanks</a>
	</div>
	<div class="clear">
	</div>

	<script type="text/javascript">
		require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
			$('#open-graph-button-yes').click(function () {
				_callback = function (content) {
			        $.colorbox.close();
                    $('#main').prepend(content);
                    $('.informationContainer').delay(8000).slideUp();
				}
				InitOpenGraph(function (response) {
                    $.post('@Url.Action(MVC.Localisation.AddToOpenGraph())',{ id: @Model.GetId(), accessToken: FB.getAccessToken(), type: 'list' }, _callback, "html");
				});
			}); 	

            $('#open-graph-button-skip').click(function () {
                $.colorbox.close();
			}); 
		});
	</script>
</div>