@model Worki.Data.Models.Comment

<form id="submitpostForm">
    <div class="commentFormRating">
        <table>
            @if (!Model.Localisation.IsFreeLocalisation())
			{
            <tr>
                <td>
                    <input type="range" min="0" max="5" value="0" step="1" id="backingRating" />
                    <div class="rateit" data-rateit-backingfld="#backingRating" id="rateItRating"></div>
                </td>
                <td>
                    <div class=" float-left">
                        @Html.LabelFor(model => model.Rating)
                        @Html.HiddenFor(model => model.Rating)
                    </div>
                </td>                    
            </tr>
			}
			else
			{
            <tr>
                <td>
                    <input type="range" min="0" max="5" value="0" step="1" id="backingRatingPrice" />
                    <div class="rateit" data-rateit-backingfld="#backingRatingPrice" id="rateItRatingPrice"></div>
                </td>
                <td>
                    <div class=" float-left">
                        @Html.LabelFor(model => model.RatingPrice)
                        @Html.HiddenFor(model => model.RatingPrice)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="range" min="0" max="5" value="0" step="1" id="backingRatingWifi" />
                    <div class="rateit" data-rateit-backingfld="#backingRatingWifi" id="rateItRatingWifi"></div>
                </td>
                <td>
                    <div class=" float-left">
                        @Html.LabelFor(model => model.RatingWifi)
                        @Html.HiddenFor(model => model.RatingWifi)
                    </div>
                </td>                    
            </tr>
            <tr>
                <td>
                    <input type="range" min="0" max="5" value="0" step="1" id="backingRatingDispo" />
                    <div class="rateit" data-rateit-backingfld="#backingRatingDispo" id="rateItRatingDispo"></div>
                </td>
                <td>
                    <div class=" float-left">
                        @Html.LabelFor(model => model.RatingDispo)
                        @Html.HiddenFor(model => model.RatingDispo)
                    </div>
                </td>                    
            </tr>
            <tr>
                <td>
                    <input type="range" min="0" max="5" value="0" step="1" id="backingRatingWelcome" />
                    <div class="rateit" data-rateit-backingfld="#backingRatingWelcome" id="rateItRatingWelcome"></div>
                </td>
                <td>
                    <div class=" float-left">
                        @Html.LabelFor(model => model.RatingWelcome)
                        @Html.HiddenFor(model => model.RatingWelcome)
                    </div>
                </td>                    
            </tr>
			} 
        </table>
    </div>    
	<div class="editor-label">
		@Html.LabelFor(model => model.PostEs)
	</div>          
	@{
        Model.PostLanguage = (int)Url.GetCulture();
	} 
    @Html.HiddenFor(model => model.PostLanguage)
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Post)
    </div>

    <input type="submit" class="buttonStd buttonBlue margint10" value="@Worki.Resources.Views.Shared.SharedString.Send"/>
</form>	