<div class="directAccess float-left contentBlock">
    <div class="directAccessHead directAccessElem blue">
        <h2>@Worki.Resources.Views.Shared.SharedString.DirectAccess</h2> <span>&nbsp;&nbsp;&nbsp;@Worki.Resources.Views.Shared.SharedString.WhatEWorkyCouldDo</span>
    </div>
    <div class="directAccessStudent directAccessElem float-left">
        @Html.ActionLink(Worki.Resources.Models.Profile.Profile.Student, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eStudent), new { id = eDirectAccessType.eStudent })
    </div>
    <div class="directAccessNomad directAccessElem float-right">
        @Html.ActionLink(Worki.Resources.Views.Search.SearchString.Nomad, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eNomade), new { id = eDirectAccessType.eNomade })
    </div>
    <div class="clear">
    </div>
    <div class="directAccessWorker directAccessElem float-left">
        @Html.ActionLink(Worki.Resources.Models.Profile.Profile.Teleworker, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eTeleworker), new { id = eDirectAccessType.eTeleworker })
    </div>
    <div class="directAccessStartUp directAccessElem float-right">
        @Html.ActionLink(Worki.Resources.Views.Search.SearchString.Entrepreneur, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eStartUp), new { id = eDirectAccessType.eStartUp })
    </div>
    <div class="clear">
    </div>
    <div class="directAccessDrh directAccessElem float-left">
        @Html.ActionLink(Worki.Resources.Models.Profile.Profile.Company, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eEntreprise), new { id = eDirectAccessType.eEntreprise })
    </div>
    <div class="directAccessIndependant directAccessElem float-right">
        @Html.ActionLink(Worki.Resources.Views.Search.SearchString.Independant, MVC.Localisation.FullSearchPerTypeSpecial((int)eDirectAccessType.eIndependant), new { id = eDirectAccessType.eIndependant })
    </div>
</div>