@model Worki.Data.Models.Localisation

<div class="contentBlock">
	<h3 class="blue">@Worki.Resources.Views.Booking.BookingString.Cart</h3>
	@{Html.RenderAction(MVC.Quotation.CartPanel());}
</div>

@{
    var minPrices = Model.GetMinPrices();
    var hasPrices = minPrices.Count() > 0;
}

@if (!Model.IsFreeLocalisation())
{
    <div class="@(hasPrices ? "contentBlock" : "")">
        @if (hasPrices)
        { 
        <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.Tariffs</h3>
        <ul class="marginb10">
            @foreach (var item in minPrices)
            { 
            <li>
                <div class="float-left">
                    @item.Offer.Name
                </div>
                <div class="float-right bold orange">
                    @item.GetPriceDisplay()
                </div>
                <div class="clear">
                </div>
            </li>
            }
        </ul>
        }
        @if (Model.HasOffer())
		{
	    <div class="bookingCallAction marginb5">
		    <div class="bigButtonStd buttonStd buttonBlue linkImg">
                <a href="#offers" id="bookItNow">@Worki.Resources.Views.Localisation.LocalisationString.SeeOffers</a>
            </div>
	    </div>
        <div class="bookingCallAction">
		    <div class="bigButtonStd buttonStd buttonBlue linkImg">
                <a href="@Url.Action(MVC.Quotation.AddToCart(Model.ID, null))" class="addToCart">@Worki.Resources.Views.Booking.BookingString.AddToCart</a>
            </div>
	    </div>
        }
    </div>
}

<div class="localisationMiscRatings contentBlock">
	<h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationString.EworkersOpinion</h3>
	<table>
		<tr>
			<td>
				<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					@RazorHelpers.ReadOnlyRating(Model.GetRatingAverage(RatingType.General))&nbsp;&nbsp;
					<meta itemprop="ratingCount" content ="@Model.Comments.Count">
					<meta itemprop="reviewCount" content ="@Model.Comments.Count">
				</div>
			</td>
			<td>
				<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.GeneralOpinion</span>
			</td>                    
		</tr>
		@if (Model.IsFreeLocalisation())
  {
		<tr>
			<td>
				@RazorHelpers.ReadOnlyRating(Model.GetRatingAverage(RatingType.Price))&nbsp;&nbsp;
			</td>
			<td>
				@Worki.Resources.Models.Localisation.Localisation.RatingPrice
			</td>                    
		</tr>
		<tr>
			<td>
				@RazorHelpers.ReadOnlyRating(Model.GetRatingAverage(RatingType.Wifi))&nbsp;&nbsp;
			</td>
			<td>
				@Worki.Resources.Models.Localisation.Localisation.RatingWifi
			</td>                    
		</tr>
		<tr>
			<td>
				@RazorHelpers.ReadOnlyRating(Model.GetRatingAverage(RatingType.Dispo))&nbsp;&nbsp;
			</td>
			<td>
				@Worki.Resources.Models.Localisation.Localisation.RatingDispo
			</td>                    
		</tr>
		<tr>
			<td>
				@RazorHelpers.ReadOnlyRating(Model.GetRatingAverage(RatingType.Welcome))&nbsp;&nbsp;
			</td>
			<td>
				@Worki.Resources.Models.Localisation.Localisation.RatingWelcome
			</td>                    
		</tr>
  }
	</table>
	@{
        var haveAvoid = Model.GetAvoidString();
        if (!string.IsNullOrEmpty(haveAvoid))
        {
		<span class="bold">@Worki.Resources.Views.Localisation.LocalisationFormString.AvoidPeriods : </span>@haveAvoid
        }
	}
</div>

@if (Model.HasOwner())
{
<div class="contentBlock">
	<h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationString.Host</h3>

    <div class="commentAvatar borderedImg float-left">
	@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Member.MemberMainData.Avatar, true, Member.AvatarFolder), Links.Content.images.avatar_png, Model.Member.GetDisplayName())
	</div>
    <div class="float-left">
        <div class="boldLink blue">@Html.ActionLink(Model.Member.GetDisplayName(), MVC.Account.Public(Model.Member.MemberId))</div>
    </div>
	<div class="clear">
	</div>    
</div>    
}

@if (Roles.IsUserInRole(MiscHelpers.AdminConstants.AdminRole))
{
   
	<div class="contentBlock">
		<h3 class="blue">@Worki.Resources.Views.Shared.SharedString.InfoAdmin</h3>
		@{
    var lastEdition = Model.GetLastEdition();
    var creation = Model.GetCreation();
		}
		@if (creation != null)
  {
			<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.AddBy</span><span class="boldLink blue">@Html.ActionLink(creation.Member.GetDisplayName(), MVC.Account.Public(creation.Member.MemberId))</span><br />
			<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.TheDate</span>@Html.DisplayLocalDate(creation.ModificationDate)<br />
  }
  else
  { 
			<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.AddBy</span><span class="boldLink blue">@Html.ActionLink(Model.Member.GetDisplayName(), MVC.Account.Public(Model.Member.MemberId))</span><br />
  }
		@if (lastEdition != null)
  {
			<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.LastEditBy</span><span class="boldLink blue">@Html.ActionLink(lastEdition.Member.GetDisplayName(), MVC.Account.Public(lastEdition.Member.MemberId))</span><br />
			<span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.TheDate</span>@Html.DisplayLocalDate(lastEdition.ModificationDate)<br />
  }
        @if (Model.HasOwner() && Model.OwnerID.HasValue)
        {
            <span class="bold">@Worki.Resources.Views.Localisation.LocalisationString.OwnerIdentity</span><span class="boldLink blue">@Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Owner, MVC.Account.Public(Model.OwnerID.Value))</span><br />
        }
        @if (Model.MainLocalisation != null)
        {
            <span class="bold">@Worki.Resources.Views.Admin.AdminString.Stickers : </span><span class="boldLink blue">@(Model.MainLocalisation.HasSticker ? Worki.Resources.Views.Shared.SharedString.Yes : Worki.Resources.Views.Shared.SharedString.No)</span><br />
        }
	</div>
}

<div class="contentBlock">
	<h3 class="blue marginb10">@Worki.Resources.Views.Localisation.LocalisationString.Suggestion</h3>
	@{Html.RenderAction(MVC.Localisation.Suggestions(Model.ID));}
</div>
