@model Worki.Data.Models.Localisation

@helper AggregatedOfferBlock(Localisation localisation, LocalisationOffer offerType)
	{
		if (!localisation.HasOffer(offerType))
		{
			return;
		}
		var files = localisation.GetOfferFiles(offerType);
		var features = localisation.GetOfferFeatures(offerType);
        var title = Localisation.GetOfferType((int)offerType, false);
		var text = Worki.Resources.Views.Offer.OfferString.OffersDetail;
		if (Offer.OfferCanHaveProduct(offerType) )
		{
            if (Offer.OfferCanHaveQuotation(offerType) && localisation.Offers.Where(x => x.Type == (int)offerType).Count(y => y.IsQuotable) != 0)
			{
				text = Worki.Resources.Views.Booking.BookingString.AskQuotation;
			}
            else if (Offer.OfferCanHaveBooking(offerType) && localisation.Offers.Where(x => x.Type == (int)offerType).Count(y => y.IsBookable) != 0)
			{ 
				text = Worki.Resources.Views.Localisation.LocalisationString.BookIt;
			}
		}
		<div class="contentBlock">
			<h3 class="blue">@title</h3>
@*			@if (files.Count() > 0)
			{
            <div class="offerGallery">
				@foreach (var item in files)
				{
					<a href="@ControllerHelpers.GetUserImagePath(item.FileName, false, PictureData.GetFolder(ProviderType.Offer))" class="hidden">
            			<img title="@title" alt="@title" src="@ControllerHelpers.GetUserImagePath(item.FileName, false, PictureData.GetFolder(ProviderType.Offer))" itemprop="image"/>
        			</a>                        
				}
			</div>
			<div class="clear">
			</div>
			}*@
			@if (features.Count() == 0)
			{
				<div class="italic">@Worki.Resources.Views.Offer.OfferString.InfoUnknown</div>
			}
			else
			{
			<div class="featureTag">
				<ul>
				@foreach (var item in features)
				{
					<li>@FeatureHelper.Display(item)</li>
				}
				</ul>
			</div> 
			<div class="clear">
			</div>
			}
			<div class="buttonStd buttonBlue linkImg float-right">@Html.ActionLink(text, MVC.Localisation.Offers(localisation.ID, (int)offerType))</div>
			<div class="clear">
			</div>
		</div> 
}

<div itemscope itemtype="http://schema.org/LocalBusiness">
	<div class="localisationDetailHead">
		<div class="localisationTitle float-left">
			<div class="float-left blue bold">
			<span class="item">
				<span class="localisationName" itemprop="name">@Model.Name</span>
			</span>
			</div>
			<div class="clear">
			</div>
			<div class="localisationSubtitle" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span class="localisationCity bold blue">@Localisation.GetLocalisationType(Model.TypeValue)</span>&nbsp;&nbsp;
				@{var itinLink = "http://maps.google.com/maps?daddr=" + Model.Adress + " " + Model.PostalCode + " " + Model.City;}
				<a href="@itinLink" target="_blank">
					<span itemprop="streetAddress">@Model.Adress</span> - <span itemprop="postalCode">@Model.PostalCode</span> <span itemprop="addressLocality">@Model.City</span>
				</a>
			</div>
			<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
				<meta itemprop="latitude" content="@Model.Latitude" />
				<meta itemprop="longitude" content="@Model.Longitude" />
			</div>
		</div>
		<div class="localisationShare float-right">
		@{
			var link = Model.GetDetailFullUrl(Url);
			if (Request.IsAuthenticated)
			{
				var id = WebHelper.GetIdentityId(User.Identity);
				if (id != 0)
				{
					if (Model.FavoriteLocalisations.Where(f => f.MemberId == id).Count() > 0)
					{
						ViewData[ProfilConstants.DelFavorite] = true;
					}
					else
					{
						ViewData[ProfilConstants.AddToFavorite] = true;
					}
				}
			}
		}
			<div id="fb-root">
			</div>
			<script src="http://connect.facebook.net/fr_FR/all.js#xfbml=1"></script>
			<fb:like href="@link" layout="button_count" show_faces="false" font="arial" style="vertical-align: top;">
			</fb:like>
			<!-- Placez cette balise à l'endroit où vous souhaitez que le bouton +1 s'affiche --> 
			<g:plusone size="medium" href="@link"></g:plusone>                       
			<a  href="http://twitter.com/share" 
				class="twitter-share-button"
				data-text="@String.Format(Worki.Resources.Views.Localisation.LocalisationString.Recommendation, Model.Name)" 
				data-count="horizontal" 
				data-via="eWorky"
				data-counturl="@link">
					@Worki.Resources.Views.Localisation.LocalisationString.Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
			<div id="favLink">
				@Html.Partial(MVC.Shared.Views._AddToFavorite)
			</div>              
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="detailContent">
		<div class="localisationDetailLeft blockContainer float-left">
			@if (Model.LocalisationFiles.Count > 0)
			{
			<div class="localisationGallery contentBlock">
				<div class="gallery">
					@foreach (var item in Model.LocalisationFiles.OrderBy(f => !f.IsDefault))
					{
						<a href="@ControllerHelpers.GetUserImagePath(item.FileName)" class="hidden">
            				<img title="@Model.Name" alt="@Model.Name" src="@ControllerHelpers.GetUserImagePath(item.FileName)" itemprop="image"/>
        				</a>                        
					}
				</div>
			</div>
			}
			@{
				var generalFeatures = Model.GetFeaturesWithin(FeatureHelper.Characteristics);
				var workingPlaceFeatures = Model.GetFeaturesWithin(FeatureHelper.Services);
			}
			<div class="localisationDescription contentBlock">
				@*<h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Description</h3>*@
				<div class="localisationDesc" itemprop="description">
					@Html.Nl2Br(Model.Description)
				</div>
				@if (generalFeatures.Count > 0)
				{
					<h4 class="servicesBlock">@Worki.Resources.Views.Localisation.LocalisationString.Equipments</h4>
					<div class="featureTag">
						<ul>
						@foreach (var item in generalFeatures)
						{
							<li>@FeatureHelper.Display(item)</li>
						}       
						</ul>
					</div>
					<div class="clear">
					</div>
				}
				@if (workingPlaceFeatures.Count > 0)
				{
					<h4 class="servicesBlock margint10">@Worki.Resources.Views.Shared.SharedString.Services</h4>
					<div class="featureTag">
						<ul>
						@foreach (var item in workingPlaceFeatures)
						{
							<li>@FeatureHelper.Display(item)</li>
						}
						</ul>
					</div> 
					<div class="clear">
					</div>
				}
			</div>
			@AggregatedOfferBlock(Model, LocalisationOffer.BuisnessLounge)
			@AggregatedOfferBlock(Model, LocalisationOffer.Workstation)
			@AggregatedOfferBlock(Model, LocalisationOffer.Desktop)
			@AggregatedOfferBlock(Model, LocalisationOffer.MeetingRoom)
			@AggregatedOfferBlock(Model, LocalisationOffer.SeminarRoom)
			@AggregatedOfferBlock(Model, LocalisationOffer.VisioRoom)
			<div class="localisationComments contentBlock">
				<h3 class="blue">@Worki.Resources.Models.Localisation.Localisation.GiveYourAdvice</h3>
				<div id="commentFormDiv">
					@if (Request.IsAuthenticated)
					{
						@Html.Partial(MVC.Localisation.Views._CommentForm, new Comment { LocalisationID = Model.ID, Localisation = Model })
					}
					else
					{	
						@Html.ActionLink(Worki.Resources.Views.Account.AccountString.Login, MVC.Account.LogOn(null, Request.RawUrl))
					}
				</div>
				@{
					ViewData[Comment.DisplayRelatedLocalisation] = false;
				}
				@foreach (var com in Model.GetOrderedComments())
				{
					if (com.Member == null)
					{
						continue;
					}
					@Html.Partial(MVC.Shared.Views._LocalisationSingleComment, com, ViewData)
				}
			</div>
		</div>
		<div class="localisationDetailRight blockContainer float-right">
		@Html.Partial(MVC.Localisation.Views._LocalisationInfos)
		</div>
		<div class="clear">
		</div>
	</div>
</div>

<div class="buttonStd buttonBlue linkImg float-right">
@Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.EditPlace, MVC.Localisation.Edit(Model.ID))
</div>
@if (Roles.IsUserInRole(MiscHelpers.AdminConstants.AdminRole))
{
	<div class="buttonStd buttonBlue linkImg float-right">
	@Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.DeletePlace, MVC.Admin.Sheet.DeleteLocalisation(Model.ID))
	</div>
}
<div class="clear">
</div>
