@model Worki.Data.Models.LocalisationFormViewModel
           
@using (Html.BeginForm(MVC.Localisation.ActionNames.Edit, MVC.Localisation.Name, FormMethod.Post, new { enctype = "multipart/form-data", id = "localisationEditForm" }))
{
    @Html.AntiForgeryToken()
    <div class="galleryEdition float-left">
    @Html.Partial(MVC.Localisation.Views._GalleryForm, Model.Localisation)
    </div>

    <div class="localisationDataEdition dataEdition float-left">
        <div class="generalInfos">
        <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.GlobalInformations</h3> <span class="titleDesc">&nbsp;&nbsp;(<span class="blue">*</span>@Worki.Resources.Views.Localisation.LocalisationFormString.MandatoryFields)</span>
        <table class="generalInfosTable editionTable">
            <tr>
                <td>
                </td>
                <td>
                    <div class="editor-label localisationOwnerField">
                    @Html.FeatureCheckBox(Model.Localisation, Feature.LocalisationOwner, FeatureType.General)
                    @Html.FeatureLabelFor(Feature.LocalisationOwner, FeatureType.General)
                    </div>
                </td>
            </tr>
			@*<tr>
                <td>
                </td>
                <td>
                    <div class="editor-label localisationOwnerField">
                    @Html.CheckBoxFor(m => m.Localisation.Bookable)
                    @Html.LabelFor(m => m.Localisation.Bookable)
                    </div>
                </td>
            </tr>*@
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.TypeValue)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("Localisation.TypeValue", Model.Types, new { @class = "typeSelect" })
                        @Html.ValidationMessage("TypeValue", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.Label(Worki.Resources.Views.Localisation.LocalisationFormString.Offers)<span class="blue">*</span>
                    </div>
                </td>
                <td id="offerContainer">
                    <table>
                        <tr>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.FreeArea, FeatureType.WorkingPlace)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.FreeArea, FeatureType.WorkingPlace)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.BuisnessRoom, FeatureType.WorkingPlace)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.BuisnessRoom, FeatureType.WorkingPlace)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.Workstation, FeatureType.WorkingPlace)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.LabelFor(Worki.Resources.Views.Localisation.LocalisationString.ProWorkPlace, Localisation.GetFeatureDesc(Feature.Workstation, FeatureType.WorkingPlace))
                                @*@Html.FeatureLabelFor(Feature.Workstation,FeatureType.WorkingPlace) professionnel*@
                                </div>
                            </td>
                    
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.MeetingRoom, FeatureType.MeetingRoom)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.MeetingRoom, FeatureType.MeetingRoom)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.SeminarRoom, FeatureType.SeminarRoom)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.SeminarRoom, FeatureType.SeminarRoom)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.VisioRoom, FeatureType.VisioRoom)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.VisioRoom, FeatureType.VisioRoom)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-field">
                                @Html.FeatureCheckBox(Model.Localisation, Feature.SingleDesk, FeatureType.WorkingPlace)
                                </div>
                            </td>
                            <td>
                                <div class="editor-label">
                                @Html.FeatureLabelFor(Feature.SingleDesk, FeatureType.WorkingPlace)
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.Name)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.Name, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.PlacesExample })
                        @Html.ValidationMessage("Name", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="field-validation-error">
                        <div id="localisationAtSamePlaceReplace"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.Adress)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.Adress)
                        @Html.ValidationMessage("Adress", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.City)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.City)
                        @Html.ValidationMessage("City", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.PostalCode)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.PostalCode)
                        @Html.ValidationMessage("PostalCode", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.Country)<span class="blue">*</span>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.Country)
                        @Html.ValidationMessage("Country", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="phoneNumberRow">
                        <tr>
                            <td>
                                <div class="editor-label phoneNumberCol">
                                    @Html.LabelFor(model => model.Localisation.PhoneNumber)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Localisation.PhoneNumber)
                                    @Html.ValidationMessage("PhoneNumber", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-label faxCol">
                                    @Html.LabelFor(model => model.Localisation.Fax)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Localisation.Fax)
                                    @Html.ValidationMessage("Fax", "")
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.Mail)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.Mail)
                        @Html.ValidationMessage("Mail", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.WebSite)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Localisation.WebSite)
                        @Html.ValidationMessage("WebSite", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Localisation.Description)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Localisation.Description)
                        @Html.ValidationMessage("Description", "")
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </div>

<div class="editPlace float-right borderRadius">
    <h3 class="orange">@Worki.Resources.Views.Localisation.LocalisationFormString.GoogleMapsLocalisation</h3>
    <span class="titleDesc" style="display:block">@Worki.Resources.Views.Localisation.LocalisationFormString.RefineLocation</span>
    <div id="editMapDiv"></div>
    <button class="resetPosBtn" type="button" id="resetPos">@Worki.Resources.Views.Localisation.LocalisationFormString.ResetPosition</button>
</div>

<p>
    @Html.HiddenFor(model => model.Localisation.Latitude)
    @Html.HiddenFor(model => model.Localisation.Longitude)
</p>

<div class="clear">
</div>

<div class="editAllservices dataEdition">
    <div class="freeAreaType">
        <h3 class="blue">@Worki.Resources.Models.Localisation.LocalisationFeatures.FreeArea</h3>
        <div class="serviceContainer">
            <div class="subserviceContainer float-left">
                <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.AvoidPeriods</h4>
                <ul>
                    <li>
                        @Html.FeatureChecboxLabel(Model.Localisation, Feature.AvoidMorning, FeatureType.General)
                    </li>
                    <li>
                        @Html.FeatureChecboxLabel(Model.Localisation, Feature.AvoidLunch, FeatureType.General)
                    </li>
                    <li>
                        @Html.FeatureChecboxLabel(Model.Localisation, Feature.AvoidAfternoom, FeatureType.General)
                    </li>
                    <li>
                        @Html.FeatureChecboxLabel(Model.Localisation, Feature.AvoidEvening, FeatureType.General)
                    </li>
                </ul>
            </div>
            <div class="subserviceContainer float-left">
                <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Tariffs</h4>
                <ul>
                    <li>
                        <div class="coffeePrice editor-label">
                            @Html.LabelFor(model => model.Localisation.LocalisationData.CoffeePrice)
                            @Html.TextBoxFor(model => model.Localisation.LocalisationData.CoffeePrice, new { placeholder = "Ex : 1.20" })&nbsp;&nbsp;&#8364;
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>

    <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.PlaceDetails</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Facilities</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Handicap, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Wifi_Free, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Wifi_Not_Free, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Parking, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Outlet, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.FastInternet, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.SafeStorage, FeatureType.General)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Comfort</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Coffee, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Restauration, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.AC, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.ErgonomicFurniture, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Shower, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Newspaper, FeatureType.General)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.TV, FeatureType.General)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>

    <div class="workingPlaceFeatures">
    <h3 class="blue">@Localisation.LocalisationFeatureTypes[FeatureType.WorkingPlace]</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.ProfessionalServices</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Domiciliation, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Secretariat, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Courier, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Printer, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Computers, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Archiving, FeatureType.WorkingPlace)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.UserServices</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Concierge, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Pressing, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.ComputerHelp, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.RoomService, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Community, FeatureType.WorkingPlace)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.RelaxingArea, FeatureType.WorkingPlace)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>

    <div class="meetingRoomFeatures">
    <h3 class="blue">@Localisation.LocalisationFeatureTypes[FeatureType.MeetingRoom]</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.RoomCapacity</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room2_7, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room7_20, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room20_plus, FeatureType.MeetingRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationString.Equipments</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Audio, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Visio, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Projector, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.VideoProj, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Paperboard, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Internet, FeatureType.MeetingRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.PhoneJack, FeatureType.MeetingRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Services</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Drinks, FeatureType.MeetingRoom)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>

    <div class="seminarRoomFeatures">
    <h3 class="blue">@Localisation.LocalisationFeatureTypes[FeatureType.SeminarRoom]</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.RoomCapacity</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room20_100, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room100_250, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room250_1000, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room1000_plus, FeatureType.SeminarRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Facilities</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Scene, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Micro, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Picturesque, FeatureType.SeminarRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Services</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Welcoming, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Accommodation, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Lighting, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Sound, FeatureType.SeminarRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Catering, FeatureType.SeminarRoom)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>

    <div class="visioRoomFeatures">
    <h3 class="blue">@Localisation.LocalisationFeatureTypes[FeatureType.VisioRoom]</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.RoomCapacity</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room1_4, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room5_10, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Room10_Plus, FeatureType.VisioRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.ProposedTechnology</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Visio, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.VisioHD, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Telepresence, FeatureType.VisioRoom)
                </li>
            </ul>
        </div>
        <div class="subserviceContainer float-left">
            <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.EquipementsServices</h4>
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Paperboard, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Internet, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.PhoneJack, FeatureType.VisioRoom)
                </li>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Drinks, FeatureType.VisioRoom)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>

    <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.Access</h3>
    <table class="generalInfosTable editionTable">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Localisation.PublicTransportation)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Localisation.PublicTransportation, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SubwayExample })
                    @Html.ValidationMessage("PublicTransportation", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Localisation.Station)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Localisation.Station, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SncfExample })
                    @Html.ValidationMessage("Station", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Localisation.RoadAccess)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Localisation.RoadAccess, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.RoadExample })
                    @Html.ValidationMessage("RoadAccess", "")
                </div>
            </td>
        </tr>
    </table>

    <h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Hourly</h3>
    <div class="serviceContainer">
        <div class="subserviceContainer float-left">
            <ul>
                <li>
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.Access24, FeatureType.General)
                </li>
                <li id="lunchCloseChecked">
                    @Html.FeatureChecboxLabel(Model.Localisation, Feature.LunchClose, FeatureType.General)
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="editOpenning">
    <table class="editionTable">
        @{var frenchCulture = System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"); }
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Monday
            </td>
            <td>
                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                @Html.TextBox("Localisation.MonOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonOpen), new { placeholder = "Ex : 9:00" })
                @*@Html.TextBoxFor(model => model.Localisation.MonOpen)*@
                @Html.ValidationMessage("MonOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                @Html.TextBox("Localisation.MonClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonClose2), new { placeholder = "Ex : 12:30" })
                @Html.ValidationMessage("MonClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                @Html.TextBox("Localisation.MonOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonOpen2), new { placeholder = "Ex : 14:00" })
                @Html.ValidationMessage("MonOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                @Html.TextBox("Localisation.MonClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonClose), new { placeholder = "Ex : 18:00" })
                @Html.ValidationMessage("MonClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Tuesday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.TueOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueOpen), new { placeholder = "Ex : 9:00" })
                @Html.ValidationMessage("TueOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.TueClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueClose2))
                @Html.ValidationMessage("TueClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.TueOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueOpen2))
                @Html.ValidationMessage("TueOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.TueClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueClose), new { placeholder = "Ex : 22:00" })
                @Html.ValidationMessage("TueClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Wednesday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.WedOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedOpen))
                @Html.ValidationMessage("WedOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.WedClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedClose2))
                @Html.ValidationMessage("WedClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.WedOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedOpen2))
                @Html.ValidationMessage("WedOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.WedClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedClose))
                @Html.ValidationMessage("WedClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Thursday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.ThuOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuOpen))
                @Html.ValidationMessage("ThuOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.ThuClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuClose2))
                @Html.ValidationMessage("ThuClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.ThuOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuOpen2))
                @Html.ValidationMessage("ThuOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.ThuClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuClose))
                @Html.ValidationMessage("ThuClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Friday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.FriOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriOpen))
                @Html.ValidationMessage("FriOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.FriClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriClose2))
                @Html.ValidationMessage("FriClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.FriOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriOpen2))
                @Html.ValidationMessage("FriOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.FriClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriClose))
                @Html.ValidationMessage("FriClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Saturday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.SatOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatOpen))
                @Html.ValidationMessage("SatOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.SatClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatClose2))
                @Html.ValidationMessage("SatClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.SatOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatOpen2))
                @Html.ValidationMessage("SatOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.SatClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatClose))
                @Html.ValidationMessage("SatClose", "")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Worki.Resources.Views.Localisation.LocalisationFormString.Sunday
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.SunOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunOpen))
                @Html.ValidationMessage("SunOpen", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.SunClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunClose2))
                @Html.ValidationMessage("SunClose2", "")
                </div>
            </td>
            <td class="lunchclose">
                <div class="editor-field">
                @Html.TextBox("Localisation.SunOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunOpen2))
                @Html.ValidationMessage("SunOpen2", "")
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBox("Localisation.SunClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunClose))
                @Html.ValidationMessage("SunClose", "")
                </div>
            </td>
        </tr>
    </table>
    </div>
</div>
<div class="submitAddButton float-right">
<input  type="submit" class="btn_text btn_orange_plus_right btn_orange_plus imageBtn" 
        name="valid" id="submit_add" value="@(Model.Localisation.ID == 0 ? "Ajouter" : "Valider")"/>
</div>
<div class="clear">
</div>
} 
