@model Worki.Data.Models.SearchCriteriaFormViewModel

@{
    var dropDown = new DropDownModel
    {
        Id = DropDownModel.AdvancedSearchDD,
        Title = Worki.Resources.Views.Search.SearchString.AdvancedSearch,
        Items = new List<DropDownItem>
				{
					new DropDownItem{ DisplayName = Worki.Resources.Views.Search.SearchString.SearchByPlaceType, Link = Url.Action(MVC.Home.Index()), Id="searchPerType"},
					new DropDownItem{ DisplayName = Worki.Resources.Views.Search.SearchString.SearchByServiceType, Link = Url.Action(MVC.Localisation.FullSearchPerType()), Id = "searchPerNeed"},
					new DropDownItem{ DisplayName = Worki.Resources.Views.Search.SearchString.SearchByPlaceName, Link = Url.Action(MVC.Localisation.FullSearchPerName()), Id = "searchPerName" }
				}
    };
}

<div id="searchFormPartialContainer">
	@using (Html.BeginForm(MVC.Localisation.ActionNames.FullSearch, MVC.Localisation.Name, FormMethod.Post, new { id = "searchform" }))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
		@Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
		@Html.HiddenFor(model => model.Criteria.SearchType)
		@Html.HiddenFor(model => model.Criteria.OrderBy)
		
		<div class="indexSearch relative">
	    @switch (Model.Criteria.SearchType)
		{
			case eSearchType.ePerOffer:
			{
				<h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
				<div class="editor-field indexSearchFormField">
					@Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
				</div>
		 
				<h3>@Worki.Resources.Views.Home.HomeString.What</h3>
				<div class="editor-field indexSearchFormField">
					@Html.DropDownListFor(model => model.Criteria.OfferData.Type, Model.Offers)
				</div>
			}
			break;
			case eSearchType.ePerName:
			{
				<h3>@Worki.Resources.Views.Search.SearchString.VenueName</h3>
				<div class="editor-field indexSearchFormField">
					@Html.TextBoxFor(model => model.Criteria.LocalisationData.Name, new { placeHolder = @Worki.Resources.Views.Search.SearchString.VenueNameExample }) 
				</div>
		 
				<h3>@Worki.Resources.Views.Search.SearchString.Where</h3>
				<div class="editor-field indexSearchFormField">
					@Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Search.SearchString.PlaceExamples })
				</div>
			}
			break;
			case eSearchType.ePerType:
			{
				<h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
				<div class="editor-field indexSearchFormField">
					@Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
				</div>
		 
				<h3>@Worki.Resources.Views.Search.SearchString.SearchType</h3>
				<div class="editor-field  indexSearchFormField">
@*					<div class="searchCheckBoxs float-left">
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.CoworkingSpace)
						@Html.LabelFor(model => model.Criteria.CoworkingSpace)
						</div>
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.Telecentre)
						@Html.LabelFor(model => model.Criteria.Telecentre)
						</div>
					</div>
					<div class="float-left">
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.SharedOffice)
						@Html.LabelFor(model => model.Criteria.SharedOffice)
						</div>
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.BuisnessCenter)
						@Html.LabelFor(model => model.Criteria.BuisnessCenter)
						</div>
					</div>
					<div class="float-right">
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.FreeAreas)
						@Html.LabelFor(model => model.Criteria.FreeAreas)
						</div>
						<div class="editor-field">
						@Html.CheckBoxFor(model => model.Criteria.OtherTypes)
						@Html.LabelFor(model => model.Criteria.OtherTypes)
						</div>
					</div>
					<div class="clear"></div>   *@
                    @Html.DropDownListFor(model => model.Criteria.GlobalType, Model.GlobalTypes)
				</div>
			}
			break;
	}

		<div class="indexSearchIndexLinks bottom">
			<div class="indexSearchIndexLinksLeft float-left">
			@Html.Partial(MVC.Shared.Views._DropDownList, dropDown)    
			</div>
			<div class="indexSearchIndexLinksRight float-right">
				<input type="submit" class="bigButtonStd buttonStd buttonBlue" id="btn_searchIndex" value="@Worki.Resources.Views.Home.HomeString.Searching" />
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
}
</div>