@model Worki.Data.Models.SearchSingleResultViewModel

<div class="contentBlock resultItem">
    @{  
		var link = Model.Localisation.GetDetailFullUrl(Url);
		var fullName = Model.Localisation.GetFullName();
    }
    <div class="resultItemGallery float-left">
        @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Localisation.GetMainPic(), true), Links.Content.images.no_image_png, fullName)
        <div class="ratingContainer margint5">
			@RazorHelpers.ReadOnlyRating(Model.Localisation.GetRatingAverage(RatingType.General))<span class="blue noUnderline"><a href="@(link + "#commentFormDiv")">@(string.Format("{0} {1}", Model.Localisation.Comments.Count, Worki.Resources.Views.Search.SearchString.Opinion))</a></span>
			<div class="clear">
			</div> 
		</div>
    </div>
    <div class="itemDetailsDiv float-left relative">
        <h3 class="bold blue noUnderline">
            <a href="@link" title="@fullName">@fullName</a>
            @if (Model.Distance < 1000)
            {
                <span>&nbsp;-&nbsp;@String.Format(Worki.Resources.Views.Localisation.LocalisationString.Distance, Model.Distance) </span>
            }
        </h3>
        <div>
            <span class="bold orange">@Localisation.GetLocalisationType(Model.Localisation.TypeValue)</span> - @Model.Localisation.Adress&nbsp; - &nbsp;@Model.Localisation.PostalCode @Model.Localisation.City
        </div>
        @*<div class="margint5">
            @if (Model.Localisation.HasOffer())
            {
                <div class="featureTag">
                    <ul>
                    @foreach (var item in Model.Localisation.GetOfferTypeList())
                    {
                        <li>@item</li>
                    } 
                    </ul>
                </div>
                <div class="clear">
                </div>
            }
        </div>*@
        <div class="margint5">
            @Html.TruncateAtWord(Model.Localisation.GetDescription(), 160)
        </div>
        <div class="itemBottom bottom">
            <div class="float-left">
                @Html.Partial(MVC.Localisation.Views._IconeServices, Model.Localisation)
            </div>
            <div class="float-right">
                @*@if (Model.Localisation.IsSharedOffice())
			    {
                    <div class="itemPriceDisplay float-left">
					    @string.Format(Worki.Resources.Views.Localisation.LocalisationString.ModifiedThe, CultureHelpers.GetSpecificFormat(Model.Localisation.GetLastModificationDate(), CultureHelpers.TimeFormat.Date))
				    </div>
			    }*@
                <div class="itemPriceDisplay float-left bold orange">
				    @Model.Localisation.GetMinPrice()
			    </div>
                @if (Model.Localisation.IsBookable())
                {                
			    <div class="buttonStd buttonBlue linkImg float-left">
                    <a href="@link">@Worki.Resources.Views.Localisation.LocalisationString.BookIt</a>
			    </div>
                }
                else
                { 
                <div class="buttonStd buttonBlue linkImg float-left">
                    <a href="@link">@Worki.Resources.Views.Localisation.LocalisationString.MoreDetails</a>
			    </div>
                }
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
