@model Worki.Data.Models.SearchCriteriaFormViewModel

<div class="searchFormDiv" id="searchFormPartialContainer">
    @RazorHelpers.TitleDiv(SearchCriteria.GetDirectAccessTitle(Model.Criteria.DirectAccessType), "Blue")

    @using (Html.BeginForm(MVC.Localisation.ActionNames.FullSearch, MVC.Localisation.Name, FormMethod.Post, new { id = "searchform" }))
    { 
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
        @Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
        @Html.HiddenFor(m => m.Criteria.SearchType)
        @Html.HiddenFor(m => m.Criteria.DirectAccessType)

        <div class="localisationField">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Search.SearchString.PlaceExamples })
            </div>
        </div>

        <div>
            @switch (Model.Criteria.SearchType)
            {
                case eSearchType.ePerOffer:
                    {
            <div class="searchBottom searchCriterias">
                <div class="localisationTypes searchOptions float-left">
                    <p class="blue">@Worki.Resources.Views.Search.SearchString.TypeOfService</p>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Criteria.OfferData.Type, Model.Offers, new { @class = "offerSelect" })
                    </div>
                </div>
                <div class="searchOptions float-left">
                    <p class="blue">@Worki.Resources.Views.Search.SearchString.Equipments</p>
                    @Html.Partial(MVC.Localisation.Views._ServicesSelector)
                </div>
                <div class="clear">
                </div>
                <div class="searchOptions">
                    <div id="searchOption0">
                        <p class="blue">@Worki.Resources.Views.Search.SearchString.Features</p>
                        <div id="searchOptionToReplace">
                            <div class="float-left searchCheckBoxs">
                                @Html.FeatureChecboxLabel(Feature.Outlet, Model.Criteria.LocalisationData)
                                @Html.FeatureChecboxLabel(Feature.FastInternet, Model.Criteria.LocalisationData)
                                @Html.FeatureChecboxLabel(Feature.AC, Model.Criteria.LocalisationData)
                            </div>
                        <div class="clear">
                        </div>
                        </div>
                    </div>                                       
                </div>
                <div class="clear">
                </div>                
            </div>
                    }
                    break;
                case eSearchType.ePerType:
                    {
            <div class="searchBottom searchCriterias">
                <div class="localisationTypes searchOptions float-left">
                    <p class="blue">@Worki.Resources.Views.Search.SearchString.KindOfLocation</p>
                    <div class="float-left">
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.Everything)
                        @Html.LabelFor(model => model.Criteria.Everything)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.SpotWifi)
                        @Html.LabelFor(model => model.Criteria.SpotWifi)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.CoffeeResto)
                        @Html.LabelFor(model => model.Criteria.CoffeeResto)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.Biblio)
                        @Html.LabelFor(model => model.Criteria.Biblio)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.PublicSpace)
                        @Html.LabelFor(model => model.Criteria.PublicSpace)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.TravelerSpace)
                        @Html.LabelFor(model => model.Criteria.TravelerSpace)
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.Hotel)
                        @Html.LabelFor(model => model.Criteria.Hotel)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.Telecentre)
                        @Html.LabelFor(model => model.Criteria.Telecentre)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.BuisnessCenter)
                        @Html.LabelFor(model => model.Criteria.BuisnessCenter)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.CoworkingSpace)
                        @Html.LabelFor(model => model.Criteria.CoworkingSpace)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.WorkingHotel)
                        @Html.LabelFor(model => model.Criteria.WorkingHotel)
                        </div>
                        <div class="editor-field">
                        @Html.CheckBoxFor(model => model.Criteria.PrivateArea)
                        @Html.LabelFor(model => model.Criteria.PrivateArea)
                        </div>
                    </div>
                    <div class="clear">
                    </div>                            
                </div>
            </div>
                    }
                    break;
                default:
                    break;
            }
            <div class="searchLinkAndSubmit">
                <div class="changeSeachType float-left">    
                @{
                    var dropDown = new DropDownModel
                    {
                        Id = DropDownModel.AdvancedSearchDD,
                        Title = "selectionnnez",
                        Items = new List<DropDownItem>
					                {
						                new DropDownItem{ DisplayName = "Par type de lieu", Link = Url.Action(MVC.Localisation.FullSearchPerType()), Id = "searchPerType"},
                                        new DropDownItem{ DisplayName = "Par type de prestation", Link = Url.Action(MVC.Localisation.FullSearch()), Id = "searchPerNeed"}
					                }
                    };                     
                }      
                @Html.Partial(MVC.Shared.Views._DropDownList, dropDown)              
                </div>
                <div class="submitSearchContainer  float-right">
                    <input type="submit" class="buttonBlue buttonStd imageBtn" value="@Worki.Resources.Views.Shared.SharedString.Search"/>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    }
</div>