@model Worki.Data.Models.SearchCriteriaFormViewModel

<h3 class="blue">@Worki.Resources.Views.Search.SearchString.RefineSearch</h3>
<div id="searchPanelForm">
    @Html.Partial(MVC.Localisation.Views._SearchPanelForm)
    @Html.HiddenFor(model => model.Criteria.GlobalType)
</div>

<script type="text/javascript">
    require(["@Links.Scripts.dropdown_js"], function () {
        InitDropdown("#@DropDownModel.OrderByDD");
    });

    var mapSearch = null;
    require(["@Url.VersionedContent(Links.Scripts.jquery_history_js)","@Url.VersionedContent(Links.Scripts.Utils_js)","@Url.VersionedContent(Links.Scripts.jquery_rateit_js)", "@MiscHelpers.UrlConstants.jqueryui", "@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
        initLoadPending();
        InitScroller();

        require(["@Url.VersionedContent(Links.Scripts.WorkiSearchMap_js)"], function () {
            refreshResults = function (data) {
                $('#searchResults').html(data.list);
                $('#searchSelectorContainer').html(data.order);
                $('#searchPanelForm').html(data.form);
                $('.titleDivContainer h1').html(data.title);
                mapSearch.PushResults(data.place, data.localisations);
                $('div.rateit').rateit();
                hideLoadPending();
            };

            mapSearch = new WorkiMapSearch('@Url.Action(MVC.Localisation.ActionNames.MapItemSummary, MVC.Localisation.Name)', 
            '@Url.Action(MVC.Localisation.ActionNames.MapItemLink, MVC.Localisation.Name)',
            '@Url.Action(MVC.Localisation.FullSearch(null))', 
            @(Model.Criteria.ResultView == eResultView.Map ? "true" : "false"),
            refreshResults);

            //map initialization
            require(["http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize", "@Links.Scripts.map_markerclusterer_js"], function () {

            });
        });
    });
</script>

@Html.Partial(MVC.Localisation.Views._MapScript)