@model Worki.Data.Models.SearchSingleResultViewModel

<div class="contentBlock resultItem">
    @{  
		var rvd = WebHelper.GetRVD(this);
        rvd["index"] = Model.Index;
        ViewData["link"] = Url.Action(MVC.Localisation.ActionNames.FullSearchResultDetail, MVC.Localisation.Name, rvd);
    }
    <div class="resultItemGallery picBack borderRadius float-left">
		@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Localisation.GetMainPic(), true), Model.Localisation.Name)
    </div>
    <div class="itemDetailsDiv float-left relative">
        <p class="blue noUnderline">
            <span class="itemName">@Html.ActionLink(Html.TruncateAtWord(Model.Localisation.Name, 30).ToString(), MVC.Localisation.ActionNames.FullSearchResultDetail, rvd, new Dictionary<string, object> { { "title", Model.Localisation.Name } })</span>
            @if (Model.Distance < 1000)
            {
                <span>&nbsp; -&nbsp;@String.Format("{0:0.##} km", Model.Distance) </span>
            }            
        </p>
        <span class="itemAddress">@Html.TruncateAtWord(Model.Localisation.Adress, 40)&nbsp; - &nbsp;@Model.Localisation.PostalCode @Model.Localisation.City</span>
		<div>
			<span class="bold blue">@Localisation.GetLocalisationType(Model.Localisation.TypeValue)</span> - <span class="itemDesc">@Html.TruncateAtWord(Model.Localisation.Description, Model.Localisation.IsSharedOffice() ? 180 : 120)</span>
		</div>
		@if (!Model.Localisation.IsSharedOffice())
		{
        <div class="itemLogos bottom">
			<div class="float-left">
				@Html.Partial(MVC.Localisation.Views._IconeServices, Model.Localisation)
			</div>
			<div class="float-right bold blue">
				A partir de 30 € / mois
			</div>
			<div class="clear">
			</div>
        </div>
		}
    </div>

    <div class="itemCommDiv float-right">
		<div class="commentBgd">
			<div class="commentContainer">
				<div class="ratingContainer">
					@RazorHelpers.ReadOnlyRating(Model.Localisation.GetRatingAverage(RatingType.General))<span class="blue noUnderline"><a href="@(ViewData["link"] + "#commentFormDiv")">@(string.Format("{0} {1}", Model.Localisation.Comments.Count, Worki.Resources.Views.Search.SearchString.Opinion))</a></span>
					<div class="clear">
					</div> 
				</div>
				@foreach (var com in Model.Localisation.GetCommentSummary())
                {
					<p>&laquo; @Html.TruncateAtWord(com.Post, 60)&raquo; <span class="commentUser bold">@com.Member.GetDisplayName()</span>
					</p>
				}
			</div>
			<div class="clear">
			</div>
		</div>
    </div>
</div>
