@model Worki.Data.Models.SearchCriteria

@helper SelectFeatures(SearchCriteria model, LocalisationOffer offerType)
    {
        switch (offerType)
        {
            case LocalisationOffer.BuisnessLounge:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.Outlet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.FastInternet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.SafeStorage, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Shower, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Newspaper, model.LocalisationData)
    </div>
            break;
            case LocalisationOffer.Workstation:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.FastInternet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.ErgonomicFurniture, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Secretariat, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Printer, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Computers, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Community, model.LocalisationData)
    </div>
            break;
            case LocalisationOffer.Desktop:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.FastInternet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Domiciliation, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Secretariat, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Courier, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.Community, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.RelaxingArea, model.LocalisationData)
    </div>
            break;
            case LocalisationOffer.MeetingRoom:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.Room2_7, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room7_20, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room20_plus, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Audio, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.VideoProj, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Drinks, model.OfferData)
    </div>
            break;
            case LocalisationOffer.SeminarRoom:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.Room20_100, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room100_250, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room250_1000, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room1000_plus, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Welcoming, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Catering, model.OfferData)
    </div>
            break;
            case LocalisationOffer.VisioRoom:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.Room1_4, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room5_10, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Room10_Plus, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Visio, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.VisioHD, model.OfferData)
        @Html.FeatureChecboxLabel(Feature.Telepresence, model.OfferData)
    </div>
            break;
            case LocalisationOffer.FreeArea:
            default:
    <div id="searchOptionToReplace">                            
        @Html.FeatureChecboxLabel(Feature.Outlet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.FastInternet, model.LocalisationData)
        @Html.FeatureChecboxLabel(Feature.AC, model.LocalisationData)
    </div>                  
            break;
        }
}

<script type="text/javascript">
    var offer0 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.FreeArea).ToString())';
    var offer1 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.BuisnessLounge).ToString())';
    var offer2 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.Workstation).ToString())';
    var offer3 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.Desktop).ToString())';
    var offer4 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.MeetingRoom).ToString())';
    var offer5 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.SeminarRoom).ToString())';
    var offer6 = '@Html.JSEscape(SelectFeatures(Model, LocalisationOffer.VisioRoom).ToString())';
    //show correct search pane
    SelectSearch = function () {
        //reset
        var currentOffer = jQuery.trim($("#Criteria_OfferData_Type").val());
        var newDivContent = '';
        switch (currentOffer) {
            case "-1":
            case "0":
                newDivContent = offer0;
                break;
            case "1":
                newDivContent = offer1;
                break;
            case "2":
                newDivContent = offer2;
                break;
            case "3":
                newDivContent = offer3;
                break;
            case "4":
                newDivContent = offer4;
                break;
            case "5":
                newDivContent = offer5;
                break;
            case "6":
                newDivContent = offer6;
                break;
        }
        $("#searchOptionToReplace").replaceWith(newDivContent);
    }
    SelectSearch();
    $('.offerSelect').live('change', function () {
        SelectSearch();
    });
</script>