@model Worki.Data.Models.Localisation

@helper SelectFeatures(Localisation model, LocalisationOffer offerType, bool isSearchForm)
    {
        if (isSearchForm)
        {
            switch (offerType)
            {
                case LocalisationOffer.BuisnessRoom:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Outlet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.SafeStorage, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Shower, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Newspaper, FeatureType.General)
            </div>
        </div>
                break;
                case LocalisationOffer.Workstation:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.ErgonomicFurniture, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Secretariat, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Printer, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Computers, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Community, FeatureType.WorkingPlace)
            </div>
        </div>
                break;
                case LocalisationOffer.SingleDesk:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Domiciliation, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Secretariat, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Courier, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Community, FeatureType.WorkingPlace)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.RelaxingArea, FeatureType.WorkingPlace)
            </div>
        </div>
                break;
                case LocalisationOffer.MeetingRoom:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room2_7, FeatureType.MeetingRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room7_20, FeatureType.MeetingRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room20_plus, FeatureType.MeetingRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Audio, FeatureType.MeetingRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.VideoProj, FeatureType.MeetingRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Drinks, FeatureType.MeetingRoom)
            </div>
        </div>
                break;
                case LocalisationOffer.SeminarRoom:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room20_100, FeatureType.SeminarRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room100_250, FeatureType.SeminarRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room250_1000, FeatureType.SeminarRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room1000_plus, FeatureType.SeminarRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Welcoming, FeatureType.SeminarRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Catering, FeatureType.SeminarRoom)
            </div>
        </div>
                break;
                case LocalisationOffer.VisioRoom:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room1_4, FeatureType.VisioRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room5_10, FeatureType.VisioRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Room10_Plus, FeatureType.VisioRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Visio, FeatureType.VisioRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.VisioHD, FeatureType.VisioRoom)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Telepresence, FeatureType.VisioRoom)
            </div>
        </div>
                break;
                case LocalisationOffer.FreeArea:
                default:
        <div id="searchOptionToReplace">                            
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.Outlet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
            </div>
            <div class="editor-field">
            @Html.FeatureChecboxLabel(model, Feature.AC, FeatureType.General)
            </div>
        </div>                  
                break;
            }
        }
        else
        {
            switch (offerType)
            {
                case LocalisationOffer.BuisnessRoom:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.Outlet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.SafeStorage, FeatureType.General)
            </div>
            <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                @Html.FeatureChecboxLabel(model, Feature.Shower, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.Newspaper, FeatureType.General)
            </div>
            <div class="clear">
            </div>
        </div>
           break;
                case LocalisationOffer.Workstation:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.ErgonomicFurniture, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.Secretariat, FeatureType.WorkingPlace)
            </div>
            <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                @Html.FeatureChecboxLabel(model, Feature.Printer, FeatureType.WorkingPlace)
                @Html.FeatureChecboxLabel(model, Feature.Computers, FeatureType.WorkingPlace)
                @Html.FeatureChecboxLabel(model, Feature.Community, FeatureType.WorkingPlace)
            </div>
            <div class="clear">
            </div>
        </div>
           break;
                case LocalisationOffer.SingleDesk:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.Domiciliation, FeatureType.WorkingPlace)
                @Html.FeatureChecboxLabel(model, Feature.Secretariat, FeatureType.WorkingPlace)
            </div>
            <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                @Html.FeatureChecboxLabel(model, Feature.Courier, FeatureType.WorkingPlace)
                @Html.FeatureChecboxLabel(model, Feature.Community, FeatureType.WorkingPlace)
                @Html.FeatureChecboxLabel(model, Feature.RelaxingArea, FeatureType.WorkingPlace)
            </div>
            <div class="clear">
            </div>
        </div>
           break;
                case LocalisationOffer.MeetingRoom:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.Room2_7, FeatureType.MeetingRoom)
                @Html.FeatureChecboxLabel(model, Feature.Room7_20, FeatureType.MeetingRoom)
                @Html.FeatureChecboxLabel(model, Feature.Room20_plus, FeatureType.MeetingRoom)
            </div>
            <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                @Html.FeatureChecboxLabel(model, Feature.Audio, FeatureType.MeetingRoom)
                @Html.FeatureChecboxLabel(model, Feature.VideoProj, FeatureType.MeetingRoom)
                @Html.FeatureChecboxLabel(model, Feature.Drinks, FeatureType.MeetingRoom)
            </div>
            <div class="clear">
            </div>
        </div>
           break;
                case LocalisationOffer.SeminarRoom:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.Room20_100, FeatureType.SeminarRoom)
                @Html.FeatureChecboxLabel(model, Feature.Room100_250, FeatureType.SeminarRoom)
                @Html.FeatureChecboxLabel(model, Feature.Room250_1000, FeatureType.SeminarRoom)
            </div>
            <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                @Html.FeatureChecboxLabel(model, Feature.Room1000_plus, FeatureType.SeminarRoom)
                @Html.FeatureChecboxLabel(model, Feature.Welcoming, FeatureType.SeminarRoom)
                @Html.FeatureChecboxLabel(model, Feature.Catering, FeatureType.SeminarRoom)
            </div>
            <div class="clear">
            </div>
        </div>
           break;
                case LocalisationOffer.VisioRoom:
            <div id="searchOptionToReplace">                            
                <div class="float-left searchCheckBoxs">
                    @Html.FeatureChecboxLabel(model, Feature.Room1_4, FeatureType.VisioRoom)
                    @Html.FeatureChecboxLabel(model, Feature.Room5_10, FeatureType.VisioRoom)
                    @Html.FeatureChecboxLabel(model, Feature.Room10_Plus, FeatureType.VisioRoom)
                </div>
                <div class="float-left searchCheckBoxs" style="padding-left:30px;">
                    @Html.FeatureChecboxLabel(model, Feature.Visio, FeatureType.VisioRoom)
                    @Html.FeatureChecboxLabel(model, Feature.VisioHD, FeatureType.VisioRoom)
                    @Html.FeatureChecboxLabel(model, Feature.Telepresence, FeatureType.VisioRoom)
                </div>
                <div class="clear">
                </div>
            </div>
                break;
                case LocalisationOffer.FreeArea:
                default:
        <div id="searchOptionToReplace">                            
            <div class="float-left searchCheckBoxs">
                @Html.FeatureChecboxLabel(model, Feature.Outlet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.FastInternet, FeatureType.General)
                @Html.FeatureChecboxLabel(model, Feature.AC, FeatureType.General)
            </div>
            <div class="clear">
            </div>
        </div>
                break;
            }
        }
}

<script type="text/javascript">
    require.ready(function () {
        @{ bool isSearchForm = (bool)ViewData["IsSearchForm"]; }
        var offer0 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.FreeArea, isSearchForm).ToString()))';
        var offer1 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.BuisnessRoom, isSearchForm).ToString()))';
        var offer2 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.Workstation, isSearchForm).ToString()))';
        var offer3 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.SingleDesk, isSearchForm).ToString()))';
        var offer4 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.MeetingRoom, isSearchForm).ToString()))';
        var offer5 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.SeminarRoom, isSearchForm).ToString()))';
        var offer6 = '@Html.Raw(Html.JSEscape(SelectFeatures(Model, LocalisationOffer.VisioRoom, isSearchForm).ToString()))';
        //show correct search pane
        SelectSearch = function () {
            //reset
            var currentOffer = jQuery.trim($("#Criteria_LocalisationOffer").val());
            var newDivContent = '';
            switch (currentOffer) {
                case "-1":
                case "0":
                    newDivContent = offer0;
                    break;
                case "1":
                    newDivContent = offer1;
                    break;
                case "2":
                    newDivContent = offer2;
                    break;
                case "3":
                    newDivContent = offer3;
                    break;
                case "4":
                    newDivContent = offer4;
                    break;
                case "5":
                    newDivContent = offer5;
                    break;
                case "6":
                    newDivContent = offer6;
                    break;
            }
            $("#searchOptionToReplace").replaceWith(newDivContent);
        }
        SelectSearch();
        $('.offerSelect').live('change', function () {
            SelectSearch();
        });

        //check all types
        $("#Criteria_Everything").live('click', function () {
            var isAll = $("#Criteria_Everything:checked").val();
            if (isAll == 'true') {
                $("#Criteria_SpotWifi").attr('checked', false);
                $("#Criteria_CoffeeResto").attr('checked', false);
                $("#Criteria_Biblio").attr('checked', false);
                $("#Criteria_PublicSpace").attr('checked', false);
                $("#Criteria_TravelerSpace").attr('checked', false);
                $("#Criteria_Hotel").attr('checked', false);
                $("#Criteria_Telecentre").attr('checked', false);
                $("#Criteria_BuisnessCenter").attr('checked', false);
                $("#Criteria_CoworkingSpace").attr('checked', false);
                $("#Criteria_WorkingHotel").attr('checked', false);
                $("#Criteria_PrivateArea").attr('checked', false);
            }
        });
        UnckeckEverything = function (checkboxId) {
            $(checkboxId).live('click', function () {
                var checked = checkboxId + ':checked';
                var isTrue = $(checked).val();
                if (isTrue == 'true') {
                    $("#Criteria_Everything").attr('checked', false);
                }
            });
        };
        UnckeckEverything("#Criteria_SpotWifi");
        UnckeckEverything("#Criteria_CoffeeResto");
        UnckeckEverything("#Criteria_Biblio");
        UnckeckEverything("#Criteria_PublicSpace");
        UnckeckEverything("#Criteria_TravelerSpace");
        UnckeckEverything("#Criteria_Hotel");
        UnckeckEverything("#Criteria_Telecentre");
        UnckeckEverything("#Criteria_BuisnessCenter");
        UnckeckEverything("#Criteria_CoworkingSpace");
        UnckeckEverything("#Criteria_WorkingHotel");
        UnckeckEverything("#Criteria_PrivateArea");

        SelectForm = function (event, searchType, directAccessType) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action(MVC.Localisation.ActionNames.SearchForm, MVC.Localisation.Name)',
                data: { 'searchType': searchType, 'directAccessType': directAccessType },
                success: function (data) {
                    $('#searchFormPartialContainer').html(data);
                }
            });
            var newTitle;
            switch(directAccessType)
            {
                case '@eDirectAccessType.eStudent':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eStudent))';
                    break;
                case '@eDirectAccessType.eNomade':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eNomade))';
                    break;
                case '@eDirectAccessType.eTeleworker':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eTeleworker))';
                    break;
                case '@eDirectAccessType.eStartUp':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eStartUp))';
                    break;
                case '@eDirectAccessType.eEntreprise':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eEntreprise))';
                    break;
                case '@eDirectAccessType.eIndependant':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eIndependant))';
                    break;
                case '@eDirectAccessType.eNone':
                    newTitle = '@Html.Raw(SearchCriteria.GetDirectAccessTitle(eDirectAccessType.eNone))';
                    break;
            }
            $('.searchFormDiv .titleDiv h1').text(newTitle);
        }

        $('#searchPerType').live('click', function (event) {
            SelectForm(event, '@eSearchType.ePerType', '@eDirectAccessType.eNone');
        });

        $('#searchPerNeed').live('click', function (event) {
            SelectForm(event, '@eSearchType.ePerOffer', '@eDirectAccessType.eNone');
        });

        DirectAccessSelectForm = function (theType) {
            var id = '#' + theType;
            $(id).click(function (event) {
                SelectForm(event, '@eSearchType.ePerType', theType);
            });
        }

        DirectAccessSelectForm('@eDirectAccessType.eStudent');
        DirectAccessSelectForm('@eDirectAccessType.eNomade');
        DirectAccessSelectForm('@eDirectAccessType.eTeleworker');
        DirectAccessSelectForm('@eDirectAccessType.eStartUp');
        DirectAccessSelectForm('@eDirectAccessType.eEntreprise');
        DirectAccessSelectForm('@eDirectAccessType.eIndependant');
    });
</script>