@model Worki.Data.Models.SearchCriteriaFormViewModel

<div class="float-left" title="@Worki.Resources.Models.Localisation.LocalisationFeatures.Wifi_Free">
    <div class="linkImg" id="wifiLnk">
    <a href="#"></a>
    </div>
    @Html.FeatureHidden(Feature.Wifi_Free, Model.Criteria.LocalisationData)
</div>

<div class="float-left" title="@Worki.Resources.Models.Localisation.LocalisationFeatures.Restauration">
    <div class="linkImg" id="restoLnk">
    <a href="#"></a>
    </div>
    @Html.FeatureHidden(Feature.Restauration, Model.Criteria.LocalisationData)
</div>

<div class="float-left" title="@Worki.Resources.Models.Localisation.Localisation.Coffee">
    <div class="linkImg" id="coffeeLnk">
    <a href="#"></a>
    </div>
    @Html.FeatureHidden(Feature.Coffee, Model.Criteria.LocalisationData)
</div>

<div class="float-left" title="@Worki.Resources.Models.Localisation.LocalisationFeatures.Parking">
    <div class="linkImg" id="parkingLnk">
    <a href="#"></a>
    </div>
    @Html.FeatureHidden(Feature.Parking, Model.Criteria.LocalisationData)
</div>

<div class="float-left" title="@Worki.Resources.Models.Localisation.Localisation.UsefulHandicap">
    <div class="linkImg" id="handicapLnk">
    <a href="#"></a>
    </div>
    @Html.FeatureHidden(Feature.Handicap, Model.Criteria.LocalisationData)
</div>

<div class="clear">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function SetActiveClass(divId, active, inactive, hClass) {
            $(divId).removeClass(inactive);
            $(divId).addClass(active);
            $(divId).unbind('mouseenter mouseleave');
            $(divId).hover(
                function () {
                    $(this).removeClass(active);
                    $(this).addClass(hClass);
                },
                function () {
                    $(this).removeClass(hClass);
                    $(this).addClass(active);
                });
        }
        function InitState(fieldId, divId, imgName) {
            var val = $(fieldId).val();
            var onClass = 'serviceIcones_' + imgName + '_on';
            var offClass = 'serviceIcones_' + imgName + '_off';
            var hClass = 'serviceIcones_' + imgName + '_h';
            var active = '';
            var inactive = '';
            if (val == "True") {
                active = onClass;
                inactive = offClass;
            }
            else {
                active = offClass;
                inactive = onClass;
            }
            SetActiveClass(divId, active, inactive, hClass);
        }

        function InitHandler(fieldId, divId, imgName) {
            $(divId).click(function (evt) {
                //evt.preventDefault();
                SwitchState(fieldId, divId, imgName);
            });
        }

        function SwitchState(fieldId, divId, imgName) {
            var val = $(fieldId).val();
            var onClass = 'serviceIcones_' + imgName + '_on';
            var offClass = 'serviceIcones_' + imgName + '_off';
            var hClass = 'serviceIcones_' + imgName + '_h';
            var active = '';
            var inactive = '';
            if (val == "True") {
                $(fieldId).val("False");
                active = offClass;
                inactive = onClass; 
            }
            else {
                $(fieldId).val("True");
                active = onClass;
                inactive = offClass;
            }
            SetActiveClass(divId, active, inactive, hClass);
        }
        InitState('#f_Wifi_Free', '#wifiLnk', 'wifi');
        InitState('#f_Restauration', '#restoLnk', 'resto');
        InitState('#f_Coffee', '#coffeeLnk', 'coffee');
        InitState('#f_Parking', '#parkingLnk', 'parking');
        InitState('#f_Handicap', '#handicapLnk', 'handicap');
        InitHandler('#f_Wifi_Free', '#wifiLnk', 'wifi');
        InitHandler('#f_Restauration', '#restoLnk', 'resto');
        InitHandler('#f_Coffee', '#coffeeLnk', 'coffee');
        InitHandler('#f_Parking', '#parkingLnk', 'parking');
        InitHandler('#f_Handicap', '#handicapLnk', 'handicap');
    });
</script>