@model System.Collections.Generic.IEnumerable<Localisation>

@{ if (Model.Count() != 0)
   {
    <div class="contentBlock">
        <h3 class="blue marginb10">@Worki.Resources.Views.Localisation.LocalisationString.Suggestion</h3>
            <ul>
                @{
                   foreach (var item in Model)
                   {
                        <li class="preview">
                            <div class="float-left">
                                <div class="resultItemGallery picBack borderRadius float-left previewpic">
                                @if (!string.IsNullOrEmpty(item.GetMainPic()))
                                {
		                            <a href="@item.GetDetailFullUrl(Url)">@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(item.GetMainPic(), true), item.Name)</a>
                                }
                                </div>
                            </div>
                            <div class="float-right desc">
                                <a class="preview float-left bold blue marginb5" href="@item.GetDetailFullUrl(Url)">@item.Name</a>
                                <div class="clear"></div>
                                @Html.TruncateAtWord(item.Description, 40)
                            </div>
                            <div class="clear"></div>
                        </li>
                   }
                }
            </ul>
    </div>
    }
}