@model Worki.Data.Models.OfferCounterModel
		   
@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.Edit)
    </title>
    <link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_ui_spinner_min_css)" />
    <link href="@Url.VersionedContent(Links.Content.colorbox_css)" rel="stylesheet" type="text/css"/>
}
@RazorHelpers.TitleDiv(Worki.Resources.Views.Offer.OfferString.EditOffers, "Blue")

<div class="detailContent">
	<div class="blockContainer">
    	<div class="contentBlock">
		    <h3 class="blue">@Worki.Resources.Views.Offer.OfferString.OffersCount</h3>
            <div id="offerCounting">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.EditionType)
                <table class="marginl10">
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.BuisnessLoungeCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.BuisnessLoungeCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.WorkstationCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.WorkstationCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.DesktopCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.DesktopCount)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.MeetingRoomCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.MeetingRoomCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.SeminarRoomCount)
                        </td>
                        <td> 
                            @Html.LabelFor(m => m.SeminarRoomCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.VisioRoomCount)
                        </td>
                        <td> 
                            @Html.LabelFor(m => m.VisioRoomCount)
                        </td>
                    </tr>
                </table>
                <div class="editor-field float-right">
		            <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
	            </div>
	            <div class="clear"></div>
                }
            </div>
        </div>

        <div class="offersEdition contentBlock">
            <h3 class="blue">@Worki.Resources.Views.Offer.OfferString.OffersDetail</h3> 
            <div class="offersGroupedList">
                @Html.Partial(MVC.Offer.Views._OfferList)
            </div>

            <div class="helpText bold marginb10">
            </div>

            <div class="emptyOfferForm">
            </div>
            
            <div class="finishAllContainer float-right">
                <div class="buttonStd buttonBlue linkImg">
                    <a href=# id="finishAll">@Worki.Resources.Views.Shared.SharedString.Continue</a>
                </div>
	        </div>
            <div class="clear">
            </div>

            <script type="text/javascript">
                var setNewBounds = function (buisnessLounge,workstation,desktop,meetingRoom,seminarRoom,visioRoom) {
                    $("#BuisnessLoungeCount").spinner({ min: buisnessLounge, max: 100, increment: 1 });
                    $("#WorkstationCount").spinner({ min: workstation, max: 100, increment: 1 });
                    $("#DesktopCount").spinner({ min: desktop, max: 100, increment: 1 });
                    $("#MeetingRoomCount").spinner({ min: meetingRoom, max: 100, increment: 1 });
                    $("#SeminarRoomCount").spinner({ min: seminarRoom, max: 100, increment: 1 });
                    $("#VisioRoomCount").spinner({ min: visioRoom, max: 100, increment: 1 });
                }

                var updateOfferForm = function (data) {
                    $('#offerCountingErrorContainer').remove();
                    InsertHtml(".helpText", data.help);
                    InsertHtml(".emptyOfferForm", data.form);

                    if (data.form != '') {
                        $(".finishAllContainer").hide();
                    } else {
                        $(".finishAllContainer").show();
                    }

                    if (data.newList != undefined) {
                        InsertHtml(".offersGroupedList", data.newList);
                    }

                    //case add/delete
                    if (data.newBounds != undefined) {
                        setNewBounds(data.newBounds.buisnessLoungeCount, data.newBounds.workstationCount, data.newBounds.desktopCount, data.newBounds.meetingRoomCount, data.newBounds.seminarRoomCount, data.newBounds.visioRoomCount);
                    }

                    //case delete
                    if (data.toDecrement != undefined) {
                        var toDec = '#' + data.toDecrement + 'Count';
                        var old = $(toDec).val();
                        $(toDec).val(old - 1);
                    }

                    //case finished
                    if (data.completed != undefined) {
                        var toRedirect = '@Url.Action(MVC.Localisation.EditOffersEnd(Model.Localisation.ID, Model.EditionType))';
                        window.location.href = toRedirect;
                    }
                }

                require(["@MiscHelpers.UrlConstants.jqueryui"], function () {
                    require(["@Url.VersionedContent(Links.Scripts.jquery_ui_spinner_js)"], function () {
                        setNewBounds('@Model.BuisnessLoungeCount','@Model.WorkstationCount','@Model.DesktopCount','@Model.MeetingRoomCount','@Model.SeminarRoomCount','@Model.VisioRoomCount');
                    });
                });
                require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
                    $("#finishAll").click(function () {
                        var action = '@Url.Action(MVC.Localisation.EditOffers(Model.Localisation.ID, true, null))';
                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                action,
			                "POST",
			                $("#offerCounting form").serializeArray(),
                            updateOfferForm,
                            errorBuilder.ErrorFunc
		                );

                        return false;
                    });

                    $("#offerCounting form").submit(function () {
                        var action = '@Url.Action(MVC.Localisation.EditOffers(Model.Localisation.ID, false, null))';
                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                action,
			                "POST",
			                $(this).serializeArray(),
                            updateOfferForm,
                            errorBuilder.ErrorFunc
		                );
                        return false;
                    });

                    $(".editOffer").live('click', function () {
                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                this.href,
			                "GET",
                            null,
                            updateOfferForm,
                            errorBuilder.ErrorFunc
		                );

                        return false;
                    });

                    $(".deleteOffer").live('click', function () {
                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                this.href,
			                "POST",
                            null,
                            updateOfferForm,
                            errorBuilder.ErrorFunc
		                );

                        return false;
                    });
                });
            </script>
        </div>
	</div>
</div>
