@model Worki.Data.Models.LocalisationFormViewModel
@section HeadContent
{
    <title>@Html.WorkiTitle(Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit)
    </title>
    <link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css"
        id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
}
@RazorHelpers.TitleDiv((Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit), "Blue")
<div class="detailContent">
    @using (Html.BeginForm(MVC.Localisation.ActionNames.Edit, MVC.Localisation.Name, FormMethod.Post, new { enctype = "multipart/form-data", id = "localisationEditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Localisation.Latitude)
        @Html.HiddenFor(model => model.Localisation.Longitude)
        <div class="blockContainer">
            <div class="contentBlock">
                <div class="dataEdition float-left">
                    <div class="generalInfos">
                        <h3 class="blue inline">@Worki.Resources.Views.Localisation.LocalisationFormString.GlobalInformations</h3>
                        <span>&nbsp;&nbsp;(<span class="blue">*</span>@Worki.Resources.Views.Localisation.LocalisationFormString.MandatoryFields)</span>
                        <table class="generalInfosTable editionTable">
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div class="editor-label localisationOwnerField">
                                        @Html.FeatureCheckBox2(Feature.LocalisationOwner, Model.Localisation)
                                        @Html.FeatureLabelFor2(Feature.LocalisationOwner)
                                    </div>
                                </td>
                            </tr>
							@if (WebHelper.IsDebug() && !Model.IsFreeLocalisation)
							{
                            <tr>
					            <td>
					            </td>
					            <td>
						            <div class="editor-label localisationOwnerField">
						            @Html.CheckBoxFor(m => m.Localisation.Bookable)
						            @Html.LabelFor(m => m.Localisation.Bookable)
						            </div>
					            </td>
				            </tr>
							}
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.TypeValue)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownList("Localisation.TypeValue", Model.Types, new { @class = "typeSelect" })
                                        @Html.ValidationMessage("TypeValue", "")
                                    </div>
                                </td>
                            </tr>
@*                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.Label(Worki.Resources.Views.Localisation.LocalisationFormString.Offers)<span
                                            class="blue">*</span>
                                    </div>
                                </td>
                                <td class="offerContainer">
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureCheckBox2(Feature.FreeArea, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.FreeArea)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.BuisnessLounge, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.BuisnessLounge)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.Workstation, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.LabelFor(Worki.Resources.Views.Localisation.LocalisationString.ProWorkPlace, "plop")
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.MeetingRoom, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.MeetingRoom)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.SeminarRoom, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.SeminarRoom)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.VisioRoom, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.VisioRoom)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.FeatureCheckBox2(Feature.Desktop, Model.Localisation)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label">
                                                    @Html.FeatureLabelFor2(Feature.Desktop)
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Name)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Name, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.PlacesExample })
                                        @Html.ValidationMessage("Name", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div class="field-validation-error">
                                        <div id="localisationAtSamePlaceReplace">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Adress)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Adress)
                                        @Html.ValidationMessage("Adress", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.City)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.City)
                                        @Html.ValidationMessage("City", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.PostalCode)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.PostalCode)
                                        @Html.ValidationMessage("PostalCode", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Country)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Country)
                                        @Html.ValidationMessage("Country", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="phoneNumberRow">
                                        <tr>
                                            <td>
                                                <div class="editor-label phoneNumberCol">
                                                    @Html.LabelFor(model => model.Localisation.PhoneNumber)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(model => model.Localisation.PhoneNumber)
                                                    @Html.ValidationMessage("PhoneNumber", "")
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label faxCol">
                                                    @Html.LabelFor(model => model.Localisation.Fax)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(model => model.Localisation.Fax)
                                                    @Html.ValidationMessage("Fax", "")
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Mail)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Mail)
                                        @Html.ValidationMessage("Mail", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.WebSite)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.WebSite)
                                        @Html.ValidationMessage("WebSite", "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Description)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(model => model.Localisation.Description)
                                        @Html.ValidationMessage("Description", "")
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="contentBlock">
                <div id="fileupload" class="borderRadius">
                    <div class="fileupload-buttonbar">
                        <label class="fileinput-button">
                            <span>@Worki.Resources.Views.Localisation.LocalisationString.AddPicture</span>
                            <input type="file" name="files[]" accept="image/*" />
                        </label>
                    </div>
                    <div class="fileupload-content">
                        <table class="files">
                        </table>
                        <div class="fileupload-progressbar">
                        </div>
                    </div>
                </div>
            </div>
			@if (Model.IsFreeLocalisation)
			{
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Models.Localisation.LocalisationFeatures.FreeArea</h3>
                <div class="serviceContainer">
                    <div class="subserviceContainer float-left">
                        <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.AvoidPeriods</h4>
                        <ul>
                            <li>
                                @Html.FeatureChecboxLabel2(Feature.AvoidMorning, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel2(Feature.AvoidLunch, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel2(Feature.AvoidAfternoom, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel2(Feature.AvoidEvening, Model.Localisation)
                            </li>
                        </ul>
                    </div>
                    <div class="subserviceContainer float-left">
                        <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Tariffs</h4>
                        <ul>
                            <li>
                                <div class="coffeePrice editor-label">
                                    @Html.FeatureLabelFor2(Feature.CoffeePrice)
                                    @Html.FeatureNumberTextBox2(Feature.CoffeePrice, Model.Localisation, new { placeholder = "Ex : 1.20" })&nbsp;&nbsp;&#8364;
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
			}
			<div class="serviceContainer contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.PlaceDetails</h3>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Facilities</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Handicap, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Wifi_Free, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Wifi_Not_Free, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Parking, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Outlet, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.FastInternet, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.SafeStorage, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Comfort</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Coffee, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Restauration, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.AC, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.ErgonomicFurniture, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Shower, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Newspaper, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.TV, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
			@if (!Model.IsFreeLocalisation)
			{ 
            <div class="serviceContainer contentBlock">
                <h3 class="blue">@Worki.Resources.Models.Localisation.Localisation.WorkingPlace</h3>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.ProfessionalServices</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Domiciliation, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Secretariat, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Courier, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Printer, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Computers, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Archiving, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.UserServices</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Concierge, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Pressing, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.ComputerHelp, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.RoomService, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.Community, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel2(Feature.RelaxingArea, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
			<div class="contentBlock">
				<h3 class="blue">Offres</h3>
				<ul>
				@foreach (var item in Model.Localisation.Offers)
				{
						<li>@item.Name | @Html.ActionLink("Editer", MVC.Offer.Edit(item.Id, item.LocalisationId)) | @Html.ActionLink("Supprimer", MVC.Offer.Delete(item.Id, item.LocalisationId))</li>
				}
				</ul>
				<input  type="submit" class="buttonStd buttonBlue imageBtn" 
						name="addOffer" value="Ajouter une offre"/>
			</div>
			}
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.Access</h3>
                <table class="generalInfosTable editionTable float-left">
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.PublicTransportation)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.PublicTransportation, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SubwayExample })
                                @Html.ValidationMessage("PublicTransportation", "")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.Station)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.Station, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SncfExample })
                                @Html.ValidationMessage("Station", "")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.RoadAccess)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.RoadAccess, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.RoadExample })
                                @Html.ValidationMessage("RoadAccess", "")
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="editPlace float-right borderRadius">
                    <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.GoogleMapsLocalisation</h3>
                    <span class="block">@Worki.Resources.Views.Localisation.LocalisationFormString.RefineLocation</span>
                    <div id="editMapDiv">
                    </div>
                    <button class="buttonStd buttonBlue" type="button" id="resetPos">@Worki.Resources.Views.Localisation.LocalisationFormString.ResetPosition</button>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Hourly</h3>
                <div class="serviceContainer">
                    <div class="subserviceContainer float-left">
                        <ul>
                            <li>
                                @Html.FeatureChecboxLabel2(Feature.Access24, Model.Localisation)
                            </li>
                            <li id="lunchCloseChecked">
                                @Html.FeatureChecboxLabel2(Feature.LunchClose, Model.Localisation)
                            </li>
                        </ul>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="editOpenning">
                    <table class="editionTable">
                        @{var frenchCulture = System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"); }
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Monday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.MonOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonOpen), new { placeholder = "Ex : 9:00" })
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.MonClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonClose2), new { placeholder = "Ex : 12:30" })
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.MonOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonOpen2), new { placeholder = "Ex : 14:00" })
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.MonClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.MonClose), new { placeholder = "Ex : 18:00" })
                                    @Html.ValidationMessage("MonClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Tuesday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.TueOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueOpen), new { placeholder = "Ex : 9:00" })
                                    @Html.ValidationMessage("TueOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.TueClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueClose2))
                                    @Html.ValidationMessage("TueClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.TueOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueOpen2))
                                    @Html.ValidationMessage("TueOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.TueClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.TueClose), new { placeholder = "Ex : 22:00" })
                                    @Html.ValidationMessage("TueClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Wednesday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.WedOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedOpen))
                                    @Html.ValidationMessage("WedOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.WedClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedClose2))
                                    @Html.ValidationMessage("WedClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.WedOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedOpen2))
                                    @Html.ValidationMessage("WedOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.WedClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.WedClose))
                                    @Html.ValidationMessage("WedClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Thursday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.ThuOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuOpen))
                                    @Html.ValidationMessage("ThuOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.ThuClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuClose2))
                                    @Html.ValidationMessage("ThuClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.ThuOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuOpen2))
                                    @Html.ValidationMessage("ThuOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.ThuClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.ThuClose))
                                    @Html.ValidationMessage("ThuClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Friday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.FriOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriOpen))
                                    @Html.ValidationMessage("FriOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.FriClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriClose2))
                                    @Html.ValidationMessage("FriClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.FriOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriOpen2))
                                    @Html.ValidationMessage("FriOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.FriClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.FriClose))
                                    @Html.ValidationMessage("FriClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Saturday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SatOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatOpen))
                                    @Html.ValidationMessage("SatOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SatClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatClose2))
                                    @Html.ValidationMessage("SatClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SatOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatOpen2))
                                    @Html.ValidationMessage("SatOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SatClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.SatClose))
                                    @Html.ValidationMessage("SatClose", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Sunday
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SunOpen", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunOpen))
                                    @Html.ValidationMessage("SunOpen", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SunClose2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunClose2))
                                    @Html.ValidationMessage("SunClose2", "")
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SunOpen2", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunOpen2))
                                    @Html.ValidationMessage("SunOpen2", "")
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("Localisation.SunClose", string.Format(frenchCulture, "{0:t}", Model.Localisation.SunClose))
                                    @Html.ValidationMessage("SunClose", "")
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="float-right">
                <input  type="submit" class="buttonStd buttonBlue imageBtn" 
						name="valid" id="submit_add" value="@(Model.Localisation.ID == 0 ? Worki.Resources.Views.Shared.SharedString.Adds : Worki.Resources.Views.Shared.SharedString.Valid)"/>
            </div>
            <div class="clear">
            </div>
        </div>
    }
</div>
@section ScriptContent
{
    @Html.Partial(MVC.Localisation.Views._LocalisationFormScript)
    @Html.Partial(MVC.Shared.Views._UploadGalleryScript, Model.Localisation)
}
