@model Worki.Data.Models.LocalisationFormViewModel
		   
@section HeadContent
{
    <title>@Html.WorkiTitle(Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit)
    </title>
    <link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css"
        id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
    <link href="@Url.VersionedContent(Links.Content.colorbox_css)" rel="stylesheet" type="text/css"/>
}
@RazorHelpers.TitleDiv((Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit), "Blue")

<div class="detailContent">
	<div class="blockContainer">
	@Html.Partial(MVC.Localisation.Views._LocalisationForm)
	</div>
</div>

@section ScriptContent
{
    @Html.Partial(MVC.Localisation.Views._LocalisationFormScript)
    @Html.Partial(MVC.Shared.Views._UploadGalleryScript, Model.Localisation)
}
