@model Worki.Data.Models.LocalisationFormViewModel
@section HeadContent
{
    <title>@Html.WorkiTitle(Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit)
    </title>
    <link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css"
        id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
}
@RazorHelpers.TitleDiv((Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit), "Blue")
<div class="detailContent">
    @using (Html.BeginForm(MVC.Localisation.ActionNames.Edit, MVC.Localisation.Name, FormMethod.Post, new { enctype = "multipart/form-data", id = "localisationEditForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Localisation.Latitude)
        @Html.HiddenFor(model => model.Localisation.Longitude)
        <div class="blockContainer">
            <div class="contentBlock">
                <div class="dataEdition">
                    <div class="generalInfos float-left">
                        <h3 class="blue inline">@Worki.Resources.Views.Localisation.LocalisationFormString.GlobalInformations</h3>
                        <span>&nbsp;&nbsp;(<span class="blue">*</span>@Worki.Resources.Views.Localisation.LocalisationFormString.MandatoryFields)</span>
                        <table class="generalInfosTable editionTable">
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div class="editor-label localisationOwnerField">
                                        @Html.FeatureCheckBox(Feature.LocalisationOwner, Model.Localisation)
                                        @Html.FeatureLabelFor(Feature.LocalisationOwner, Model.Localisation)
                                    </div>
                                </td>
                            </tr>
							@if (!Model.IsFreeLocalisation)
							{
                            <tr>
					            <td>
					            </td>
					            <td>
						            <div class="editor-label localisationOwnerField">
						            @Html.CheckBoxFor(m => m.Localisation.Bookable)
						            @Html.LabelFor(m => m.Localisation.Bookable)
						            </div>
					            </td>
				            </tr>
							}
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.TypeValue)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownList("Localisation.TypeValue", Model.Types, new { @class = "typeSelect" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Name)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Name, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.PlacesExample })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div class="field-validation-error">
                                        <div id="localisationAtSamePlaceReplace">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Adress)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Adress)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.City)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.City)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.PostalCode)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.PostalCode)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Country)<span class="blue">*</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Country)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="phoneNumberRow">
                                        <tr>
                                            <td>
                                                <div class="editor-label phoneNumberCol">
                                                    @Html.LabelFor(model => model.Localisation.PhoneNumber)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(model => model.Localisation.PhoneNumber)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-label faxCol">
                                                    @Html.LabelFor(model => model.Localisation.Fax)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="editor-field">
                                                    @Html.TextBoxFor(model => model.Localisation.Fax)
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Mail)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.Mail)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.WebSite)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Localisation.WebSite)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Localisation.Description)
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(model => model.Localisation.Description)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
					<div class="editPlace float-right borderRadius">
						<h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.GoogleMapsLocalisation</h3>
						<span class="block">@Worki.Resources.Views.Localisation.LocalisationFormString.RefineLocation</span>
						<div id="editMapDiv">
						</div>
						<button class="buttonStd buttonBlue" type="button" id="resetPos">@Worki.Resources.Views.Localisation.LocalisationFormString.ResetPosition</button>
					</div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="contentBlock">
                <div id="fileupload" class="borderRadius">
                    <div class="fileupload-buttonbar">
                        <label class="fileinput-button">
                            <span>@Worki.Resources.Views.Localisation.LocalisationString.AddPicture</span>
                            <input type="file" name="files[]" accept="image/*" />
                        </label>
                    </div>
                    <div class="fileupload-content">
                        <table class="files">
                        </table>
                        <div class="fileupload-progressbar">
                        </div>
                    </div>
                </div>
            </div>
			@if (Model.IsFreeLocalisation)
			{
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Models.Localisation.LocalisationFeatures.FreeArea</h3>
                <div class="serviceContainer">
                    <div class="subserviceContainer float-left">
                        <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.AvoidPeriods</h4>
                        <ul>
                            <li>
                                @Html.FeatureChecboxLabel(Feature.AvoidMorning, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel(Feature.AvoidLunch, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel(Feature.AvoidAfternoom, Model.Localisation)
                            </li>
                            <li>
                                @Html.FeatureChecboxLabel(Feature.AvoidEvening, Model.Localisation)
                            </li>
                        </ul>
                    </div>
                    <div class="subserviceContainer float-left">
                        <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Tariffs</h4>
                        <ul>
                            <li>
                                <div class="coffeePrice editor-label">
                                    @Html.FeatureLabelFor(Feature.CoffeePrice, Model.Localisation)
                                    @Html.FeatureNumberTextBox(Feature.CoffeePrice, Model.Localisation, new { placeholder = "Ex : 1.20" })&nbsp;&nbsp;&#8364;
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
			}
			<div class="serviceContainer contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.PlaceDetails</h3>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Facilities</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Handicap, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Wifi_Free, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Wifi_Not_Free, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Parking, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Outlet, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.FastInternet, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.SafeStorage, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.Comfort</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Coffee, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Restauration, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.AC, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.ErgonomicFurniture, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Shower, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Newspaper, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.TV, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
			@if (!Model.IsFreeLocalisation)
			{ 
            <div class="serviceContainer contentBlock">
                <h3 class="blue">@Worki.Resources.Models.Localisation.Localisation.WorkingPlace</h3>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.ProfessionalServices</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Domiciliation, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Secretariat, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Courier, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Printer, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Computers, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Archiving, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="subserviceContainer float-left">
                    <h4>@Worki.Resources.Views.Localisation.LocalisationFormString.UserServices</h4>
                    <ul>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Concierge, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Pressing, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.ComputerHelp, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.RoomService, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.Community, Model.Localisation)
                        </li>
                        <li>
                            @Html.FeatureChecboxLabel(Feature.RelaxingArea, Model.Localisation)
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
            </div>
			<div class="contentBlock">
				<h3 class="blue">Offres</h3>
				<ul>
				@foreach (var item in Model.Localisation.Offers)
				{
						<li>@item.Name | @Html.ActionLink("Editer", MVC.Offer.Edit(item.Id, item.LocalisationId)) | @Html.ActionLink("Supprimer", MVC.Offer.Delete(item.Id, item.LocalisationId))</li>
				}
				</ul>
				<input  type="submit" class="buttonStd buttonBlue imageBtn" 
						name="addOffer" value="Ajouter une offre"/>
			</div>
			}
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Localisation.LocalisationFormString.Access</h3>
                <table class="generalInfosTable editionTable">
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.PublicTransportation)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.PublicTransportation, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SubwayExample })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.Station)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.Station, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.SncfExample })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Localisation.RoadAccess)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Localisation.RoadAccess, new { placeholder = Worki.Resources.Views.Localisation.LocalisationFormString.RoadExample })
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="contentBlock">
                <h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Hourly</h3>
                <div class="serviceContainer">
                    <div class="subserviceContainer float-left">
                        <ul>
                            <li>
                                @Html.FeatureChecboxLabel(Feature.Access24, Model.Localisation)
                            </li>
                            <li id="lunchCloseChecked">
                                @Html.FeatureChecboxLabel(Feature.LunchClose, Model.Localisation)
                            </li>
                        </ul>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="editOpenning">
                    <table class="editionTable">
                        @{var frenchCulture = System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"); }
                        <tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Monday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.MonOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.MonOpenMorning), new { placeholder = "Ex : 9:00" })
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.MonCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.MonCloseMorning), new { placeholder = "Ex : 12:30" })
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.MonOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.MonOpenAfter), new { placeholder = "Ex : 14:00" })
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.MonCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.MonCloseAfter), new { placeholder = "Ex : 18:00" })
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Tuesday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.TueOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.TueOpenMorning), new { placeholder = "Ex : 9:00" })
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.TueCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.TueCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.TueOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.TueOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.TueCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.TueCloseAfter), new { placeholder = "Ex : 22:00" })
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Wednesday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.WedOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.WedOpenMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.WedCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.WedCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.WedOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.WedOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.WedCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.WedCloseAfter))
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Thursday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.ThuOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.ThuOpenMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.ThuCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.ThuCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.ThuOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.ThuOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.ThuCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.ThuCloseAfter))
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Friday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.FriOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.FriOpenMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.FriCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.FriCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.FriOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.FriOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.FriCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.FriCloseAfter))
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Saturday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.SatOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SatOpenMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.SatCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SatCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.SatOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SatOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.SatCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SatCloseAfter))
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                @Worki.Resources.Views.Localisation.LocalisationFormString.Sunday
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.SunOpenMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SunOpenMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.SunCloseMorning", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SunCloseMorning))
                                </div>
                            </td>
                            <td class="lunchclose">
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample1">
                                    @Html.TextBox("Localisation.LocalisationData.SunOpenAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SunOpenAfter))
                                </div>
                            </td>
                            <td>
                                <div class="editor-field" title="@Worki.Resources.Views.Localisation.LocalisationFormString.TimeExample2">
                                    @Html.TextBox("Localisation.LocalisationData.SunCloseAfter", string.Format(frenchCulture, "{0:t}", Model.Localisation.LocalisationData.SunCloseAfter))
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="float-right">
                <input  type="submit" class="buttonStd buttonBlue imageBtn" 
						name="valid" id="submit_add" value="@(Model.Localisation.ID == 0 ? Worki.Resources.Views.Shared.SharedString.Adds : Worki.Resources.Views.Shared.SharedString.Valid)"/>
            </div>
            <div class="clear">
            </div>
        </div>
    }
</div>
@section ScriptContent
{
    @Html.Partial(MVC.Localisation.Views._LocalisationFormScript)
    @Html.Partial(MVC.Shared.Views._UploadGalleryScript, Model.Localisation)
}
