@model Worki.Data.Models.OfferCounterModel
		   
@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.Edit)
    </title>
    <link href="@Url.VersionedContent(Links.Content.LocalisationForm_min_css)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
    <link href="@Url.VersionedContent(Links.Content.colorbox_css)" rel="stylesheet" type="text/css"/>
}
@RazorHelpers.TitleDiv("Editer les offres", "Blue")

<div class="detailContent">
	<div class="blockContainer">
    	<div class="contentBlock">
		    <h3 class="blue">@Worki.Resources.Views.Shared.SharedString.Offers</h3>
            <div class="offerCounting">
                @using (Html.BeginForm())
                {
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.BuisnessLoungeCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.BuisnessLoungeCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.WorkstationCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.WorkstationCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.DesktopCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.DesktopCount)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.MeetingRoomCount)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.MeetingRoomCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.SeminarRoomCount)
                        </td>
                        <td> 
                            @Html.TextBoxFor(m => m.SeminarRoomCount)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.VisioRoomCount)
                        </td>
                        <td> 
                            @Html.TextBoxFor(m => m.VisioRoomCount)
                        </td>
                    </tr>
                </table>
                <div class="editor-field float-right">
		            <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
	            </div>
	            <div class="clear"></div>
                }
            </div>
        </div>

        <div class="offersEdition contentBlock"> 
            <div class="offersGroupedList">
                @Html.Partial(MVC.Offer.Views._OfferList)
            </div>

            <div class="helpText">
            </div>

            <div class="emptyOfferForm">
            </div>
            <script type="text/javascript">
                require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
                    $(".offerCounting form").submit(function () {
                        var action = '@Url.Action(MVC.Localisation.EditOffers(Model.Localisation.ID, null))';

                        var successFunc = function (data) {
                            $(".helpText").html(data.help);
                            $(".emptyOfferForm").html(data.form);
                        }

                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                action,
			                "POST",
			                $(this).serializeArray(),
                            successFunc,
                            errorBuilder.ErrorFunc
		                );
                        return false;
                    });

                    $(".editOffer").live('click', function () {
                        var successFunc = function (data) {
                            $(".helpText").html(data.help);
                            $(".emptyOfferForm").html(data.form);
                        }

                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                this.href,
			                "GET",
                            null,
                            successFunc,
                            errorBuilder.ErrorFunc
		                );

                        return false;
                    });

                    $(".deleteOffer").live('click', function () {
                        var successFunc = function (data) {
                            $(".helpText").html(data.help);
                            $(".emptyOfferForm").html(data.form);
                            $(".offersGroupedList").html(data.newList);
                        }

                        var errorBuilder = new ErrorBuilder('offerCounting', 'offerCountingErrorContainer');

                        AppAjax(
			                this.href,
			                "POST",
                            null,
                            successFunc,
                            errorBuilder.ErrorFunc
		                );

                        return false;
                    });
                });
            </script>
        </div>
	</div>
</div>
