@model Worki.Data.Models.LocalisationFormViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add :  Worki.Resources.Views.Localisation.LocalisationString.Edit)</title>
	<link href="@Url.VersionedContent(Links.Content.LocalisationDetail_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.CreateLocalisation_min_css)" rel="stylesheet" type="text/css" />
	@*<link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_css)  " rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
    <link rel="stylesheet" href="@Url.VersionedContent(Links.Content.jquery_fileupload_ui_min_css)" />
}


<div class="addLocalisationContainer borderContainer">
    @RazorHelpers.TitleDiv((Model.Localisation.ID == 0 ? Worki.Resources.Views.Localisation.LocalisationString.Add : Worki.Resources.Views.Localisation.LocalisationString.Edit), "Orange")

    @Html.Partial(MVC.Localisation.Views._LocalisationForm)
</div>

@section ScriptContent
{
	@Html.Partial(MVC.Shared.Views._CufonScript)
    @Html.Partial(MVC.Localisation.Views._LocalisationFormScript)
    @Html.Partial(MVC.Localisation.Views._LocalisationGalleryScript)
}

