@model Worki.Data.Models.SearchCriteriaFormViewModel

@section HeadContent
{
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Views.Search.SearchString.SearchResult)</title>
    <link href="@Url.VersionedContent(Links.Content.Search_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.LocalisationDetail_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.skin_min_css)" rel="stylesheet" type="text/css"  />
    <link href="@Url.VersionedContent(Links.Content.rateit_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}

@RazorHelpers.TitleDiv(string.Format(Worki.Resources.Views.Search.SearchString.YourSearchResult, Model.List.Count), "Blue")

<div class="detailContent relative" id="globalContainer">
    <div class="resultDiv float-left blockContainer">
        <div class="searchFormBlockLeft">
            @if (Model.Criteria.ResultView == eResultView.List)
            {
                @Html.Partial(MVC.Localisation.Views._SearchResults)
            }
            else
            {
                <div class="contentBlock">
                    <div class="mapContainer bigResultsMap" id="resultsMap">
                    </div>
                </div>
            }
            @Html.Partial(MVC.Shared.Views._LoaderBlock, "big")
        </div>  
    </div>

    <div class="searchFormBlock float-right blockContainer">
		<div class="contentBlock" id="resultSearchBlock">
            <div class="marginb10" >
                <div class="float-left">
                    <a href=# id="resultByMap">map</a>
                </div>
                <div class="float-right">
                    <a href=# id="resultByList">list</a>
                </div>
                <div class="clear">
                </div>
            </div>
            @if (Model.Criteria.ResultView == eResultView.List)
            { 
            @Html.Partial(MVC.Localisation.Views._SearchOrderSelector)
			<div class="resultsMapDiv">
                <div class="relative">
                    <div class="mapContainer smallResultsMap" id="resultsMap">
                    </div>
                    @Html.Partial(MVC.Shared.Views._LoaderBlock, "small")
                </div>
            </div> 
            }
            <div class="searchResultFormDiv" id="searchFormReset">
                @Html.Partial(MVC.Localisation.Views._SearchPanel)
            </div>
		</div>
    </div>

	<div class="clear">
    </div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"]);
        require(["@Url.VersionedContent(Links.Scripts.jquery_rateit_js)"]);
    </script>
    @Html.Partial(MVC.Localisation.Views._SelectSearchScript, Model.Criteria, ViewData)
}
