@model Worki.Data.Models.LocalisationOfferViewModel

@section HeadContent
{
    <link href="@Url.VersionedContent(Links.Content.Search_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.LocalisationDetail_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.rateit_min_css)" rel="stylesheet" type="text/css" />	
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css"/>
}

<div class="detailContent">
	<div class="localisationDetailLeft blockContainer float-left">
		@foreach (var offer in Model.Offers)
		{
	  		<div class="contentBlock">
				<h3 class="blue">@offer.Name</h3>
				@if (offer.OfferFiles.Count > 0)
				{
				<div class="offerGallery">
					@foreach (var item in offer.OfferFiles)
					{
						<a href="@ControllerHelpers.GetUserImagePath(item.FileName, false, PictureData.GetFolder(ProviderType.Offer))" class="hidden">
            				<img title="@offer.Name" alt="@offer.Name" src="@ControllerHelpers.GetUserImagePath(item.FileName, false, PictureData.GetFolder(ProviderType.Offer))"/>
        				</a>                        
					}
				</div>
				<div class="clear">
				</div>
				}
				@if (offer.OfferFeatures.Count() == 0)
				{
					<div class="italic">Les caractéristiques de cette offre n’ont pas été renseignées.</div>
				}
				else
				{
				<div class="featureTag">
					<ul>
					@foreach (var item in offer.OfferFeatures)
					{
						<li>@FeatureHelper.Display(item)</li>
					}
					</ul>
				</div> 
				<div class="clear">
				</div>
				}
				@if (Model.Localisation.Bookable)
				{
					var text = Offer.NeedQuotation((LocalisationOffer)offer.Type) ? "Demande de devis" : Worki.Resources.Views.Localisation.LocalisationString.BookIt;
					<div class="buttonStd buttonBlue linkImg float-right">@Html.ActionLink(text, MVC.Booking.Create(offer.Id, offer.LocalisationId))</div>
					<div class="clear">
					</div>
				}
			</div> 
		}
	</div>
	<div class="localisationDetailRight blockContainer dashedLeft float-right">
	@Html.Partial(MVC.Localisation.Views._LocalisationInfos, Model.Localisation)
	</div>
	<div class="clear">
	</div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Content.galleria.galleria_1_2_4_js)"], function () {
            // Load the classic theme
            Galleria.loadTheme('/Content/Galleria/galleria.classic.js');

			$('.offerGallery').galleria({
                //width: 600,
                height: 150,
                showInfo: false
            });
        });
        require(["@Url.VersionedContent(Links.Scripts.jquery_rateit_js)"]);

        $("li.preview").hover(function () {
            var style = $(this).attr("style");
            $(this).attr("style", "background-color:#D1E1FA;" + style);
        }, 
            function () {
            var style = $(this).attr("style");
            var nstyle = style.replace(/background-color:#D1E1FA;/g, '');
            $(this).attr("style", nstyle);
        });
    </script>
}
