@model Worki.Web.Models.Localisation

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.ComfirmDelete+Model.Name) </title>
}



<h2>
    @Worki.Resources.Views.Localisation.LocalisationString.ComfirmDelete
</h2>
<div>
    <p>@Worki.Resources.Views.Localisation.LocalisationString.PleaseConfirmDelete
    <i> @Model.Name ? </i> </p>
</div>
@using (Html.BeginForm(new { returnUrl = TempData["returnUrl"] }))
{
    @Html.AntiForgeryToken();
    <input name="confirmButton" type="submit" value="Supprimer" />
} 


