@model MemberBooking

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
    Model.GetStatus(out statusText, out color);
}

@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Home)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Dashboard.Home.Index())} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Bookings, MVC.Dashboard.Home.Booking())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Dashboard.Home.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, Html.DisplayDate(Model.CreationDate, CultureHelpers.TimeFormat.LongGeneral).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, Html.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, Html.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
                @RazorHelpers.Description("Statut", statusText)
                @RazorHelpers.Description("Message", Model.Message)
                @RazorHelpers.Description("Réponse", Model.Response)
            </div>
            <div class="clear"></div>
        </div>
        @if (Model.ClientCanPay)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Booking.PayWithPayPal(Model.Id))
			</div>
            <div class="clear">
            </div>
        }
        @if (Model.ClientCanCancel)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink("Annuler", MVC.Dashboard.Home.CancelBooking(Model.Id))
			</div>
            <div class="clear">
            </div>
        }
	</div>
	<div class="clear"></div>
</div>