@model DashoboardHomeViewModel

@section HeadContent
{
	<title>Accueil</title>
    <link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Home)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
    	@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Dashboard.Home.Index())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Bookings, MVC.Dashboard.Home.Booking())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Dashboard.Home.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var score = Model.Member.ComputeScore();
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Member.MemberMainData.Avatar,
                    ImageAlt = Model.Member.GetDisplayName(),
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = "Membre", Value=Model.Member.GetDisplayName()},
                        new DescriptionItem{ Title = "Score", Value=string.Format(Worki.Resources.Views.Profile.ProfileString.Score, Model.Member.GetMemberScoreStatus(score), score)}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            @Html.Partial(MVC.Dashboard.Shared.Views._NewsContent,Model.News)
            <div class="clear">
	        </div>
        </div>

	</div>
	<div class="clear">
	</div>
</div>