@model MemberQuotation

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
	DateTime? statusDate = null;
	Model.GetStatus(out statusText, out color, out statusDate);
}

@RazorHelpers.TitleDiv(Worki.Resources.Menu.Menu.UserSpace, "Blue")
@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Home)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Dashboard.Home.Index())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Dashboard.Home.Booking())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Dashboard.Home.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name, Bold = true},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name, Bold = false}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
				@Worki.Resources.Views.Booking.BookingString.Asked : <span class="bold">@Html.DisplayLocalDate(Model.CreationDate)</span><br />
                @Worki.Resources.Views.BackOffice.BackOfficeString.Status : <span class="bold">@statusText @Html.DisplayLocalDate(statusDate)</span><br />
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Message, Model.Message)
            </div>
            <div class="clear"></div>
        </div>
		<div class="float-right">
        @if (Model.ClientCanCancel)
        { 
            <div class="buttonStd buttonBlue linkImg inline-block">
				@Html.ActionLink(Worki.Resources.Validation.ValidationString.Cancel, MVC.Dashboard.Home.CancelQuotation(Model.Id))
			</div>
        }
		</div>
	</div>
	<div class="clear"></div>
</div>