@model PagingList<MemberQuotation>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.WorkingQuotation)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Menu.Menu.UserSpace, "Blue")
@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Home)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Dashboard.Home.Index())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Dashboard.Home.Booking())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Dashboard.Home.Quotation())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @Html.Partial(MVC.Dashboard.Shared.Views._QuotationList,
            new QuotationListViewModel {
                                        Quotations = Model,
                                        UrlMaker = x => Url.Action(MVC.Dashboard.Home.Quotation(x)),
                                        EmptyMessage = string.Format(Worki.Resources.Views.BackOffice.BackOfficeString.NoCurrentQuotation, Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Historic, MVC.Dashboard.Historic.Quotation()))
                                    })
        </div>
	</div>
	<div class="clear"></div>
</div>