@model PagingList<Comment>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.CommentedPlaces)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Dashboard.Shared.Views._DashboardMenu, DashboardMenu.Community)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			@*new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Places, MVC.Dashboard.Community.Places())} ,*@
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.FavoritePlaces, MVC.Dashboard.Community.FavoritePlaces())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.AddedPlaces, MVC.Dashboard.Community.AddedPlaces())},
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CommentedPlaces, MVC.Dashboard.Community.CommentedPlaces())} 
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock">
			@if (Model.List.Count != 0)
            {
				@Html.Partial(MVC.Dashboard.Shared.Views._CommentTab)
            }
            else
            {
            <span class="italic">@Html.Raw(string.Format(Worki.Resources.Views.Profile.ProfileString.AddedSpacesEmpy, Html.ActionLink(Worki.Resources.Views.Home.FaqString.ClickHere, MVC.Home.AddSpace())))</span>
            }
		</div>
	</div>
	<div class="clear">
	</div>
</div>