@model	OfferBookingViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Schedule)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' href="@Url.VersionedContent(Links.Content.fullcalendar_min_css)" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.Item.Id));}

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.Item.Id, (int)OfferMenuType.Schedule));}
	</div>
	<div class="blockContainer float-left contentRight">
		@Html.Partial(MVC.Backoffice.Localisation.Views._OfferDropDown, new OfferDropDownModel { Offer = Model.Item, UrlMaker = o => Url.Action(MVC.Backoffice.Localisation.OfferBooking(o.LocalisationId, o.Id)), Filter = OfferDropDownFilter.Booking })
		<div class="contentBlock">
            <div id='calendar'>
            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>

@section ScriptContent
{
    <script type='text/javascript' src='@Links.Scripts.jquery_ui_1_8_12_custom_min_js'></script>
    <script type='text/javascript'>

        require(["@Links.Scripts.fullcalendar_min_js"], function () {
            $(document).ready(function () {
            
            $('#calendar').fullCalendar({
                header: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
                             'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun',
                                  'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi',
                           'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                timeFormat: {
                                // for agendaWeek and agendaDay
                                agenda: 'HH:mm{ - HH:mm}', // 17:00 - 18:30

                                // for all other views
                                '': 'HH:mm' // 17:00
                            },
                axisFormat: 'HH:mm',
                slotMinutes: 15,
                allDaySlot: false,
                titleFormat: {
                                month: 'MMMM yyyy',                             // Septembre 2009
                                week: "MMM dd[ yyyy]{ '&#8212;'[ MMM] dd yyyy}", // Sep 07 - 13 2009
                                day: 'dddd dd MMMM yyyy'                  // Mardi 08 Septembre 2009
                            },
                columnFormat: {
                                month: 'ddd',    // Lun
                                week: 'ddd dd/MM', // Lun 07/09
                                day: 'dddd dd/MM'  // Lundi 07/09
                            },
                buttonText: {
                                prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
                                next:     '&nbsp;&#9658;&nbsp;',  // right triangle
                                prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                                nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                                today:    'aujourd\'hui',
                                month:    'mois',
                                week:     'semaine',
                                day:      'jour'
                            },
                editable: true,
                events: [
                @{
                        var orange = "#f7a33a";
                        var red = "#d25657";
                        var yellow = "#f5f322";
                        var grey = "#808080";
                        var colored = "";
                }
                    @foreach(var item in Model.List.List)
                    {
                        if (item.Expired || item.Cancelled)
                        {
                            colored = grey;
                        }
                        else if (item.Refused)
                        {
                            colored = red;
                        }
                        else if (item.Waiting)
                        {
                            colored = orange;
                        }
                        else if (item.Unknown)
                        {
                            colored = yellow;
                        }

                        @:{ id: '@item.Id', title: '@Html.Raw(item.Member.GetFullDisplayName())', start: '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.FromDate)', end: '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.ToDate)', color: '@colored', url: '@Url.AbsoluteAction(MVC.Backoffice.Localisation.ActionNames.BookingDetail, MVC.Backoffice.Localisation.Name, new { id = item.Id })', allDay: false },
                    }
			    ],
                selectable: true,
		        selectHelper: true,
                eventDrop: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) {
                    $.ajax({
                        type: "GET",
                        url: "/Backoffice/Localisation/DropEvent",
                        data: ({ id : event.id, dayDelta : dayDelta, minuteDelta : minuteDelta}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
			            error: function (xhr, status, err) {
				            if (xhr.status == 400) {
					            revertFunc();
				            }
                        }
                    });
                },
                eventResize: function( event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) {
                    $.ajax({
                            type: "GET",
                            url: "/Backoffice/Localisation/ResizeEvent",
                            data: ({ id : event.id, dayDelta : dayDelta, minuteDelta : minuteDelta}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
			                error: function (xhr, status, err) {
				                if (xhr.status == 400) {
					                revertFunc();
				                }
                            }
                        });
                },
                select: function( startDate, endDate, allDay, jsEvent, view ) {
                    $.ajax({
                            type: "GET",
                            url: "/Backoffice/Localisation/CreateEvent",
                            data: ({ offer_id : @Model.Item.Id, start : startDate.getTime(), end : endDate.getTime()}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
			                error: function (xhr, status, err) {
				                if (xhr.status == 400) {
					                $('#calendar').fullCalendar( 'unselect' );
				                }
                            },
                            success: function (data, textStatus, jqXHR) {
                                $('#calendar').fullCalendar('renderEvent',
                                            {
                                                title: '@Model.Item.Localisation.Member.GetFullDisplayName()',
                                                start: startDate.addHours(9),
                                                end: endDate.addHours(9),
                                                color: '@yellow',
                                                allDay: false
                                            },
                                            true);
                                $('#calendar').fullCalendar('unselect');
                            }
                        });
                }
			});
        });
    });
    </script>
}