@model	LocalisationBookingViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Schedule)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' type='text/css' href="@Url.VersionedContent(Links.Content.fullcalendar_min_css)" />
}

@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Home, Id = Model.Item.ID, Title = Model.Item.Name })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.BONews, MVC.Backoffice.Localisation.Index(Model.Item.ID))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Bookings, MVC.Backoffice.Localisation.Booking(Model.Item.ID))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.Quotation(Model.Item.ID))} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Schedule, MVC.Backoffice.Localisation.Localisation_Schedule(Model.Item.ID))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            <div id='calendar'>
            </div>
        </div>
	</div>
	<div class="clear">
	</div>
</div>
@section ScriptContent
{
    <script type='text/javascript' src='@Links.Scripts.jquery_ui_1_8_12_custom_min_js'></script>
    <script type='text/javascript'>

        require(["@Links.Scripts.fullcalendar_min_js"], function () {
            $(document).ready(function () {
            
            $('#calendar').fullCalendar({
                header: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
                             'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun',
                                  'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi',
                           'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                timeFormat: {
                                // for agendaWeek and agendaDay
                                agenda: 'HH:mm{ - HH:mm}', // 17:00 - 18:30

                                // for all other views
                                '': 'HH:mm' // 17:00
                            },
                axisFormat: 'HH:mm',
                allDaySlot: false,
                titleFormat: {
                                month: 'MMMM yyyy',                             // Septembre 2009
                                week: "MMM dd[ yyyy]{ '&#8212;'[ MMM] dd yyyy}", // Sep 07 - 13 2009
                                day: 'dddd dd MMMM yyyy'                  // Mardi 08 Septembre 2009
                            },
                columnFormat: {
                                month: 'ddd',    // Lun
                                week: 'ddd dd/MM', // Lun 07/09
                                day: 'dddd dd/MM'  // Lundi 07/09
                            },
                buttonText: {
                                prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
                                next:     '&nbsp;&#9658;&nbsp;',  // right triangle
                                prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                                nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                                today:    'aujourd\'hui',
                                month:    'mois',
                                week:     'semaine',
                                day:      'jour'
                            },
                editable: true,
                events: [
                @{
                    var orange = "#f7a33a";
                    var red = "#d25657";
                    var yellow = "#f5f322";
                    var grey = "#808080";
                    var colored = "";
                }
                    @foreach (var item in Model.List.List)
                    {
                        if (item.Expired || item.Cancelled)
                        {
                            colored = grey;
                        }
                        else if (item.Refused)
                        {
                            colored = red;
                        }
                        else if (item.Waiting)
                        {
                            colored = orange;
                        }
                        else if (item.Unknown)
                        {
                            colored = yellow;
                        }

                        @:{ id: '@item.Id', title: '@item.Offer.Name - @item.Member.GetFullDisplayName()', start: '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.FromDate)', end: '@string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.ToDate)', color: '@colored', url: '@Url.AbsoluteAction(MVC.Backoffice.Localisation.ActionNames.BookingDetail, MVC.Backoffice.Localisation.Name, new { id = item.Id })', allDay: false },
                    }
			    ],
                selectable: true,
		        selectHelper: true
			});
        });
    });
    </script>
}