@model	MemberBooking

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
    Model.GetStatusForOwner(out statusText, out color);
}

@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationNavigation, new LocalisationNavigation { Localisation = Model.Offer.Localisation, Offer = Model.Offer })
@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Offers, Id = Model.Offer.LocalisationId })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.BONews, MVC.Backoffice.Localisation.OfferIndex(Model.Offer.Localisation.ID, Model.Offer.Id))} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Configure, MVC.Backoffice.Localisation.ConfigureOffer(Model.Offer.Id))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking(Model.Offer.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation(Model.Offer.Id))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, RazorHelpers.DisplayDate(Model.CreationDate, CultureHelpers.TimeFormat.LongGeneral).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, RazorHelpers.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, RazorHelpers.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
                @RazorHelpers.Description("Statut", statusText)
                @RazorHelpers.Description("Message", Model.Message)
                @RazorHelpers.Description("Réponse", Model.Response)
            </div>
            <div class="clear"></div>
        </div>
        @if (Model.NeedOwnerAction)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink("Accepter", MVC.Backoffice.Localisation.ConfirmBooking(Model.Id))
			</div>
			<div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseBooking(Model.Id))
			</div>
            <div class="clear">
            </div>
        }
	</div>
	<div class="clear"></div>
</div>