@model	MemberBooking

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
	DateTime? statusDate = null;
	Model.GetStatus(out statusText, out color, out statusDate);
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.Offer.Id));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.Offer.Id, (int)OfferMenuType.Booking));}
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
				@Worki.Resources.Views.Booking.BookingString.Asked : <span class="bold">@Html.DisplayLocalDate(Model.CreationDate)</span><br />
				@RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Customer, Model.Member.GetAnonymousDisplayName())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Start, Html.DisplayDate(Model.FromDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.End, Html.DisplayDate(Model.ToDate, CultureHelpers.TimeFormat.General).ToString())
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Price, WebHelper.DisplayCurrency(Model.Price))
                Statut : <span class="bold">@statusText @Html.DisplayLocalDate(statusDate)</span><br />
                @RazorHelpers.Description("Message", Model.Message)
                @RazorHelpers.Description("Réponse", Model.Response)
            </div>
            <div class="clear"></div>
        </div>
		<div class="float-right">		
			@if (Model.OwnerCanAccept)
			{ 
				<div class="buttonStd buttonBlue linkImg inline-block">
					@Html.ActionLink("Accepter", MVC.Backoffice.Localisation.ConfirmBooking(Model.Id))
				</div>
				<div class="buttonStd buttonBlue linkImg inline-block">
					@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseBooking(Model.Id))
				</div>
			}
		</div>
		<div class="clear">
        </div>
	</div>
	<div class="clear"></div>
</div>