@model OfferModel<MemberBooking>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.OfferModelId));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.OfferModelId, (int)OfferMenuType.Config));}
	</div>

	<div class="blockContainer float-left contentRight">
		@using (Html.BeginForm())
        {
		    <div class="contentBlock">
                <div class="loginDesc marginb10">
                    @Worki.Resources.Views.Shared.SharedString.PleaseChangeInfos
                </div>
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.OfferModelId)
				<table class="confirmbooktable">
                    <tr>
						<td>
							@Html.LabelFor(m => m.InnerModel.Price)<span class="blue">*</span>
						</td>
						<td>
							@Html.TextBoxFor(m => m.InnerModel.Price)
						</td>
                    </tr>
                    <tr>
                        <td>
							@Html.LabelFor(m => m.InnerModel.Response)<span class="blue">*</span>
						</td>
						<td>
							@Html.TextAreaFor(m => m.InnerModel.Response)
						</td>
					</tr>
				</table>
		    </div>
            <div class="editor-field float-right">
			    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Booking.BookingString.ConfirmIt"/>
		    </div>
		    <div class="clear"></div>
        }
	</div>
	<div class="clear"></div>
</div>