@model Worki.Data.Models.MemberBooking

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationNavigation, new LocalisationNavigation { Localisation = Model.Offer.Localisation, Offer = Model.Offer })
@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Offers, Id = Model.Offer.LocalisationId })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Backoffice.Localisation.OfferIndex(Model.Offer.Localisation.ID,Model.Offer.Id))} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Configure, MVC.Backoffice.Localisation.ConfigureOffer(Model.Offer.Id))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking(Model.Offer.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation(Model.Offer.Id))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		@using (Html.BeginForm())
        {
		    <div class="contentBlock">
                @RazorHelpers.TitleDiv(Model.Offer.Name, "Blue")
                <div class="loginDesc marginb10">
                    @Worki.Resources.Views.Shared.SharedString.PleaseChangeInfos
                </div>
				@Html.AntiForgeryToken()
				<table class="confirmbooktable">
                    <tr>
						<td>
							@Html.LabelFor(m => m.Price)<span class="blue">*</span>
						</td>
						<td>
							@Html.TextBoxFor(m => m.Price)
						</td>
                    </tr>
                    <tr>
						<td>
							@Html.LabelFor(m => m.PaymentMail)<span class="blue">*</span>
						</td>
						<td>
							@Html.TextBoxFor(m => m.PaymentMail)
						</td>
                    </tr>
                    <tr>
                        <td>
							@Html.LabelFor(m => m.Response)<span class="blue">*</span>
						</td>
						<td>
							@Html.TextAreaFor(m => m.Response)
						</td>
					</tr>
				</table>
		    </div>
            <div class="editor-field float-right">
			    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Booking.BookingString.ConfirmIt"/>
		    </div>
		    <div class="clear"></div>
        }
	</div>
	<div class="clear"></div>
</div>