@model OfferModel<MemberBooking>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.OfferModelId));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.OfferModelId, (int)OfferMenuType.Config));}
	</div>

	<div class="blockContainer float-left contentRight">
		@using (Html.BeginForm(MVC.Backoffice.Localisation.ActionNames.ConfirmBooking, MVC.Backoffice.Localisation.Name, FormMethod.Post, new { id = "confirmBookingForm" }))
        {
		    <div class="contentBlock">
                <div class="loginDesc marginb20">
                @string.Format(Worki.Resources.Views.Shared.SharedString.PleaseFillInfos,
                                    string.Format("{0:dd/MM/yyyy}", Model.InnerModel.FromDate),
                                    string.Format("{0:HH:mm}", Model.InnerModel.FromDate),
                                    string.Format("{0:dd/MM/yyyy}", Model.InnerModel.ToDate),
                                    string.Format("{0:HH:mm}", Model.InnerModel.ToDate)) :
                </div>
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.OfferModelId)
                @Html.HiddenFor(m => m.InnerModel.FromDate)
                @Html.HiddenFor(m => m.InnerModel.ToDate)
                <table>
                    <tr>
                        <td style="padding-right: 50px;">
                            @Html.LabelFor(m => m.InnerModel.Price) <span class="blue">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.InnerModel.Price)
                        </td>
                    </tr>
                </table>
		    </div>
            <div class="editor-field float-right">
			    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Booking.BookingString.ConfirmIt"/>
		    </div>
		    <div class="clear"></div>
        }
	</div>
	<div class="clear"></div>
</div>

@section ScriptContent
{
	<script type="text/javascript">
		$("#confirmBookingForm").submit(function () {
			var bookingPrice = $("#InnerModel_Price").val();
			var newBookingPrice = bookingPrice.replace(",", ".");
			$("#InnerModel_Price").val(newBookingPrice);
			return true;
		});
	</script>
}