@model BackOfficeLocalisationHomeViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.BONews)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Localisation.ID, LocalisationMainMenu.Home));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.VerticalMenu(Model.Localisation.ID, (int)LocalisationMenu.Home));}
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Localisation.GetMainPic(),
                    ImageAlt = Model.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.BackOffice.BackOfficeString.Place, Value = Model.Localisation.Name, Bold = true, Url = Model.Localisation.GetDetailFullUrl(Url)},
                        new DescriptionItem{ Title = Worki.Resources.Views.BackOffice.BackOfficeString.Town, Value = Model.Localisation.City, Bold = false}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            @Html.Partial(MVC.Dashboard.Shared.Views._NewsContent,Model.News)
            <div class="clear">
	        </div>
			<div class="homeButtons">
				<div class="float-left homeButton buttonDarkBlue buttonStd noUnderline">
					<a href="@Url.Action(MVC.Backoffice.Schedule.CreateBooking(Model.Localisation.ID))">
						<div class="float-left homePlus">+</div> 
						<div class="float-left homeText">@Worki.Resources.Views.BackOffice.BackOfficeString.CreateBooking</div> 						
						<div class="clear"></div>
					</a>
				</div>
				<div class="float-right homeButton buttonDarkBlue buttonStd noUnderline">
					<a href="@Url.Action(MVC.Backoffice.Client.CreateInvoice(Model.Localisation.ID))">
						<div class="float-left homePlus">+</div> 
						<div class="float-left homeText">@Worki.Resources.Menu.Menu.CreateInvoice</div> 						
						<div class="clear"></div>
					</a>
				</div>
				<div class="clear">
				</div>
				<div class="float-left homeButton buttonDarkBlue buttonStd noUnderline">
					<a href="@Url.Action(MVC.Backoffice.Client.Add(Model.Localisation.ID))">
						<div class="float-left homePlus">+</div> 
						<div class="float-left homeText">@Worki.Resources.Menu.Menu.AddClient</div> 						
						<div class="clear"></div>
					</a>
				</div>
				<div class="float-right homeButton buttonDarkBlue buttonStd noUnderline">
					<a href="@Url.Action(MVC.Backoffice.Offer.Prices(Model.Localisation.ID))">
						<div class="float-left homePlus">+</div> 
						<div class="float-left homeText">@Worki.Resources.Menu.Menu.Prices</div> 						
						<div class="clear"></div>
					</a>
				</div>
				<div class="clear">
				</div>
			</div>
			
            <div class="newsBottom innerContentBlock">
                <div class="newsHeader">
                    @Worki.Resources.Views.BackOffice.BackOfficeString.OffersDirectAccess
                </div>
                <div class="padding10">
                    @if (Model.Localisation.Offers.Count > 0)
                    {
                    	<ul>
			            @foreach (var item in Model.Localisation.Offers)
			            {
                            <a href="@Url.Action(MVC.Backoffice.Offer.Prices(item.Localisation.ID, item.Id))">
                                <div class="localisationTag float-left">
                                    <div class="localisationImgDiv borderedImg">
                                        @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(item.GetMainPic(), true, PictureData.GetFolder(ProviderType.Offer)), item.Name)
                                    </div>
                                    <div class="localisationImgDesc">
                                        <span class="bold">@item.Name</span>
                                    </div>                                   
                                </div>
                            </a>
                        }
			            </ul>
                        <div class="clear">
                        </div>
                    }
                    else
                    { 
                        <span>@Worki.Resources.Views.BackOffice.BackOfficeString.PlaceDoNotHaveOffer</span>
                    }
                </div>
            </div>
		</div>
	</div>
	<div class="clear">
	</div>
</div>