@model	OfferBookingViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationNavigation, new LocalisationNavigation { Localisation = Model.Offer.Localisation, Offer = Model.Offer })
@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Offers, Id = Model.Offer.LocalisationId })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Backoffice.Localisation.OfferIndex(Model.Offer.Localisation.ID, Model.Offer.Id))} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Configure, MVC.Backoffice.Localisation.ConfigureOffer(Model.Offer.Localisation.ID,Model.Offer.Id))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking(Model.Offer.Localisation.ID, Model.Offer.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation(Model.Offer.Localisation.ID, Model.Offer.Id))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        @if (Model.Bookings.List.Count != 0)
        {
            <ul>
            @foreach (var booking in Model.Bookings.List)
            {
                @Html.Partial(MVC.Backoffice.Shared.Views._BookingItem, booking)
            }
            </ul>
            <div class="pager">
                @Html.PageLinks(Model.Bookings.PagingInfo, x => Url.Action(MVC.Backoffice.Localisation.OfferBooking(Model.Offer.Localisation.ID, Model.Offer.Id, x)))
            </div>
        }
        else
        {
        <div class="contentBlock italic">
            @Html.Raw(string.Format(Worki.Resources.Views.Profile.ProfileString.AddedSpacesEmpy, Html.ActionLink(Worki.Resources.Views.Home.FaqString.ClickHere, MVC.Home.AddSpace())))
        </div>
        }
	</div>
	<div class="clear"></div>
</div>