@model Offer

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Offers)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Model.Name, "Blue")
@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Offers, Id = Model.LocalisationId })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Backoffice.Localisation.OfferIndex(Model.Localisation.ID,Model.Id))} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Configure, MVC.Backoffice.Localisation.ConfigureOffer(Model.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking(Model.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation(Model.Id))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock">
			@Html.Partial(MVC.Backoffice.Localisation.Views._OfferDropDown, new OfferDropDownModel { Offer = Model, UrlMaker = o => Url.Action(MVC.Backoffice.Localisation.OfferIndex(o.Id)) })
            <table class="offerindextable margint10">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td>
                        : @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.IsOffline)
                    </td>
                    <td>
                        : @Html.DisplayFor(model => model.IsOffline)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Price)
                    </td>
                    <td>
                        : @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Period)
                    </td>
                    <td>
                        : @Offer.GetPaymentPeriodType(Model.Period)
                    </td>
                </tr>
            </table>
		</div>
	</div>
	<div class="clear">
	</div>
</div>

@section ScriptContent
{
	<script type="text/javascript">
		require(["@Links.Scripts.dropdown_js"], function () {
			InitDropdown("#@DropDownModel.OfferDD");
		});
	</script>
}