@model Offer

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Offers)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.Id));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.Id, (int)OfferMenuType.Config));}
	</div>

	<div class="blockContainer float-left contentRight">
		@Html.Partial(MVC.Backoffice.Localisation.Views._OfferDropDown, new OfferDropDownModel { Offer = Model, UrlMaker = o => Url.Action(MVC.Backoffice.Localisation.OfferBooking(o.LocalisationId, o.Id)) })
		<div class="contentBlock">
            <table class="offerindextable margint10">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(model => model.Name)</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        <b>@(Model.IsOnline ? "En ligne" : "Hors-ligne")</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tarif
                    </td>
                    <td>
                        <b>@WebHelper.DisplayCurrency(Model.Price, false) @Offer.GetCurrencyEnumType(Model.Currency)</b> par <b>@Offer.GetPaymentPeriodType(Model.Period)</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.IsBookable)
                    </td>
                    <td>
                        <b>@(Model.IsBookable ? "Oui" : "Non")</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PaymentType)
                    </td>
                    <td>
                        <b>@Offer.GetPaymentTypeEnumType(Model.PaymentType)</b>
                    </td>
                </tr>
            </table>
		</div>
	</div>
	<div class="clear">
	</div>
</div>

@section ScriptContent
{
	<script type="text/javascript">
		require(["@Links.Scripts.dropdown_js"], function () {
			InitDropdown("#@DropDownModel.OfferDD");
		});
	</script>
}