@model	MemberQuotation
@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
	DateTime? statusDate = null;
	Model.GetStatus(out statusText, out color, out statusDate);
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.Offer.Id));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.Offer.Id, (int)OfferMenuType.Quotation));}
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Demand, string.Format("n° {0}", Model.Id))
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Place, Model.Offer.Localisation.Name)
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Offer, Model.Offer.Name)
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Surface, WebHelper.DisplaySurface(Model.Surface))
				@Worki.Resources.Views.Booking.BookingString.Asked : <span class="bold">@Html.DisplayLocalDate(Model.CreationDate)</span><br />
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.VisitNeeded, Model.VisitNeeded ? Worki.Resources.Views.Shared.SharedString.Yes : Worki.Resources.Views.Shared.SharedString.No)
                @Worki.Resources.Views.BackOffice.BackOfficeString.Status : <span class="bold">@statusText @Html.DisplayLocalDate(statusDate)</span><br />
                @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Message, Model.Message)
            </div>
            @if (Model.Paid)
            { 
                <div class="innerContentBlock padding10 summaryDetail float-right">
                    <b>Prospect</b><br/>
                    @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.LastName, Model.Member.MemberMainData.LastName)
                    @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.FirstName, Model.Member.MemberMainData.FirstName)
                    @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Tel, Model.Member.MemberMainData.PhoneNumber)
                    @RazorHelpers.Description(Worki.Resources.Views.BackOffice.BackOfficeString.Email, Model.Member.Email)
                    @Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.SeeClientProfile, MVC.Dashboard.Profil.Public(Model.MemberId))
                </div>
            }
            <div class="clear"></div>
        </div>
		<div class="float-right">
        @if (Model.OwnerCanPay)
        { 
            <div class="buttonStd buttonBlue linkImg inline-block">
				@Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Contact, MVC.Quotation.PayWithPayPal(Model.Id))
			</div>
        }
        @if (Model.OwnerCanRefuse)
        { 
            <div class="buttonStd buttonBlue linkImg inline-block">
				@Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Refuse, MVC.Backoffice.Localisation.RefuseQuotation(Model.Id, Request.Url.PathAndQuery))
			</div>
        }
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>