@model	MemberQuotation
@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
	DateTime? statusDate = null;
	Model.GetStatus(out statusText, out color, out statusDate);
}

@{Html.RenderAction(MVC.Backoffice.Localisation.OfferHorizontalMenu(Model.Offer.Id));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.OfferVerticalMenu(Model.Offer.Id, (int)OfferMenuType.Quotation));}
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
                @RazorHelpers.Description("Lieu", Model.Offer.Localisation.Name)
                @RazorHelpers.Description("Offre", Model.Offer.Name)
                @RazorHelpers.Description("Surface", WebHelper.DisplaySurface(Model.Surface))
                @RazorHelpers.Description("Prix HT", WebHelper.DisplayCurrency(Model.Price))
				@Worki.Resources.Views.Booking.BookingString.Asked : <span class="bold">@Html.DisplayLocalDate(Model.CreationDate)</span><br />
                @RazorHelpers.Description("Demande de visite", Model.VisitNeeded ? "Oui" : "Non")
                Statut : <span class="bold">@statusText @Html.DisplayLocalDate(statusDate)</span><br />
                @RazorHelpers.Description("Message", Model.Message)
                @RazorHelpers.Description("Réponse", Model.Response)
            </div>
            @if (Model.Paid)
            { 
                <div class="innerContentBlock padding10 summaryDetail float-right">
                    <b>Prospect</b><br/>
                    @RazorHelpers.Description("Nom", Model.Member.MemberMainData.LastName)
                    @RazorHelpers.Description("Prénom", Model.Member.MemberMainData.FirstName)
                    @RazorHelpers.Description("Tel", Model.Member.MemberMainData.PhoneNumber)
                    @RazorHelpers.Description("Email", Model.Member.Email)
                    @Html.ActionLink("Voir le profil client", MVC.Dashboard.Profil.Public(Model.MemberId))
                </div>
            }
            <div class="clear"></div>
        </div>
        @if (Model.OwnerCanPay)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Quotation.PayWithPayPal(Model.Id))
			</div>
        }
        @if (Model.OwnerCanRefuse)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseQuotation(Model.Id))
			</div>
        }
	</div>
	<div class="clear"></div>
</div>