@model	MemberQuotation
@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{
    var statusText = "";
    var color = "";
    Model.GetStatus(out statusText, out color);
}

<div class="float-left">
    @RazorHelpers.TitleDiv(Model.Offer.Name, "Blue")
</div>
<div class="float-right bold margint15">
    @Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.BackToOwnerSpace, MVC.Backoffice.Home.Index(), new { @class = "blue" })
</div>
<div class="clear"></div>
@*Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationNavigation, new LocalisationNavigation { Localisation = Model.Offer.Localisation, Offer = Model.Offer })*@
@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, new LocalisationMenuIndex { MenuItem = LocalisationMenu.Offers, Id = Model.Offer.LocalisationId })

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.BONews, MVC.Backoffice.Localisation.OfferIndex(Model.Offer.Localisation.ID, Model.Offer.Id))} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Configure, MVC.Backoffice.Localisation.ConfigureOffer(Model.Offer.Id))} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking(Model.Offer.Id))} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation(Model.Offer.Id))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @{
                var summaryModel = new SummaryViewModel
                {
                    ImagePath = Model.Offer.Localisation.GetMainPic(),
                    ImageAlt = Model.Offer.Localisation.Name,
                    Descriptions = new List<DescriptionItem>
                    {
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Localisation, Value = Model.Offer.Localisation.Name},
                        new DescriptionItem{ Title = Worki.Resources.Views.Booking.BookingString.Offer, Value =  Model.Offer.Name}
                    }
                };
            }
            @Html.Partial(MVC.Dashboard.Shared.Views._SummaryContent,summaryModel)
            <div class="innerContentBlock padding10 summaryDetail float-right">
                @RazorHelpers.Description("Lieu", Model.Offer.Localisation.Name)
                @RazorHelpers.Description("Offre", Model.Offer.Name)
                @RazorHelpers.Description("Surface", WebHelper.DisplaySurface(Model.Surface))
                @RazorHelpers.Description("Prix HT", WebHelper.DisplayCurrency(Model.Price))
                @RazorHelpers.Description(Worki.Resources.Views.Booking.BookingString.Asked, RazorHelpers.DisplayDate(Model.CreationDate, CultureHelpers.TimeFormat.LongGeneral).ToString())
                @RazorHelpers.Description("Demande de visite", Model.VisitNeeded ? "Oui" : "Non")
                @RazorHelpers.Description("Statut", statusText)
                @RazorHelpers.Description("Message", Model.Message)
                @RazorHelpers.Description("Réponse", Model.Response)
            </div>
            <div class="innerContentBlock padding10 summaryDetail float-right">
                <b>Prospect</b><br/>
                @RazorHelpers.Description("Nom", Model.Member.MemberMainData.LastName)
                @RazorHelpers.Description("Prénom", Model.Member.MemberMainData.FirstName)
                @RazorHelpers.Description("Tel", Model.Member.MemberMainData.PhoneNumber)
                @RazorHelpers.Description("Email", Model.Member.Email)
                @Html.ActionLink("Voir le profil client", MVC.Dashboard.Profil.Public(Model.MemberId))
            </div>
            @if (Model.Paid)
            { 
                <span>TODO</span>
            }
            <div class="clear"></div>
        </div>
        @if (Model.OwnerCanPay)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink(Worki.Resources.Views.Booking.BookingString.Pay, MVC.Quotation.PayWithPayPal(Model.Id))
			</div>
        }
        @if (Model.OwnerCanRefuse)
        { 
            <div class="buttonStd buttonBlue linkImg float-right">
				@Html.ActionLink("Refuser", MVC.Backoffice.Localisation.RefuseQuotation(Model.Id))
			</div>
        }
	</div>
	<div class="clear"></div>
</div>