@model LocalisationModel<RefuseQuotationModel>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.LocalisationModelId, LocalisationMainMenu.Home));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.VerticalMenu(Model.LocalisationModelId, (int)LocalisationMenu.Quotations));}
	</div>

	<div class="blockContainer float-left contentRight">
		@using (Html.BeginForm())
        {
	  		@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.LocalisationModelId)
			@Html.HiddenFor(m => m.InnerModel.ReturnUrl)
	  		<div class="contentBlock emptyContent">
				@Worki.Resources.Views.BackOffice.BackOfficeString.RefuseQuotation
			</div>
			<div class="float-right">
				<div class="inline-block">
					<input type="submit" name="confirm" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Booking.BookingString.ConfirmIt"/>
				</div>
				<div class="inline-block">
					<input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.BackOffice.BackOfficeString.Return"/>
				</div>
			</div>
			<div class="clear"></div>
        }
	</div>
	<div class="clear"></div>
</div>