@model Worki.Data.Models.SearchSingleResultViewModel

@section HeadContent
{
    @{
        var metaData = Model.Localisation.GetMetaData();
        metaData.Url = Model.Localisation.GetDetailFullUrl(Url);
    }
    @Html.Partial(MVC.Shared.Views._MetaDataHeader, metaData) 
    <link href="@Url.Content(Links.Content.LocalisationDetail_css) " rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.MobileLocalisationDetail_css) " rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.rateit_css) " rel="stylesheet" type="text/css" />	
    <link href="@Url.Content(Links.Content.Profil_css) " rel="stylesheet" type="text/css"/>
}

@if (Model.FromSearch)
{ 
<div class="pager pagerTop float-left">
    @{ 
	    var rvd = new RouteValueDictionary(ViewContext.RouteData.Values);
	    foreach (string key in Request.QueryString.Keys)
	    {
		    rvd[key] = Request.QueryString[key];
	    }
    }
    <img src="@Links.Content.images.retour_png" /> @Html.ActionLink(Worki.Resources.Views.Search.SearchString.ReturnToResult, MVC.Localisation.ActionNames.FullSearchResult, rvd, new System.Collections.Generic.Dictionary<string, object> { { "class", "bold" } })
</div>

<div class="clear">
</div>
}
@Html.Partial(MVC.Mobile.Shared.Views._LocalisationDetail, Model.Localisation)

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Content.galleria.galleria_1_2_4_js)"], function () {
            require.ready(function () {
                // Load the classic theme
                Galleria.loadTheme('/Content/Galleria/galleria.classic.js');

                // Initialize Galleria
                $('#gallery').galleria({
                    //width: 600,
                    height: 350,
                    showInfo: false
                });
            });
        });
        require(["@Url.VersionedContent(Links.Scripts.jquery_rateit_js)"], function () {
            //rateit
            BindRateIt = function (name) {
                var rateItId = '#rateIt' + name;
                //var id = '#Comment_' + name;
                var id = '#' + name;
                $(rateItId).bind('rated', function (event, value) {
                    $(id).val(value);
                });
            }
            BindRateIt("Rating");
            BindRateIt("RatingPrice");
            BindRateIt("RatingWifi");
            BindRateIt("RatingDispo");
            BindRateIt("RatingWelcome");
        });

        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"]);
            
        //favorites
        $("#favLinkAddButton").live("click", function () {
			$.ajax({
					url: "@Url.Action(MVC.Profil.ActionNames.AddToFavorite,MVC.Profil.Name)",
					data: { "id": '@User.Identity.Name', "locId" : @Model.Localisation.ID },
					success: function (data) {
						$("#favLink").html(data);
					}
				});
		});
		$("#favLinkDelButton").live("click", function () {
			$.ajax({
					url: "@Url.Action(MVC.Profil.ActionNames.RemoveFromFavorite,MVC.Profil.Name)",
					data: { "id": '@User.Identity.Name', "locId" : @Model.Localisation.ID },
					success: function (data) {
						$("#favLink").html(data);
					}
				});
		});
        require(["https://apis.google.com/js/plusone.js"], function () {
            { lang: 'fr' }
        });
    </script>
	@Html.Partial(MVC.Localisation.Views._CommentFormScript, Model.Localisation)
}
