@model LocalisationModel<ProfilFormViewModel>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Clients)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.LocalisationModelId, LocalisationMainMenu.Clients));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Clients, MVC.Backoffice.Client.LocalisationList(Model.LocalisationModelId,null))},
			new MenuItem{ Selected=true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.AddClient, MVC.Backoffice.Client.Add(Model.LocalisationModelId))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Invoices, MVC.Backoffice.Client.Invoices(Model.LocalisationModelId))} , 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CreateInvoice, MVC.Backoffice.Client.CreateInvoice(Model.LocalisationModelId))}
		})
	</div>

	<div class="contentRight blockContainer float-left">
        @using (Html.BeginForm(MVC.Backoffice.Client.ActionNames.Add, MVC.Backoffice.Client.Name, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "profilEditForm" }))
        {
            @Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.LocalisationModelId)
            <div class="profilData">
                <div class="contentBlock">
			        <h3 class="blue">Informations du client</h3>
                    <table>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.Civility)<span class="blue">*</span>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(m => m.InnerModel.Member.MemberMainData.Civility, Model.InnerModel.CivilitySelectTypes)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.LastName)<span class="blue">*</span>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.LastName)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.FirstName)<span class="blue">*</span>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.FirstName)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.Email)<span class="blue">*</span>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.Email)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.PhoneNumber)<span class="blue">*</span>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.PhoneNumber)
                                </div>
                            </td>
                        </tr>
						<tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.City)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.City)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.PostalCode)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.PostalCode)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.InnerModel.Member.MemberMainData.Country)
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.InnerModel.Member.MemberMainData.Country)
                                </div>
                            </td>
                        </tr>
			        </table>
                </div>
                <div class="float-right">
                    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
                </div>
            </div>
            <div class="clear"></div>
        }
    </div>
	<div class="clear">
	</div>
</div>
