@model PagingList<Member>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Clients)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.BackOffice.BackOfficeString.OwnerSpace, "Blue")
@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Clients)

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Clients, MVC.Backoffice.Client.Clients())}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock tableStyle">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.Names
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.NumberBooking
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.PhoneNumber
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.Email
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.CustomerSheet
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @string.Format("{0}, {1}", item.MemberMainData.LastName, item.MemberMainData.FirstName)
                        </td>
                        <td>
                            @item.MemberBookings.Count
                        </td>
                        <td>
                            @Html.GetPhoneFormat(item.MemberMainData.PhoneNumber)
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Access, MVC.Account.Public(item.MemberId), new { @class = "blue" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="pager">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Backoffice.Client.Clients(x)))
            </div>
		</div>
	</div>
	<div class="clear">
	</div>
</div>