@model InvoiceFormViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.CreateInvoice)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Invoice.Localisation.ID, LocalisationMainMenu.Clients));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Clients, MVC.Backoffice.Client.LocalisationList(Model.Invoice.Localisation.ID,null))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.AddClient, MVC.Backoffice.Client.Add(Model.Invoice.Localisation.ID))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Invoices, MVC.Backoffice.Client.Invoices(Model.Invoice.Localisation.ID))} , 
			new MenuItem{ Selected=true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CreateInvoice, MVC.Backoffice.Client.CreateInvoice(Model.Invoice.Localisation.ID))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		@using (Html.BeginForm())
		{
		    <div class="contentBlock invoiceForm">
	   		    @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Invoice.TaxRate)
                <div class="italic">
                    @Html.Raw(string.Format(Worki.Resources.Models.Booking.Invoice.BeforeCreateInvoice, Html.ActionLink(Worki.Resources.Models.Booking.Invoice.BeforeCreateInvoiceLink, MVC.Backoffice.Profil.ChangeBillingInformation(), new { @class = "orange" })))
                </div>
				<table class="invoiceFormtable">
                    <tr>
						<td>
						    @Html.LabelFor(m => m.Invoice.Title)
						</td>
						<td>
							@Html.TextBoxFor(m => m.Invoice.Title)
						</td>
					</tr>
                    <tr>
						<td>
						    @Html.LabelFor(m => m.Invoice.ClientId)
						</td>
						<td>
							@Html.DropDownListFor(m => m.Invoice.ClientId, Model.Clients)
						</td>
					</tr>
                    <tr>
						<td>
						    @Html.LabelFor(m => m.Invoice.PaymentType)
						</td>
						<td>
							@Html.DropDownListFor(m => m.Invoice.PaymentType, Model.PaymentTypes)
						</td>
					</tr>
                    <tr>
						<td>
						    @Html.LabelFor(m => m.Invoice.InvoiceId)
						</td>
						<td>
							@Html.TextBoxFor(m => m.Invoice.InvoiceId)
						</td>
					</tr>
				</table>
				<div class="invoiceItemRows">
					@foreach (var item in Model.Invoice.Items)
					{
						@Html.Partial(MVC.Backoffice.Client.Views._InvoiceItem, item)
					}
				</div>
				@Html.ActionLink(Worki.Resources.Models.Booking.Invoice.AddInvoiceItem, MVC.Backoffice.Client.AddInvoiceItem(), new { @class = "orange", id = "addItem" })
		    </div>

		    <div class="editor-field float-right">
			    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Valid"/>
		    </div>
		    <div class="clear"></div>
		}
	</div>
	<div class="clear">
	</div>
</div>

<script type="text/javascript">
	$("#addItem").click(function () {
		$.ajax({
			url: this.href,
			cache: false,
			success: function (html) {
				$(".invoiceItemRows").append(html);
			}
		});
		return false;
	});

	$("button.deleteRow").live("click", function () {
		$(this).parents(".invoiceItemRow:first").remove();
		return false;
	});

</script>