@model InvoiceListViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Invoices)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Localisation.ID, LocalisationMainMenu.Clients));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Clients, MVC.Backoffice.Client.LocalisationList(Model.Localisation.ID,null))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.AddClient, MVC.Backoffice.Client.Add(Model.Localisation.ID))},
			new MenuItem{ Selected=true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Invoices, MVC.Backoffice.Client.Invoices(Model.Localisation.ID))} , 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CreateInvoice, MVC.Backoffice.Client.CreateInvoice(Model.Localisation.ID))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock tableStyle">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoiceId
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoiceDate
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoicePlace
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoiceClient
                        </th>
                        <th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoicePrice
                        </th>
						<th>
                            @Worki.Resources.Views.BackOffice.BackOfficeString.InvoiceAction
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Bookings.List)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @CultureHelpers.GetSpecificFormat(item.CreationDate, CultureHelpers.TimeFormat.Date)
                        </td>
                        <td>
                            @item.Offer.Localisation.Name
                        </td>
                        <td>
                            @item.Client.GetFullDisplayName()
                        </td>
						<td>
                            @item.GetPriceDisplay()
                        </td>
                        <td>
                            @Html.ActionLink("Pdf",MVC.Backoffice.Client.GetInvoice(item.Id))
                        </td>
                    </tr>
                }
                </tbody>
            </table>
			@if (Model.Bookings.List.Count == 0)
			{
			<div class="emptyContent italic">
				@Worki.Resources.Views.BackOffice.BackOfficeString.InvoiceEmpty
			</div>	
			}
			<div class="pager">
                @Html.MonthYearLinks(Model.Bookings.Current, Model.Bookings.Initial, x => Url.Action(MVC.Backoffice.Client.Invoices(Model.Localisation.ID, x)))
            </div>
		</div>
	</div>
	<div class="clear"></div>
</div>