@model LocalisationModel<PagingList<Member>>

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Clients)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.LocalisationModelId, LocalisationMainMenu.Clients));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected=true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Clients, MVC.Backoffice.Client.LocalisationList(Model.LocalisationModelId,null))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.AddClient, MVC.Backoffice.Client.Add(Model.LocalisationModelId))},
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Invoices, MVC.Backoffice.Client.Invoices(Model.LocalisationModelId))} , 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CreateInvoice, MVC.Backoffice.Client.CreateInvoice(Model.LocalisationModelId))}
		})
	</div>

	<div class="blockContainer float-left contentRight">
		<div class="contentBlock tableStyle">
			@Html.Partial(MVC.Backoffice.Client.Views._Clients, Model.InnerModel.List)
			<div class="pager">
				@Html.PageLinks(Model.InnerModel.PagingInfo, x => Url.Action(MVC.Backoffice.Client.LocalisationList(Model.LocalisationModelId, x)))
			</div>
		</div>
	</div>
	<div class="clear">
	</div>
</div>