@model Worki.Data.Models.LogOnModel

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Views.Account.AccountString.Login)</title>
    <link href="@Url.Content(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
}


    <div class="borderContainer">
        @RazorHelpers.TitleDiv(Worki.Resources.Views.Account.AccountString.LoginToEWorky, "Blue")

        <div class="login-account">
            @using (Html.BeginForm())
            { 
                @Html.AntiForgeryToken()
                <div class="loginDiv">
                    <table>
                        @if (ViewBag.AlreadyRegistered != null)
                        {
                        <tr>
                            <td>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @ViewBag.AlreadyRegistered
                                </div>
                            </td>
                        </tr>
                        }
                        <tr>
                            <td>
                                <div class="editor-label">
                                    @Html.LabelFor(m => m.Login) 
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBoxFor(m => m.Login)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.Password) 
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.Password) &nbsp;&nbsp; @Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword())
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <input type="submit" class="btn_blue imageBtn" value="Se connecter"/>
                                &nbsp;&nbsp;ou @Html.ActionLink(Worki.Resources.Views.Account.AccountString.EWorkyRegister, MVC.Account.Register())
                            </td>
                        </tr>
                    </table>                    
                </div>
            } 
        </div>
    </div>

@section ScriptContent
{
    <script src="@MiscHelpers.jquery " type="text/javascript"></script>
    @Html.Partial(MVC.Shared.Views._CufonScript)
}