@model Worki.Data.Models.LogOnModel

@section HeadContent
{  
    <meta name="robots" content="noindex">
	<meta name="Description" content="@Worki.Resources.Views.Account.ConnexionString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Account.AccountString.Login)</title>
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Account.AccountString.LoginToEWorky, "Blue")

<div class="detailContent">
    <div class="blockContainer">
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()
        <span class="contentBlock float-left fb_left_block_connexion">
            <table>
                @if (ViewBag.AlreadyRegistered != null)
                {
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="editor-field">
                            @ViewBag.AlreadyRegistered
                        </div>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Login) 
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Login)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Password) 
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password) &nbsp;
                        <span class="blue">@Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword())</span>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.LogIn"/>
                        &nbsp;&nbsp;ou <span class="blue">@Html.ActionLink(Worki.Resources.Views.Account.AccountString.EWorkyRegister, MVC.Account.Register())</span>
                    </td>
                </tr>
            </table>
        </span>
        <span class="contentBlock float-right fb_right_block_connexion">
            <p>Connectez-vous en quelques secondes à eWorky grâce à votre compte Facebook !</p>
            <a href="/compte/facebook-logon"><img alt="Connection avec Facebook" src="/Content/Images/signin_facebook.png" class="fb_button_logon" /></a>
        </span>
        <div class="clear"></div>
    }
    </div>
</div>