@model Worki.Data.Models.ResetPasswordModel

@section HeadContent
{
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ResetThePassword)</title>
}


    <div class="borderContainer">
        @RazorHelpers.TitleDiv(Worki.Resources.Models.Account.AccountModels.ResetThePassword, "Blue")

        <div class="login-account">
            <div class="loginDesc">
            @Worki.Resources.Views.Account.AccountString.SetMailInscription
            </div>
            @using (Html.BeginForm()) { 
                @Html.AntiForgeryToken()
                <div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.EMail) 
                    </div>

                    <input type="submit" class="btn_blue imageBtn" value="Envoyer"/>
                </div>
            } 
        </div>
    </div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._CufonScript)
}