@model Worki.Data.Models.ResetPasswordModel

@section HeadContent
{
    <meta name="robots" content="noindex">
	<meta name="Description" content="@Worki.Resources.Views.Account.ResetMdpString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ResetThePassword)</title>
}


    <div class="detailContent">
        @RazorHelpers.TitleDiv(Worki.Resources.Models.Account.AccountModels.ResetThePassword, "Blue")
        <div class="loginDesc">
        @Worki.Resources.Views.Account.AccountString.SetMailInscription
        </div>
        @using (Html.BeginForm())
		{ 
            @Html.AntiForgeryToken()
            <div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.EMail) 
                </div>

                <input type="submit" class="btn_blue imageBtn" value="Envoyer"/>
            </div>
        }
    </div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._CufonScript)
}