@model Worki.Data.Models.PagingList<MemberQuotation>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Moderation)

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.StatTitle, MVC.Admin.Moderation.Stat())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.Moderation.IndexBooking())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Quotations, MVC.Admin.Moderation.IndexQuotation())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastModif, MVC.Admin.Moderation.Last100Modif())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastCreate, MVC.Admin.Moderation.LastCreate())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.Moderation.IndexImport())}, 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Translate, MVC.Admin.Moderation.CheckResources())}
		})
	</div>

	<div class="blockContainer float-left adminPanel">
		<table>
            <thead>
                <tr>
                    <th>
                         @Worki.Resources.Views.Admin.AdminString.ID
                    </th> 
					<th>
                         @Worki.Resources.Views.Admin.AdminString.EmailAddress
                    </th> 
                    <th>
                         @Worki.Resources.Models.Booking.Booking.Handled
                    </th>
					<th>
                        @Worki.Resources.Models.Booking.Booking.Confirmed
                   </th>
                </tr>
            </thead>
        <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td align="center">
                    @Html.ActionLink(item.Id.ToString(), MVC.Quotation.Details(item.Id))
                </td>
                <td align="center">
                    @Html.ActionLink(item.Member.Email, MVC.Account.Public(item.MemberId))
                </td>
				<td align="center">
                    @item.GetStatus()
                </td>
                @if (item.Pending)
                {
				<td align="center">

					    @Html.ActionLink("Transferer", MVC.Admin.Moderation.TransferQuotation(item.Id, Model.PagingInfo.CurrentPage)) |
                        @Html.ActionLink("Supprimer", MVC.Admin.Moderation.DeleteQuotation(item.Id, Model.PagingInfo.CurrentPage))                                                                  
                </td>
                }
                else
                {
                <td align="center">                                                             
                </td>
                }
            </tr>
        }
        </tbody>
        <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Moderation.ActionNames.IndexQuotation, MVC.Admin.Moderation.Name, new { page = x }))
        </div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>