@model Worki.Data.Models.PagingList<MemberEdition>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.StatString.LastModif, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Shared.Views._AdminMenu)
    </div>
    <div class="adminPanel">
        <table>
            <tr>
                <th>
                    @Worki.Resources.Views.Admin.StatString.EworkerName
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.PlaceName
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Date
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Status
                </th>
            </tr>
            @foreach (var item in Model.List)
			{ 
            <tr>
                <td align="right">
                    <a href="@Url.Action(MVC.Dashboard.Profil.Public(item.MemberId))">@item.Member.Email</a>
                </td>
                <td align="right">
                    <a href="@item.Localisation.GetDetailFullUrl(Url)">@item.Localisation.Name</a>
                </td>
                <td align="right">
                    @string.Format("{0:d/M/yyyy HH:mm:ss}", item.ModificationDate)
                </td>
                <td align="right">
                    @Worki.Resources.Views.Admin.StatString.Edit
                </td>
            </tr>
            }
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Moderation.ActionNames.Last100Modif, MVC.Admin.Moderation.Name, new { page = x }))
        </div> 
        <div class="clear"></div>
    </div>
</div>