@model List<Worki.Data.Models.StateItem>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Moderation)

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.StatTitle, MVC.Admin.Moderation.Stat())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.Moderation.IndexBooking())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Quotations, MVC.Admin.Moderation.IndexQuotation())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastModif, MVC.Admin.Moderation.Last100Modif())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastCreate, MVC.Admin.Moderation.LastCreate())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.Moderation.IndexImport())}
		})
	</div>

	<div class="blockContainer float-left adminPanel">
		<table class="stat">
            <tr>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Country
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Wifi
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.CoffeeResto
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Biblio
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.PublicSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.TravelerSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Hotel
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Telecentre
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.BuisnessCenter
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.CoworkingSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.WorkingHotel
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.PrivateArea
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.NbByCountry
                </th>
            </tr>
            @{
                var SpotWifi = 0;
                var CoffeeResto = 0;
                var Biblio = 0;
                var PublicSpace = 0;
                var TravelerSpace = 0;
                var Hotel = 0;
                var Telecentre = 0;
                var BuisnessCenter = 0;
                var CoworkingSpace = 0;
                var WorkingHotel = 0;
                var PrivateArea = 0;
                var Total = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td align="right">
                        @item.Country_Name
                    </td>
                    <td align="right">
                        @item.SpotWifi
                        @{SpotWifi += item.SpotWifi;}
                    </td>
                    <td align="right">
                        @item.CoffeeResto
                        @{CoffeeResto += item.CoffeeResto;}
                    </td>
                    <td align="right">
                        @item.Biblio
                        @{Biblio += item.Biblio;}
                    </td>
                    <td align="right">
                        @item.PublicSpace
                        @{PublicSpace += item.PublicSpace;}
                    </td>
                    <td align="right">
                        @item.TravelerSpace
                        @{TravelerSpace += item.TravelerSpace;}
                    </td>
                    <td align="right">
                        @item.Hotel
                        @{Hotel += item.Hotel;}
                    </td>
                    <td align="right">
                        @item.Telecentre
                        @{Telecentre += item.Telecentre;}
                    </td>
                    <td align="right">
                        @item.BuisnessCenter
                        @{BuisnessCenter += item.BuisnessCenter;}
                    </td>
                    <td align="right">
                        @item.CoworkingSpace
                        @{CoworkingSpace += item.CoworkingSpace;}
                    </td>
                    <td align="right">
                        @item.WorkingHotel
                        @{WorkingHotel += item.WorkingHotel;}
                    </td>
                    <td align="right">
                        @item.PrivateArea
                        @{PrivateArea += item.PrivateArea;}
                    </td>
                    <td align="right">
                        @item.Total
                        @{Total += item.Total;}
                    </td>
                </tr>
            }
            <tfoot>
                <td align="right">
                    Total
                </td>
                <td align="right">
                    @SpotWifi
                </td>
                <td align="right">
                    @CoffeeResto
                </td>
                <td align="right">
                    @Biblio
                </td>
                <td align="right">
                    @PublicSpace
                </td>
                <td align="right">
                    @TravelerSpace
                </td>
                <td align="right">
                    @Hotel
                </td>
                <td align="right">
                    @Telecentre
                </td>
                <td align="right">
                    @BuisnessCenter
                </td>
                <td align="right">
                    @CoworkingSpace
                </td>
                <td align="right">
                    @WorkingHotel
                </td>
                <td align="right">
                    @PrivateArea
                </td>
                <td align="right">
                    @Total
                </td>
            </tfoot>
        </table>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>