@model Worki.Data.Models.Localisation

<div class="commentBgd">
    <div class="commentContainer">
        <div class="ratingContainer displayTable">
            @Html.ReadOnlyRating(Model.GetRatingAverage(RatingType.General))<span class="displayCell lightblue"><a href="@(ViewData["link"] + "#commentFormDiv")">@(Model.Comments.Count.ToString() +" avis")</a></span>
            <div class="clear">
            </div> 
        </div>
        @{
            int index = 0;
            foreach (var com in Model.Comments)
            {
                if (com.Member == null)
                { 
                    continue;
                }
                if (index++ >= 2)
                {
                    break;
                }
                <p class="commentText">&laquo; @Html.TruncateAtWord(com.Post,60)&raquo; <span class="commentUser">@com.Member.GetDisplayName()</span>
                </p>
            }
        }
    </div>
    <div class="clear">
    </div>
</div>