@if (Request.IsAuthenticated)
{       
    <div class="welcome blue">
        @{
            var displayName = User.Identity.Name;
			var memberId = 0;
            FormsIdentity ident = User.Identity as FormsIdentity;
            if (ident != null)
            {
				displayName = ControllerHelpers.GetIdentityDisplayName(User.Identity);
				memberId = ControllerHelpers.GetIdentityId(User.Identity);
            }
        }
        <div>
            Bienvenue <b>@displayName</b> !
        </div>
        <div>
            @Html.ActionLink("Mon profil", MVC.Profil.Dashboard(memberId)) | 
            @Html.ActionLink(WorkiResources.Views.Shared.SharedString.Deconnect, MVC.Account.LogOff())
            @if (User.IsInRole(MiscHelpers.AdminRole))
            {
                <span> | </span>
                @Html.ActionLink(WorkiResources.Views.Shared.SharedString.Admin, MVC.Admin.Index())
            }
        </div>
    </div>
}
else
{
    <div class="nouveau_register float-left">
        	<h3 class="blue">@WorkiResources.Views.Shared.SharedString.NewOnEWorky</h3>
            <p>@Html.Raw(WorkiResources.Views.Shared.SharedString.FreeInscriptionEnjoy)</p> 
    </div>
    <div class="connect lengthConnexionBox">
        <div class="blue">
            @Html.ActionLink(WorkiResources.Views.Account.AccountString.Login, MVC.Account.LogOn())
        </div>
        <div class="float-right" style="padding-top:6px;">
            <div class="btn_blue linkImg">@Html.ActionLink(WorkiResources.Views.Account.AccountString.Inscription, MVC.Account.Register())</div>

        </div>
    </div>
}
