@if (Request.IsAuthenticated)
{       
    <div class="welcome blue">
        @{
            var displayName = User.Identity.Name;
			var memberId = 0;
            FormsIdentity ident = User.Identity as FormsIdentity;
            if (ident != null)
            {
				displayName = WebHelper.GetIdentityDisplayName(User.Identity);
				memberId = WebHelper.GetIdentityId(User.Identity);
            }
        }
        <div class="loginTitle">
            @Worki.Resources.Views.Home.HomeString.Welcome <b>@displayName</b> !
        </div>
        <div>
            @Html.ActionLink(Worki.Resources.Views.Profile.ProfileString.MyProfile, MVC.Profil.Dashboard()) | 
            @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Deconnect, MVC.Account.LogOff())
            @if (User.IsInRole(MiscHelpers.AdminConstants.AdminRole))
            {
                <span> | </span>
                @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Admin, MVC.Admin.Admin.Index())
            }
        </div>
    </div>
}
else
{
    <div class="loginTitle">@Worki.Resources.Views.Shared.SharedString.FbConnexionText</div>
    <div class="lengthConnexionBox">
        @RazorHelpers.FacebookLogon(Url.Action(MVC.Account.FacebookLogOn()), Worki.Resources.Views.Shared.SharedString.SignIn, "float-left")
        <div class="blue float-left connectEworky">
            @Html.ActionLink(Worki.Resources.Views.Account.AccountString.Login, MVC.Account.LogOn()) | 
            @Html.ActionLink(Worki.Resources.Views.Account.AccountString.Inscription, MVC.Account.Register())
        </div>
    </div>
}
<div class="clear">
</div>
