@if (Request.IsAuthenticated)
{       
    <div class="welcome blue">
        @{
            var displayName = User.Identity.Name;
			var memberId = 0;
            FormsIdentity ident = User.Identity as FormsIdentity;
            if (ident != null)
            {
				displayName = ControllerHelpers.GetIdentityDisplayName(User.Identity);
				memberId = ControllerHelpers.GetIdentityId(User.Identity);
            }
        }
        <div>
            @Worki.Resources.Views.Home.HomeString.Welcome <b>@displayName</b> !
        </div>
        <div>
            @Html.ActionLink(Worki.Resources.Views.Profile.ProfileString.MyProfile, MVC.Profil.Dashboard(memberId)) | 
            @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Deconnect, MVC.Account.LogOff())
            @if (User.IsInRole(MiscHelpers.AdminRole))
            {
                <span> | </span>
                @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Admin, MVC.Admin.Index())
            }
        </div>
    </div>
}
else
{
    <div class="nouveau_register float-left">
        <span class="bold blue">@Worki.Resources.Views.Shared.SharedString.NewOnEWorky</span>
        <p>@Html.Raw(Worki.Resources.Views.Shared.SharedString.FreeInscriptionEnjoy)</p> 
    </div>
    <div class="connect lengthConnexionBox float-right">
        <div class="blue">
            @Html.ActionLink(Worki.Resources.Views.Account.AccountString.Login, MVC.Account.LogOn())
        </div>
        <div>
            <div class="buttonStd buttonBlue linkImg">@Html.ActionLink(Worki.Resources.Views.Account.AccountString.Inscription, MVC.Account.Register())</div>
        </div>
    </div>
}
