@model Worki.Data.Models.MapModel

<div id="detailMap">
</div>

<script type="text/javascript">
    require(["@MiscHelpers.UrlConstants.jqueryui", "http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize"], function () {

    });

    function initialize() {
        require(["@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
            var latitude = @Model.Latitude;
            var longitude = @Model.Longitude; 
            var title = "@Model.Name";
            var workiMap = new WorkiMap('detailMap');
            workiMap.LoadDetailMap(latitude, longitude, title);
        });
    }
</script>