@model Worki.Data.Models.MetaData
      
<link rel="canonical" href="@Model.Url"/>
<meta name="Description" content="@Model.Description"/>
<title>@Html.WorkiTitle(Model.Title)</title>     
<meta property="og:title" content="@Model.Title" />
<meta property="og:type" content="article" />
<meta property="og:url" content="@Model.Url" />
<meta property="og:image" content="@Model.Image" />
<meta property="og:site_name" content="eWorky" /> 
<meta property="fb:admins" content="176767605710969" />
<meta property="og:description" content="@Model.Description"/>
