@model Worki.Data.Models.PagingList<Localisation>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Sheet)

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace, MVC.Admin.Sheet.Index())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.Sheet.IndexRental())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.CoworkingSpaceFr, MVC.Admin.Sheet.CoworkingSpace())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.BusinessCenterFr, MVC.Admin.Sheet.BusinessCenter())}
		})
	</div>

	<div class="blockContainer float-left adminPanel">
        <table>
            <tr>
                <th>
                    &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Name
                </th>
                <th>
                    &nbsp;&nbsp;@Worki.Resources.Views.Admin.AdminString.Owner
                </th>
                <th>
                    &nbsp;&nbsp;@Worki.Resources.Views.Localisation.LocalisationString.BookIt
                </th>
            </tr>

            @foreach (var item in Model.List)
            { 
                <tr>
                    <td align="right">
                        <a href="@item.GetDetailFullUrl(Url)">@item.Name</a>
                    </td>
                    <td align="right">
                        @item.Member.GetFullDisplayName()
                    </td>
                    <td align="right">
                        @(item.Bookable ? Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Yes, MVC.Admin.Sheet.BookIt(item.ID)) : Html.ActionLink(Worki.Resources.Views.Shared.SharedString.No, MVC.Admin.Sheet.BookIt(item.ID)))
                    </td>
                </tr>
            } 
            </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Sheet.ActionNames.CoworkingSpace, MVC.Admin.Sheet.Name, new { page = x }))
        </div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>