@model Worki.Data.Models.Localisation

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.ComfirmDelete+Model.Name) </title>
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Sheet)

<div class="detailContent">

	<div class="blockContainer float-left">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace, MVC.Admin.Sheet.Index())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.Sheet.IndexRental())}
		})
	</div>

	<div class="blockContainer float-left">
		<h2>
            @Worki.Resources.Views.Localisation.LocalisationString.ComfirmDelete
        </h2>
        <div>
            <p>@Worki.Resources.Views.Localisation.LocalisationString.PleaseConfirmDelete
            <i> @Model.Name ? </i> </p>
        </div>
        @using (Html.BeginForm(new { returnUrl = TempData["returnUrl"] }))
        {
            @Html.AntiForgeryToken();
            <input name="confirmButton" type="submit" value="@Worki.Resources.Views.Shared.SharedString.Suppress" />
        }
	</div>
	<div class="clear"></div>
</div>