@model Worki.Data.Models.PagingList<Rental>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Admin.Shared.Views._AdminMenu, AdminMenu.Sheet)

<div class="detailContent">

	<div class="blockContainer float-left adminLeftMenu">
    @Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace, MVC.Admin.Sheet.Index())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.Sheet.IndexRental())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CoworkingSpaceFr, MVC.Admin.Sheet.CoworkingSpace())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.BusinessCenterFr, MVC.Admin.Sheet.BusinessCenter())}
		})
	</div>

	<div class="blockContainer float-left adminPanel">
        <h3>@Html.ActionLink(Worki.Resources.Views.Admin.AdminString.CreateRental, MVC.Rental.Create())</h3>
		<table>
            <thead>
                <tr>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
                    </th> 
					<th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.EmailAddress
                    </th>
					<th>
                        &nbsp;&nbsp; @Worki.Resources.Models.Rental.Rental.PostalCode
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Models.Rental.Rental.Rate
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Models.Rental.Rental.Surface
                    </th>
					<th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Action
                    </th>
                </tr>
            </thead>
        <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td align="center">
                    @Html.ActionLink(item.Id.ToString(), MVC.Rental.Detail(item.Id))
                </td>
                <td align="center">
                    @Html.ActionLink(item.Member.Email, MVC.Dashboard.Profil.Public(item.MemberId))
                </td>
                <td align="center">
					@item.PostalCode
                </td>
				<td align="center">
					@item.RateString
                </td>
                <td align="center">
					@item.SurfaceString
                </td>
				<td align="center">
                    &nbsp;&nbsp;
                    @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, MVC.Rental.Edit(item.Id)) 
                    &nbsp;&nbsp; | &nbsp;&nbsp;
                    @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Delete, MVC.Admin.Sheet.DeleteRental(item.Id, ViewContext.HttpContext.Request.Url.PathAndQuery))
                    &nbsp;&nbsp; | &nbsp;&nbsp;
                    @Html.ActionLink(Worki.Resources.Views.Rental.RentalString.Detail, MVC.Rental.Detail(item.Id))
                </td>
            </tr>
		}
        </tbody>
        <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Sheet.ActionNames.IndexRental, MVC.Admin.Sheet.Name, new { page = x }))
        </div>
        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>