@model Worki.Data.Models.PagingList<Localisation>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.LocalisationsAdmin, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Shared.Views._AdminMenu)
    </div>
    <div class="adminPanel">
        @using (Html.BeginForm(MVC.Admin.Sheet.ActionNames.UpdateMainLocalisation, MVC.Admin.Sheet.Name, new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, FormMethod.Post, new { id = "adminForm" }))
        {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <th>
                    &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
                </th>
                <th>
                    &Agrave; @Worki.Resources.Views.Admin.AdminString.TheTop
                </th>
                <th>
                    &nbsp;&nbsp; @Worki.Resources.Views.Localisation.LocalisationString.Online
                </th>
                <th>
                    &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Name
                </th>
                <th>
                    &nbsp;&nbsp;@Worki.Resources.Views.Admin.AdminString.Owner
                </th>
                <th>
                    &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Action
                </th>
            </tr>
            @foreach (var item in Model.List)
            { 
                <tr>
                    <td align="right">
                        @item.ID
                    </td>
                    <td align="right">
                        @(item.IsMain ? Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Yes, MVC.Admin.Sheet.UpdateMainLocalisation(item.ID)) : Html.ActionLink(Worki.Resources.Views.Shared.SharedString.No, MVC.Admin.Sheet.UpdateMainLocalisation(item.ID)))
                    </td>
                    <td align="right">
                        @(item.IsOffline ? Html.ActionLink(Worki.Resources.Views.Shared.SharedString.No, MVC.Admin.Sheet.OnOffline(item.ID)) : Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Yes, MVC.Admin.Sheet.OnOffline(item.ID)))
                    </td>
                    <td align="right">
                        @item.Name
                    </td>
                    <td align="right">
                        @Html.TextBox(item.ID.ToString(), item.Member.Username)
                    </td>
                    <td align="right">
                        @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, MVC.Localisation.Edit(item.ID)) 
                            | 
                        @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Delete, MVC.Admin.Sheet.DeleteLocalisation(item.ID, ViewContext.HttpContext.Request.Url.PathAndQuery))
                            | 
                        <a href="@item.GetDetailFullUrl(Url)">@Worki.Resources.Views.Localisation.LocalisationString.Details</a>
                    </td>
                </tr>
            } 
            </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Sheet.ActionNames.Index, MVC.Admin.Sheet.Name, new { page = x }))
        </div>
        } 
        <div class="clear">
        </div>
    </div>
</div>


