@model Worki.Data.Models.SearchSingleResultViewModel

<div class="contentBlock resultItem">
    @{  
        RouteValueDictionary  rvd = new RouteValueDictionary(ViewContext.RouteData.Values);
        foreach (string key in Request.QueryString.Keys)
        {
            rvd[key] = Request.QueryString[key].ToString();
        }
        rvd["index"] = Model.Index;
        ViewData["link"] = Html.GetUrl(MVC.Search.ActionNames.FullSearchResultDetail, MVC.Search.Name, rvd);
    }
    <div class="resultItemGallery picBack borderRadius float-left">
    @if (!string.IsNullOrEmpty(Model.Localisation.GetMainPic()))
    {
		<a href="@ViewData["link"]">
		@RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.Localisation.GetMainPic()), Model.Localisation.Name)
        </a>
    }
    </div>
    <div class="itemDetailsDiv float-left relative">
        <p class="green detailLink"><span class="itemName">@Html.ActionLink(Model.Localisation.Name, MVC.Search.ActionNames.FullSearchResultDetail, rvd)</span>&nbsp; - &nbsp;@String.Format("{0:0.##} km", Model.Distance)</p>
        <span class="itemAddress">@Model.Localisation.Adress&nbsp; - &nbsp;@Model.Localisation.PostalCode @Model.Localisation.City</span>
        <span class="itemType lightblue">@Localisation.LocalisationTypes[Model.Localisation.TypeValue]</span> - <span class="itemDesc">@Html.TruncateAtWord(Model.Localisation.Description, 80)</span><br />
        <div class="itemLogos bottom displayTable">
          @Html.Partial(MVC.Shared.Views._IconeServices, Model.Localisation)
          <div class="clear">
          </div>
        </div>
    </div>

    <div class="itemCommDiv float-right">
    @Html.Partial(MVC.Shared.Views._CommentSummary, Model.Localisation)
    </div>
</div>
