@model Worki.Data.Models.ChangePasswordModel

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.BackOffice.BackOfficeString.OwnerSpace, "Blue")
@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Profil)

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditProfil, MVC.Backoffice.Profil.Edit())} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditPassword, MVC.Backoffice.Profil.ChangePassword())} ,
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.ModifyPayement, MVC.Backoffice.Profil.ChangePaymentInformation())} 
		})
	</div>
	
    <div class="contentRight blockContainer float-right">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                <div class="loginDesc marginb10">
                    @Worki.Resources.Views.Account.AccountString.NewOldPassword<br />
                    @String.Format(Worki.Resources.Views.Account.AccountString.MinimumLength, ViewData["PasswordLength"])
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.MemberId)
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.OldPassword)<span class="blue">*</span>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.OldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.NewPassword)<span class="blue">*</span>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.ConfirmPassword)<span class="blue">*</span>
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>

	<div class="clear">
	</div>
</div>