@model Worki.Data.Models.Member

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Profil)

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditProfil, MVC.Backoffice.Profil.Edit())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditPassword, MVC.Backoffice.Profil.ChangePassword())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink("modifier informations de payment", MVC.Backoffice.Profil.ChangePaymentInformation())} 
		})
	</div>
	
    <div class="contentRight blockContainer float-right">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                <div class="loginDesc">
                    @Worki.Resources.Views.Account.AccountString.NewOldPassword<br />
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.MemberMainData.FirstName)
                @Html.HiddenFor(m=>m.MemberMainData.LastName)
                @Html.HiddenFor(m=>m.MemberMainData.Profile)
           
                <div class="editor-label">
                    @Html.LabelFor(m => m.MemberMainData.PaymentAddress) 
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.MemberMainData.PaymentAddress) 
                </div>

            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>

	<div class="clear">
	</div>
</div>