@model Worki.Data.Models.Member

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.BackOffice.BackOfficeString.OwnerSpace, "Blue")
@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Profil)

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
            new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.ModifyPayement, MVC.Backoffice.Profil.ChangePaymentInformation())} ,
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.Billing, MVC.Backoffice.Profil.ChangeBillingInformation())}
		})
	</div>
	
    <div class="contentRight blockContainer float-left">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                @Html.AntiForgeryToken()
                <h3 class="blue">@Worki.Resources.Views.BackOffice.BackOfficeString.BillingInfo</h3>
                <table class="confirmbooktable">
                    <tr>
                        <td>
							@Html.LabelFor(m => m.MemberMainData.SiretNumber)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.MemberMainData.SiretNumber)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.MemberMainData.TaxNumber)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.MemberMainData.TaxNumber)
                        </td>
                    </tr>
					<tr>
                        <td>
                            @Html.LabelFor(m => m.MemberMainData.TaxRate)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.MemberMainData.TaxRate)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>
	<div class="clear"></div>
</div