@model Worki.Data.Models.PaymentInfoModel

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.BackOffice.BackOfficeString.OwnerSpace, "Blue")
@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Profil)

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.ModifyPayement, MVC.Backoffice.Profil.ChangePaymentInformation())} 
		})
	</div>
	
    <div class="contentRight blockContainer float-left">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                <h3 class="blue marginb10">Principe de fonctionnement</h3>
                <div class="marginb10">
                    @Html.Raw(string.Format(Worki.Resources.Views.Profile.ProfileString.HeadModifyPayment, MiscHelpers.UrlConstants.paypal))
                </div>
                <div class="marginb10">
                    @Worki.Resources.Views.Profile.ProfileString.EndModifyPayment
                </div>
                @Html.AntiForgeryToken()
                <h3 class="blue marginb10">Identifiants PayPal</h3>
                <table class="confirmbooktable">
                    <tr>
                        <td>
                            @Worki.Resources.Views.Profile.ProfileString.MailPayment <span class="blue">*</span> :
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.PaymentAddress)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Worki.Resources.Views.Profile.ProfileString.PasswordEworky <span class="blue">*</span> :
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.WorkiPassword)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>
	<div class="clear"></div>
</div>