@model Worki.Data.Models.Member

@section HeadContent
{  
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Backoffice.Shared.Views._BackofficeMenu, BackofficeMenu.Profil)

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditProfil, MVC.Backoffice.Profil.Edit())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.EditPassword, MVC.Backoffice.Profil.ChangePassword())} ,
            new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.ModifyPayement, MVC.Backoffice.Profil.ChangePaymentInformation())} 
		})
	</div>
	
    <div class="contentRight blockContainer float-right">
        @using (Html.BeginForm())
	    {
            <div class="contentBlock">
                <div class="loginDesc marginb10">
                    @Worki.Resources.Views.Profile.ProfileString.PaypalEmail<br />
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.MemberMainData.FirstName)
                @Html.HiddenFor(m=>m.MemberMainData.LastName)
                @Html.HiddenFor(m=>m.MemberMainData.Profile)
           
                <table class="confirmbooktable">
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.MemberMainData.PaymentAddress)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.MemberMainData.PaymentAddress)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Shared.SharedString.Modify"/>
            </div>
            <div class="clear"></div>
        }
    </div>
	<div class="clear"></div>
</div>