<ul class="adminSubMenu" >
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace,MVC.Admin.Index())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Users, MVC.Admin.IndexUser())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.IndexWelcomePeople())
    </li>
	<li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.IndexImport())
    </li>
	<li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.IndexBooking())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.IndexRental())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.IndexPress())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.StatTitle, MVC.Admin.Stat())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastModif, MVC.Admin.Last100Modif())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastCreate, MVC.Admin.LastCreate())
    </li>
    <li class="bold"> 
        @Html.ActionLink("migrate localisation", MVC.Admin.MigrateLocalisation())
    </li>
</ul>

