
<ul class="adminSubMenu" >
    <li id="localisationSubMenu"> 
      @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace,MVC.Admin.Index())
    </li>
    <li id="userSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Users, MVC.Admin.IndexUser())
    </li>
    <li id="visitorSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Visitors, MVC.Admin.IndexVisitor())
    </li>
    <li id="welcomePeopleSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.IndexWelcomePeople())
    </li>
	<li id="importSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.IndexImport())
    </li>
	<li id="bookingsSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.IndexBooking())
    </li>
    <li id="rentalsSubMenu"> 
     @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.IndexRental())
    </li>
</ul>

