
<ul class="adminSubMenu" >
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace,MVC.Admin.Index())
    </li>
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Users, MVC.Admin.IndexUser())
    </li>
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Visitors, MVC.Admin.IndexVisitor())
    </li>
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.IndexWelcomePeople())
    </li>
	<li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.IndexImport())
    </li>
	<li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.IndexBooking())
    </li>
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.IndexRental())
    </li>
    <li> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.IndexPress())
    </li>
    <li> 
        @Html.ActionLink("ListeLocMail", MVC.Admin.SendListLocMail())
    </li>
</ul>

