@model Worki.Data.Models.WelcomePeopleFormViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.CreateWelcomePeople) </title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
}

<div class="borderContainer">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.CreateWelcomePeople, "Blue")
   
    <div class="contactDiv">
        <div class="login-account">
        @using (Html.BeginForm(MVC.Admin.ActionNames.CreateWelcomePeople, MVC.Admin.Name, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Models.Contact.Contact.Email
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Localisation
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LocalisationName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Description
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.WelcomePeople.Description)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                                @Worki.Resources.Views.Admin.AdminString.LocalisationPicture
                        </div>
                    </td>
                    <td>
                        <input type="file" name="LocalisationPicture" accept="image/*"/>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="editor-field">
                            <input type="submit" value="Créer" />
                        </div>
                    </td>
                </tr>
            </table>
        }
        </div>
    </div>   
</div>

<div>
    @Html.ActionLink(@Worki.Resources.Views.Admin.AdminString.BackToList, MVC.Admin.IndexWelcomePeople())
</div>
