@model Worki.Data.Models.WelcomePeople

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.Content(Links.Content.Admin_css)" rel="stylesheet" type="text/css" />
}


<div class="borderContainer">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.DetailWelcomePeople, "Blue")
    
    <div class="contactDiv">
        <div class="login-account">
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Models.Contact.Contact.Email
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Member.Username)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Localisation
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Localisation.Name)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.Description
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Description)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Worki.Resources.Views.Admin.AdminString.LocalisationPicture
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            &nbsp;&nbsp;&nbsp;<img class="welcomePeopleMaxSize" src="@ControllerHelpers.GetUserImagePath(Model.LocalisationPicture)" alt="plop"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>   
</div>

<div>
    @Html.ActionLink(@Worki.Resources.Views.Admin.AdminString.Edit, MVC.Admin.EditWelcomePeople(Model.Id)) |
    @Html.ActionLink(@Worki.Resources.Views.Admin.AdminString.BackToList, MVC.Admin.IndexWelcomePeople())
</div>
