@model Worki.Data.Models.Press
@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
	<link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
	<link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.EditPress, "Blue")

<div class="detailContent">
	<div class="blockContainer">
		@using (Html.BeginForm(MVC.Admin.ActionNames.EditPress, MVC.Admin.Name, null, FormMethod.Post, new { id = "DateForm" }))
        {
            <div class="contentBlock">
			@Html.AntiForgeryToken()
			<table>
				<tr>
					<td>
						<div class="editor-label">
							@Worki.Resources.Views.Admin.AdminString.Date
						</div>
					</td>
					<td>
						<div class="editor-field">
							@Html.TextBox("Date", String.Format("{0:dd/MM/yyyy}", Model.Date), new { @class = "dp" })
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="editor-label">
							@Worki.Resources.Views.Admin.AdminString.Url
						</div>
					</td>
					<td>
						<div class="editor-field">
							@Html.TextBoxFor(model => model.Url)
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="editor-label">
							@Worki.Resources.Views.Admin.AdminString.Title
						</div>
					</td>
					<td>
						<div class="editor-field">
							@Html.TextBoxFor(model => model.Title)
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="editor-label">
							@Worki.Resources.Views.Admin.AdminString.Description
						</div>
					</td>
					<td>
						<div class="editor-field">
							@Html.TextBoxFor(model => model.Description)
						</div>
					</td>
				</tr>
			</table>
            </div>
            <div class="float-right">
                <input type="submit" class="buttonStd buttonBlue margint10" value="@Worki.Resources.Views.Shared.SharedString.Save"/>
            </div>
            <div class="clear"></div>
        }
	</div>
</div>
<div>
	@Html.ActionLink(@Worki.Resources.Views.Admin.AdminString.BackToList, MVC.Admin.IndexPress())
</div>
@section ScriptContent
{
	<script type="text/javascript">
	    require(["@MiscHelpers.UrlConstants.jqueryui", "@Url.VersionedContent(Links.Scripts.jquery_ui_datepicker_fr_js)"], function () {
            $(".dp").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:2020'
            });
        });
        require(["@Url.VersionedContent(Links.Scripts.date_js)"], function () {
            $("#DateForm").submit(function () {
                var val = $("#Date").val();
                var date = Date.parseExact(val, "dd/MM/yyyy");
                var newVal = date.toString('MM/dd/yyyy');
                $("#Date").val(newVal);
                return true;
            });
        });
    </script>
}
