@model Worki.Data.Models.WelcomePeopleFormViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.EditWelcomePeople, "Blue")

<div class="detailContent">
    <div class="blockContainer">
            @using (Html.BeginForm(MVC.Admin.ActionNames.EditWelcomePeople, MVC.Admin.Name, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="contentBlock">
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Worki.Resources.Models.Contact.Contact.Email
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Email)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Worki.Resources.Views.Admin.AdminString.Localisation
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.LocalisationName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Worki.Resources.Views.Admin.AdminString.Description
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.WelcomePeople.Description)
                            </div>
                        </td>
                    </tr>
					<tr>
						<td>
							<div class="editor-label">
								@Worki.Resources.Views.Admin.AdminString.LocalisationPicture
							</div>
						</td>
						<td>
							<div class="editor-field">
								&nbsp;&nbsp;&nbsp;<img class="welcomePeopleMaxSize" src="@ControllerHelpers.GetUserImagePath(Model.WelcomePeople.LocalisationPicture)" alt="plop"/>
							</div>
						</td>
					</tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                 @Worki.Resources.Views.Admin.AdminString.LocalisationPicture
                            </div>
                        </td>
                        <td>
                            <input type="file" name="LocalisationPicture" accept="image/*"/>
                        </td>
                    </tr>              
                </table>
                </div>
                <div class="float-right">
                    <input type="submit" class="buttonStd buttonBlue margint10" value="@Worki.Resources.Views.Shared.SharedString.Save"/>
                </div>
                <div class="clear"></div>
            }
    </div>   
</div>
               

<div>
    @Html.ActionLink(@Worki.Resources.Views.Admin.AdminString.BackToList, MVC.Admin.IndexWelcomePeople())
</div>
