@model Worki.Data.Models.AdminImportViewModel 

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.LocalisationsAdmin, "Blue")
<div class="contentAdmin">
    <div id="adminMenu">
        @Html.Partial(MVC.Admin.Views._AdminMenu)
    </div>
    <div class="adminPanel">
        @using (Html.BeginForm(MVC.Admin.ActionNames.IndexImport, MVC.Admin.Name, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "adminForm" }))
        {
            @Html.AntiForgeryToken();
            <div>
                @Model.resultMessage
            </div>
            <div style="color:Red;">
                @if (Model.localisationsAlreadyInDB != null && Model.localisationsAlreadyInDB.ToString() != "")
                { 
                    @Html.Raw(String.Format(Worki.Resources.Views.Admin.AdminString.AlreadyAdded, Model.localisationsAlreadyInDB))
                }
            </div>
            <div>
                <input type="file" id="importCsv" name="importCsv"/>
            </div>
            <div>
                <input type="checkbox" id="importCsvHeader" name="importCsvHeader" /> @Worki.Resources.Views.Admin.AdminString.FileGotHeader
            </div>
            <div>
                @Html.SubmitButton("Import", Worki.Resources.Views.Admin.AdminString.Update)
            </div>
        } 
    <div class="clear"> </div>
    </div>
</div>