@model Worki.Data.Models.WelcomePeopleListViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.IndexWelcomePeople, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Views._AdminMenu)
    </div>
    <p>
    <h3>@Html.ActionLink(Worki.Resources.Views.Admin.AdminString.CreateNewWelcomePeople, MVC.Admin.CreateWelcomePeople())</h3>
    </p>
    <div class="adminPanel">
        @using (Html.BeginForm(MVC.Admin.ActionNames.WelcomePeopleLine, MVC.Admin.Name, new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, FormMethod.Post, new { id = "adminForm" }))
        { 
        @Html.AntiForgeryToken();
        <table>
            <thead>
                <tr>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
                    </th> 
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Models.Contact.Contact.Email
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.OnOffLine
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Action
                    </th>
                </tr>
            </thead>
        <tbody>
        @foreach (var item in Model.WelcomePeople)
        {
            <tr>
                <td align="center">
                    @item.Id
                </td>
                <td align="center">
                    @item.Member.Username
                </td>
                <td align="center">
                    @Html.CheckBox(item.Member.Username, item.Online)
                </td>
                <td align="center">
                    @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, MVC.Admin.EditWelcomePeople(item.Id)) |
                    @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Delete, MVC.Admin.DeleteWelcomePeople(item.Id, ViewContext.HttpContext.Request.Url.PathAndQuery)) |
                    @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Details, MVC.Admin.DetailWelcomePeople(item.Id))
                </td>
            </tr>
        }
        </tbody>
        <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.ActionNames.IndexWelcomePeople, MVC.Admin.Name, new { page = x }))
        </div>
        <div>
            @Html.SubmitButton("Update", Worki.Resources.Views.Admin.AdminString.Update)
        </div>
        }
        <div class="clear">
        </div>
    </div>
</div>
