@model Worki.Data.Models.VisitorListViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.VisitorAdministration)</title>
    <link href="@Url.Content(Links.Content.Admin_css) " rel="stylesheet" type="text/css" />
}


 <h2>@Worki.Resources.Views.Admin.AdminString.VisitorAdministration</h2>
 <div class="contentAdmin"> 
    <div id="adminMenu"> 
      @Html.Partial(MVC.Admin.Views._AdminMenu) 
    </div>

	<div class="adminPanel">
		<table>
			<thead>
				<tr>
					<th>
						&nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
					</th>
					<th>
						&nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.EmailAddress
					</th>
					<th>
						&nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.SendEmail
					</th>
					<th>
						&nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ValidationSend
					</th>
					<th>
						&nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.IsRegistered
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model.ListVisitor)
			{ 
				<tr>
					<td align="right">
						@item.Key.Id
					</td>
					<td align="right">
						@item.Key.Email
					</td>
					<td align="right">
					@if (item.Value)
					{  
						@Worki.Resources.Views.Admin.AdminString.AlreadyRegistered
					}
					else if (item.Key.IsValid && !item.Value)
					{  
						@Worki.Resources.Views.Admin.AdminString.WaitInscription
					}
					else
					{ 
						@Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Send, MVC.Admin.SendEmail(item.Key.Email, ViewContext.HttpContext.Request.Url.PathAndQuery))
					}
					</td>
					<td align="center">
						@Html.CheckBox("" + item.Key.Id, item.Key.IsValid, new { disabled = true })
					</td>
					<td align="center">
						@Html.CheckBox("" + item.Key.Id, item.Value, new { disabled = true })
					</td>
				</tr>
			}
			</tbody>
		</table>
		<div class="pager">
		@Html.PageLinks(Model.PagingInfo, x => Url.Action("IndexVisitor", new { page = x }))
		</div> 
	</div>
</div>


