@model Worki.Data.Models.LocalisationListViewModel

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.StatString.LastCreate, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Views._AdminMenu)
    </div>
    <div class="adminPanel">
        <table>
            <tr>
                <th>
                    @Worki.Resources.Views.Admin.StatString.EworkerName
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.PlaceName
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Date
                </th>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Status
                </th>
            </tr>
            @foreach (var item in Model.Localisations)
            { 
            <tr>
                <td align="right">
                    <a href="@Url.AbsoluteAction(MVC.Profil.ActionNames.Detail, MVC.Profil.Name, new { id = item.MemberEditions.Last().Member.MemberId })">@item.MemberEditions.Last().Member.Email</a>
                </td>
                <td align="right">
                    <a href="@Url.AbsoluteAction(MVC.Localisation.ActionNames.Details, MVC.Localisation.Name, new { id = item.ID, name = item.Name })">@item.Name</a>
                </td>
                <td align="right">
                    @string.Format("{0:d/M/yyyy HH:mm:ss}", item.MemberEditions.Last().ModificationDate)
                </td>
                <td align="right">
                    @Worki.Resources.Views.Admin.StatString.Create
                </td>
            </tr>
            }
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.ActionNames.LastCreate, MVC.Admin.Name, new { page = x }))
        </div> 
        <div class="clear"></div>
    </div>
</div>