@model List<Worki.Data.Models.StateItem>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.Admin) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.StatString.StatTitle, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Views._AdminMenu)
    </div>
    <div class="adminPanel">
        <table>
            <tr>
                <th>
                    @Worki.Resources.Views.Admin.StatString.Country
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Wifi
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.CoffeeResto
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Biblio
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.PublicSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.TravelerSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Hotel
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.Telecentre
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.BuisnessCenter
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.CoworkingSpace
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.WorkingHotel
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.PrivateArea
                </th>
                <th >
                    @Worki.Resources.Views.Admin.StatString.NbByCountry
                </th>
            </tr>
            @foreach (var item in Model)
            {
                if (Model.ElementAt(Model.Count - 1) == item)
                {
                <tfoot>
                    <td align="right" class="bold">
                        @item.Country_Name
                    </td>
                    <td align="right" class="bold">
                        @item.nb_SpotWifi
                    </td>
                    <td align="right" class="bold">
                        @item.nb_CoffeeResto
                    </td>
                    <td align="right" class="bold">
                        @item.nb_Biblio
                    </td>
                    <td align="right" class="bold">
                        @item.nb_PublicSpace
                    </td>
                    <td align="right" class="bold">
                        @item.nb_TravelerSpace
                    </td>
                    <td align="right" class="bold">
                        @item.nb_Hotel
                    </td>
                    <td align="right" class="bold">
                        @item.nb_Telecentre
                    </td>
                    <td align="right" class="bold">
                        @item.nb_BuisnessCenter
                    </td>
                    <td align="right" class="bold">
                        @item.nb_CoworkingSpace
                    </td>
                    <td align="right" class="bold">
                        @item.nb_WorkingHotel
                    </td>
                    <td align="right" class="bold">
                        @item.nb_PrivateArea
                    </td>
                    <td align="right" class="bold">
                        @item.TotalByCountry()
                    </td>
                </tfoot>
                }
                else
                {
                <tr>
                    <td align="right">
                        @item.Country_Name
                    </td>
                    <td align="right">
                        @item.nb_SpotWifi
                    </td>
                    <td align="right">
                        @item.nb_CoffeeResto
                    </td>
                    <td align="right">
                        @item.nb_Biblio
                    </td>
                    <td align="right">
                        @item.nb_PublicSpace
                    </td>
                    <td align="right">
                        @item.nb_TravelerSpace
                    </td>
                    <td align="right">
                        @item.nb_Hotel
                    </td>
                    <td align="right">
                        @item.nb_Telecentre
                    </td>
                    <td align="right">
                        @item.nb_BuisnessCenter
                    </td>
                    <td align="right">
                        @item.nb_CoworkingSpace
                    </td>
                    <td align="right">
                        @item.nb_WorkingHotel
                    </td>
                    <td align="right">
                        @item.nb_PrivateArea
                    </td>
                    <td align="right">
                        @item.TotalByCountry()
                    </td>
                </tr>
                }
            }
        </table>
        <div class="clear"></div>
    </div>
</div>