<ul class="adminSubMenu" >
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Workplace,MVC.Admin.Admin.Index())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.Eworkers, MVC.Admin.Admin.IndexUser())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Welcome, MVC.Admin.Admin.IndexWelcomePeople())
    </li>
	<li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.ImportLocalisations, MVC.Admin.Admin.IndexImport())
    </li>
	<li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Bookings, MVC.Admin.Admin.IndexBooking())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Quotations, MVC.Admin.Admin.IndexQuotation())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Rentals, MVC.Admin.Admin.IndexRental())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Shared.SharedString.Press, MVC.Admin.Admin.IndexPress())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.StatTitle, MVC.Admin.Admin.Stat())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastModif, MVC.Admin.Admin.Last100Modif())
    </li>
    <li class="bold"> 
        @Html.ActionLink(Worki.Resources.Views.Admin.StatString.LastCreate, MVC.Admin.Admin.LastCreate())
    </li>
    <li class="bold"> 
        @Html.ActionLink("Rafraichir blog", MVC.Admin.Admin.RefreshBlog())
    </li>
</ul>

