@model Worki.Data.Models.PagingList<Press>

@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.AdminSpace) </title>
    <link href="@Url.VersionedContent(Links.Content.Admin_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Admin.AdminString.IndexPress, "Blue")
<div class="contentAdmin">
    <div id="adminMenu"> 
        @Html.Partial(MVC.Admin.Admin.Views._AdminMenu)
    </div>
    <p>
    <h3>@Html.ActionLink(Worki.Resources.Views.Admin.AdminString.CreateNewPress, MVC.Admin.Admin.CreatePress())</h3>
    </p>
    <div class="adminPanel">
        <table>
            <thead>
                <tr>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.ID
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Date
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Url
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Description
                    </th>
                    <th>
                        &nbsp;&nbsp; @Worki.Resources.Views.Admin.AdminString.Action
                    </th>
                </tr>
            </thead>
        <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td align="center">
                @item.ID
            </td>
            <td align="center">
                @String.Format("{0:dd/MM/yyyy}", item.Date)
            </td>
            <td align="center">
                <a href=@item.Url>@item.Url</a>
            </td>
            <td align="center">
                @item.Title
            </td>
            <td align="center">
                @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, MVC.Admin.Admin.EditPress(item.ID)) |
                @Html.ActionLink(Worki.Resources.Views.Admin.AdminString.Delete, MVC.Admin.Admin.DeletePress(item.ID, ViewContext.HttpContext.Request.Url.PathAndQuery)) |
                @Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Details, MVC.Admin.Admin.DetailPress(item.ID))
            </td>
        </tr>
        }
        </tbody>
        <tfoot> </tfoot>
        </table>
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(MVC.Admin.Admin.ActionNames.IndexPress, MVC.Admin.Admin.Name, new { page = x }))
        </div>
        <div class="clear">
        </div>
    </div>
</div>
