@model IEnumerable<BlogPost>

<div class="blogSummary float-left" id="blog_slides">
    <div class="blog_slides_container">
    @foreach (var item in Model)
    {
        <div class="blogItem"> 
            <span class="bold blue">@item.Title</span> (@item.PublicationDate.ToString("dd/MM/yyyy"))
            <div class="blogContent">
                <img  class="float-left" src="@item.Image"  alt="@item.Title"/>
                <p>
                    @item.Content
                </p>
            </div>
            <div class="clear">
            </div>
        </div> 
    }
    </div>
</div>