@model IEnumerable<BlogPost>

<div class="blogSummary float-left" id="blog_slides">
    <div class="blog_slides_container">
        <a href="@Worki.Web.Controllers.HomeController.JTPath" target="_blank">
            <div class="blogItem"> 
                <div class="blogHead">
                    <span class="bold blue">@Worki.Resources.Views.Home.PresseString.OnJT</span>
                </div>            
                <div class="blogContent">
                    <div class="blogImg float-left">
                        @RazorHelpers.CenterImage(Links.Content.images.vu_tele_png, Worki.Resources.Views.Home.PresseString.OnJT)
                    </div>
                    
                    <div class="blogDesc">
                        @Worki.Resources.Views.Home.PresseString.VideoDesc
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </a>
    @foreach (var item in Model)
    {
        <a href="@item.Url" target="_blank">
            <div class="blogItem"> 
                <div class="blogHead">
                    <span class="bold blue">@Html.Raw(item.Title)</span> (@item.PublicationDate.ToString("dd/MM/yyyy"))
                </div>            
                <div class="blogContent">
                    <div class="blogImg float-left">
                        @RazorHelpers.CenterImage(item.Image, item.Title)
                    </div>
                    
                    <div class="blogDesc">
                        @Html.Raw(@item.Content) <span class="italic">... (lire la suite)</span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div> 
        </a>
    }
    </div>
</div>