@model List<WelcomePeople>


<div class="index_slides_container float-left">
    <div class="index_slides_block contentBlock">
        <div class="index_slides " id="slides">
	        <div class="slides_container">
                @foreach (var item in MiscHelpers.Shuffle(Model))
                {
			        var localisationLink = item.Offer.Localisation.GetDetailFullUrl(Url);
                <div class="slide">
                    <a href="@localisationLink" title="@item.Offer.Localisation.Name" class="slide_image">
                        <img src="@ControllerHelpers.GetUserImagePath(item.LocalisationPicture)" alt="@item.Offer.Localisation.Name"/>
                    </a>
			        <div class="caption noUnderline">
                        <div class="darkblue float-left">
                            <p class="bold">@item.Offer.Localisation.Name</p>
                            <p>@string.Format(Worki.Resources.Views.Home.HomeString.SliderItemDesc, Localisation.GetLocalisationType(item.Offer.Localisation.TypeValue), item.Offer.Localisation.City)</p>
                        </div>
                        <div class="captionPrice orange float-right">
                            <p>@Localisation.GetOfferType(item.Offer.Type)</p>
                            <p class="bold">@item.Offer.GetMinPrice()</p>
                        </div>
			        </div>
                </div>
		        }
            </div>
        </div>
    </div>
</div>
