@model List<WelcomePeople>


<div class="index_slides_container float-left">
    @*<h3 class="blue">Découvrez les lieux de travail préférés des eWorkers</h3>*@
    <div class="index_slides_block contentBlock">
        <div class="index_slides " id="slides">
	        <div class="slides_container">
                @foreach (var item in MiscHelpers.Shuffle(Model))
                {
			        var localisationLink = item.Localisation.GetDetailFullUrl(Url);
			        var memberLink = Url.Action(MVC.Account.Public(item.MemberId));
			        var age = item.Member.GetAge();
                <div class="slide">
                    <a href="@localisationLink" title="@item.Localisation.Name" class="slide_image">
                        <img src="@ControllerHelpers.GetUserImagePath(item.LocalisationPicture)" alt="@item.Localisation.Name"/>
                    </a>
			        <div class="caption noUnderline">
                        <a href="@localisationLink">
                            <span class="white italic">@string.Format("\"{0}\"", item.Description)</span>
                            <span class="blue">@item.Member.MemberMainData.FirstName @item.Member.MemberMainData.LastName</span>
                        </a>
			        </div>
                </div>
		        }
            </div>
        </div>
    </div>
</div>
