@model RentalSearchCriteria

@section HeadContent
{
	<link href="@Url.VersionedContent(Links.Content.RentalForm_min_css)" rel="stylesheet" type="text/css" />
}

<div id="locationTab" class="tab_content contentBlock borderRed">
    <div class="indexSearchFormDiv darkblue">
        @using (Html.BeginForm(MVC.Rental.ActionNames.RentalSearch, MVC.Rental.Name, FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.RentalData.Latitude)
            @Html.HiddenFor(model => model.RentalData.Longitude)
            <div class="indexSearchFormDivRow">
                <h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
            </div>
            <div class="editor-field indexSearchFormDivRow">
                @Html.TextBoxFor(model => model.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
            </div>
            <div class="indexSearchFormDivRow">
                <h3>@Worki.Resources.Views.Home.HomeString.What</h3>
            </div>
            <div class="editor-field indexSearchFormDivRow">
                @Html.TextBoxFor(model => model.MinSurface, new { placeHolder = "Surface minimale (m²)" })
                @Html.TextBoxFor(model => model.MaxRate, new { placeHolder = "Budget maximal (€)" })
            </div>

            <div class="indexSearchIndexLinks relative">
                <div class="indexSearchIndexLinksLeft float-left">
                @Html.ActionLink(Worki.Resources.Views.Home.HomeString.MoreCriterias, MVC.Rental.RentalSearch())
                </div>
                <div class="indexSearchIndexLinksRight float-right">
                    <input type="submit" class="buttonStd buttonRed" id="btn_searchIndex" value="Rechercher" />
                </div>
                <div class="clear">
                </div>
            </div>
        }
    </div>
</div>