@model RentalSearchCriteria

<div id="locationTab" class="tab_content contentBlock borderRed">
    <div class="indexSearchFormDiv darkblue">
        @using (Html.BeginForm(MVC.Rental.ActionNames.RentalSearch, MVC.Rental.Name, FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.RentalData.Latitude)
            @Html.HiddenFor(model => model.RentalData.Longitude)
            <div class="indexSearchFormLabel">
                <h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
            </div>
            <div class="editor-field indexSearchFormField">
                @Html.TextBoxFor(model => model.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation, @class = "rentalInputIndex" })
            </div>
            <div class="indexSearchFormLabel">
                <h3>@Worki.Resources.Views.Home.HomeString.What</h3>
            </div>
            <div class="editor-field">
                <div class="halfContainer float-left">
                    @Html.TextBoxFor(model => model.MinSurface, new { placeHolder = "Surface minimale (m²)", @class = "rentalInputIndex" })
                </div>
                <div class="halfContainer float-right">
                    @Html.TextBoxFor(model => model.MaxRate, new { placeHolder = "Budget maximal (€)", @class = "rentalInputIndex" })
                </div>
                <div class="clear"></div>
            </div>

            <div class="indexSearchIndexLinks relative">
                <div class="indexSearchIndexLinksLeft float-left">
                @Html.ActionLink(Worki.Resources.Views.Home.HomeString.MoreCriterias, MVC.Rental.RentalSearch())
                </div>
                <div class="indexSearchIndexLinksRight float-right">
                    <input type="submit" class="buttonStd buttonRed" id="btn_searchIndex" value="Rechercher" />
                </div>
                <div class="clear">
                </div>
            </div>
        }
    </div>
</div>