@section HeadContent
{
    <link rel="canonical" href="@Url.ActionAbsolute(MVC.Home.About())"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.AProposString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.WhoAreWe)</title>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.WhoAreWe, "Blue")
<div class="detailContent generalTextContainer">
	<div class="blockContainer float-left">
		@Html.Partial(MVC.Home.Views._AboutMenu, AboutPages.WhoAreWe)
	</div>

	<div class="float-right generalTextContent blockContainer">
		<div class="contentBlock">
            <h1 class="blue" style="text-align:center;">@Worki.Resources.Views.Home.HomeString.IntroWhoAreWe</h3>

			<h3 class="blue">@Worki.Resources.Views.Home.HomeString.WhoAreWe</h3>
			<p>@Worki.Resources.Views.Home.HomeString.WhoAreWe_Text1</p>
            <p>@Worki.Resources.Views.Home.HomeString.WhoAreWe_Text2</p>
            <p>@Worki.Resources.Views.Home.HomeString.WhoAreWe_Text3</p>

			<h3 class="blue">@Worki.Resources.Views.Home.HomeString.WeThinkThat</h3>
            <ul>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text1</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text2</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text3</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text4</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text5</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text6</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text7</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text8</li>
                <li>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text9</li>
                <li><strong>@Worki.Resources.Views.Home.HomeString.WeThinkThat_Text10</strong></li>
            </ul>
		</div>
	</div>
    <div class="clear">
	</div>
</div>