@section HeadContent
{
    <link rel="canonical" href="@Url.ActionAbsolute(MVC.Home.AddSpace())"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.BestWorkspace)</title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.AddPlaceTitle, "Blue")

<div class="detailContent">
    <div class="blockContainer">
		<h2 class="indexLogoH2 blue">@Worki.Resources.Views.Home.HomeString.ChooseForm</h2>
        <div class="indexLogoContainer contentBlock float-left borderBlue noUnderline">
            <a href="@Url.Action(MVC.Localisation.CreateFree())" title="@Worki.Resources.Views.Home.HomeString.FreeSpace">
                <div class="addPlace1 addPlaceLogo">
                    
                </div>
                <div class="indexLogoDesc">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.FreeSpace </h3>
                    <p class="marginl10">@Html.Raw(Worki.Resources.Views.Home.HomeString.SearchSpeech)</p>
                </div>
            </a>
        </div>            
        <div class="indexLogoContainer contentBlock float-left borderOrange noUnderline">
            <a href="@Url.Action(MVC.Localisation.CreateNotFree())" title="@Worki.Resources.Views.Home.HomeString.CostSpace">
                <div class="addPlace2 addPlaceLogo">
                        
                </div>
                <div class="indexLogoDesc">
                    <h3 class="orange">@Worki.Resources.Views.Home.HomeString.CostSpace</h3>
                    <p class="marginl10">@Html.Raw(Worki.Resources.Views.Home.HomeString.ReserveSpeech)</p>
                </div>
            </a>
        </div>
		<div class="indexLogoContainer contentBlock float-left borderGreen noUnderline">
            <a href="@Url.Action(MVC.Localisation.CreateSharedOffice())" title="Un espace partagé">
                <div class="addPlace3 addPlaceLogo">
                    
                </div>
                <div class="indexLogoDesc">
                    <h3 class="green">@Worki.Resources.Views.Home.HomeString.SharedOffice</h3>
                    <p class="marginl10">@Worki.Resources.Views.Home.HomeString.SharedOfficeSpeach
					</p>
                </div>
            </a>
        </div> 
		<div class="clear">
        </div>
        @*<div class="contentBlock indexLogoContainer float-left borderRed noUnderline margin0important" style="margin-top:10px!important">
            <a href="@Url.Action(MVC.Rental.Create())" title="@Worki.Resources.Views.Home.HomeString.RentalAd">
                <div class="indexLogoImage indexLogoRental linkImg float-left">
                        
                </div>
                <div class="indexLogoDesc float-right">
                    <span class="bold red">@Worki.Resources.Views.Home.HomeString.RentalAd </span>
                    <p class="marginl10">@Html.Raw(Worki.Resources.Views.Home.HomeString.RentSpeech)</p>
                </div>
                <div class="clear">
                </div>
            </a>
        </div>
        <div class="clear">
        </div>*@
    </div>
</div>
