@section HeadContent
{
	<meta name="Description" content="@Worki.Resources.Views.Home.ContactString.Description"/>
	<title>@Html.WorkiTitle(Worki.Resources.Views.Home.HowItWorksString.HowItWorks)</title>
}

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Home.Views._HowItWorksMenu, TutorialPages.HowItWorks)
	</div>

    <div class="float-left blockContainer contentRight">
        <h1 class="howitWorksHead blue">@Worki.Resources.Views.Home.HowItWorksString.HowItWorksHead</h1>
		<div class="contentBlock howitWorks howitWorksPart float-left">
			<h2 class="howitWorksHeader borderRadius">@Worki.Resources.Views.Home.HowItWorksString.UserTitle</h2>

			<ul>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.SearchTitle</h2>
					<div class="howitworksLogo hiw_Search float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Search
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.BookTitle</h2>
					<div class="howitworksLogo hiw_Book float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Book
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.JoinTitle</h2>
					<div class="howitworksLogo hiw_Join float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Join
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.ExchangeTitle</h2>
					<div class="howitworksLogo hiw_Exchange float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Exchange
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.WorkTitle</h2>
					<div class="howitworksLogo hiw_Work float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Work
					</div>
					<div class="clear">
					</div>
				</li>
			</ul>
		</div>
		<div class="contentBlock howitWorks howitWorksPart float-right">
			<h2 class="howitWorksHeader borderRadius">@Worki.Resources.Views.Home.HowItWorksString.OwnerTitle</h2>

			<ul>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.MakeFamousTitle</h2>
					<div class="howitworksLogo hiw_Famous float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.MakeFamous
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.CommercializeTitle</h2>
					<div class="howitworksLogo hiw_Commerce float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Commercialize
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.HandleSpaceTitle</h2>
					<div class="howitworksLogo hiw_BO float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.HandleSpace
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.HandleClientsTitle</h2>
					<div class="howitworksLogo hiw_Clients float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.HandleClients
					</div>
					<div class="clear">
					</div>
				</li>
				<li>
					<h2 class="blue">@Worki.Resources.Views.Home.HowItWorksString.WelcomeTitle</h2>
					<div class="howitworksLogo hiw_Welcome float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Welcome
					</div>
					<div class="clear">
					</div>
				</li>
			</ul>
		</div>
    </div>
	<div class="clear">
	</div>   
</div>