@model Worki.Data.Models.SearchCriteriaFormViewModel

@section HeadContent
{
    <link rel="canonical" href="http://www.eworky.com"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.Description"/>
    <title>@Worki.Resources.Views.Home.HomeString.BestWorkspace</title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}

@{Html.RenderAction(MVC.Home.IndexHead());}

<div class="detailContent">
    <div class="blockContainer">
        @{Html.RenderAction(MVC.Home.PeopleSlider(Url.GetCulture()));}

        <div class="indexForms indexFormContainer float-right">
			<div class="contentBlock">
				<div class="indexSearchFormDiv darkblue">
					@Html.Partial(MVC.Localisation.Views._SearchForm)
				</div>
			</div>
        </div>
        <div class="clear">
        </div>
		@{
			var culture = Url.GetCulture();
		}
		@if (culture == Worki.Infrastructure.Culture.fr)
		{
		<div class="contentBlock bannerBlock">
			<div class="bannerDesc float-left">
				@Worki.Resources.Views.Home.HomeString.TalkAboutUs &nbsp;&nbsp;>>
			</div>
			<div class="fr3 linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="parisien linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="frenchweb linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="citron linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="echos linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="franceinfo linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="bfm linkImg float-left">
				@Html.ActionLink(" ", MVC.Home.Press())
			</div>
			<div class="clear">
			</div>
		</div>
		}
        @{Html.RenderAction(MVC.Home.BlogContainer(culture));}
		<div class="contentBlock">
			<div class="fb-like-box" data-href="http://www.facebook.com/pages/eWorky/226917517335276" data-width="940" data-height="180" data-show-faces="true" data-border-color="white" data-stream="false" data-header="false"></div>
		</div>
    </div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.slides_jquery_js)"], function () {
            $('#slides').slides({
                play: 8000,
                generatePagination: false,
                effect: 'fade'
            });
        });

        var processed = false;
        $("#searchform").live('submit', function (evt) {
            if (processed)
                return;
            var val = $("#Criteria_Place").val();
            var searchType = $("#Criteria_SearchType").val();
            if (val == "" && searchType != '@eSearchType.ePerName') {
                $("#Criteria_Place").val('@SearchService.DefaultSearchPlace');
            }
            workiGeoCoder.SearchFormSubmit(evt);
            processed = true;
            return false;
        });

        var workiGeoCoder = null;
        function resetGeocoder() {
			@if(culture == Worki.Infrastructure.Culture.fr)
			{
			@:var workiAutocomplete = new WorkiAutoComplete('#Criteria_Place');
			@:workiAutocomplete.SetAutocomplete();
			}
            workiGeoCoder = new WorkiGeocoder('#Criteria_LocalisationData_Latitude', '#Criteria_LocalisationData_Longitude', '#Criteria_Place', '#searchform');
        }

        function initialize() {
            require(["@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
                resetGeocoder();
            });
        }

        function initializeSearchForm() {
            require(["@Url.VersionedContent(Links.Scripts.jquery_placeholder_js)"], function () {
                $('input:text').placeholder();
            });

            require(["@MiscHelpers.UrlConstants.jqueryui", "http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize"], function () {

            });
        }

        initializeSearchForm();

        SelectForm = function (event, searchType, directAccessType) {
            event.preventDefault();
            var place = $("#Criteria_Place").val();
            if (place == '@Worki.Resources.Views.Home.HomeString.ExampleLocation')
                place = '';
            $.ajax({
                url: '@Url.Action(MVC.Localisation.ActionNames.SearchForm, MVC.Localisation.Name)',
                data: { 'searchType': searchType, 'directAccessType': directAccessType, 'place': place },
                success: function (data) {
                    $('#searchFormPartialContainer').replaceWith(data);
                    initializeSearchForm();
                    resetGeocoder();
                }
            });
        }

        $('#searchPerType').live('click', function (event) {
            SelectForm(event, '@eSearchType.ePerType', '@eDirectAccessType.eNone');
        });

        $('#searchPerNeed').live('click', function (event) {
            SelectForm(event, '@eSearchType.ePerOffer', '@eDirectAccessType.eNone');
        });

        $('#searchPerName').live('click', function (event) {
            SelectForm(event, '@eSearchType.ePerName', '@eDirectAccessType.eNone');
        });

        require(["@Links.Scripts.dropdown_js"], function () {
            InitDropdown("#@DropDownModel.AdvancedSearchDD");
        });
    </script>
    @Html.Partial(MVC.Localisation.Views._SelectSearchScript, Model.Criteria, ViewData)
}
