@model Worki.Data.Models.SearchCriteriaFormViewModel

@section HeadContent
{
    <link rel="canonical" href="http://www.eworky.com"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.BestWorkspace)</title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.skin_min_css)" rel="stylesheet" type="text/css"/>
    <link href="@Url.VersionedContent(Links.Content.RentalForm_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}

@{
    var indexViewModel = ViewData[Worki.Web.Controllers.HomeController.IndexViewModelContent] as IndexViewModel;
}
<div class="indexHeader">
    <h1 class="darkblue">@string.Format("Trouver le meilleur endroit pour travailler parmi {0:### ### ###} lieux", indexViewModel.LocalisationCount)</h1>
</div>

<div class="detailContent">
    <div class="blockContainer">
        @Html.Partial(MVC.Home.Views._PeopleSlider, indexViewModel.WelcomePeople)

        <div class="indexForms indexFormContainer float-right">
            <ul class="tabs">
                <li class="backgroundBlue"><a href="#searchTab" class="bold">Recherche</a></li>
                <li class="backgroundOrange"><a href="#bookingTab" class="bold">Reservation</a></li>
                <li class="backgroundRed"><a href="#locationTab" class="bold">Location</a></li>
            </ul>
            <div class="tab_container">
                <div id="searchTab" class="tab_content contentBlock borderBlue">
                    <div class="indexSearchFormDiv darkblue">
                        @using (Html.BeginForm(MVC.Localisation.ActionNames.FullSearch,MVC.Localisation.Name, FormMethod.Post, new { id = "searchform" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
                            @Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
                            <div class="indexSearchFormLabel">
                                <h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
                            </div>
                            <div class="editor-field indexSearchFormField">
                                @Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
                            </div>
                            <div class="indexSearchFormLabel">
                                <h3>@Worki.Resources.Views.Home.HomeString.What</h3>
                            </div>
                            <div class="editor-field indexSearchFormField">
                                @Html.DropDownListFor(model => model.Criteria.LocalisationOffer, Model.Offers)
                            </div>

                            <div class="indexSearchIndexLinks relative">
                                <div class="indexSearchIndexLinksLeft float-left">
                                @Html.ActionLink(Worki.Resources.Views.Home.HomeString.MoreCriterias, MVC.Localisation.FullSearch())
                                </div>
                                <div class="indexSearchIndexLinksRight float-right">
                                    <input type="submit" class="buttonStd buttonBlue" id="btn_searchIndex" value="Rechercher" />
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="bookingTab" class="tab_content contentBlock borderOrange">
                    <div class="indexSearchFormDiv darkblue">
                        @using (Html.BeginForm(MVC.Localisation.ActionNames.FullSearch, MVC.Localisation.Name, FormMethod.Post, new { id = "searchform" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
                            @Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
                            <div class="indexSearchFormLabel">
                                <h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
                            </div>
                            <div class="editor-field indexSearchFormField">
                                @Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
                            </div>
                            <div class="indexSearchFormLabel">
                                <h3>@Worki.Resources.Views.Home.HomeString.What</h3>
                            </div>
                            <div class="editor-field indexSearchFormField">
                                @Html.DropDownListFor(model => model.Criteria.LocalisationOffer, Model.Offers)
                            </div>

                            <div class="indexSearchIndexLinks relative">
                                <div class="indexSearchIndexLinksLeft float-left">
                                @Html.ActionLink(Worki.Resources.Views.Home.HomeString.MoreCriterias, MVC.Localisation.FullSearch())
                                </div>
                                <div class="indexSearchIndexLinksRight float-right">
                                    <input type="submit" class="buttonStd buttonOrange" id="btn_searchIndex" value="Rechercher" />
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @Html.Partial(MVC.Home.Views._RentalTab, new Worki.Data.Models.RentalSearchCriteria())
            </div>
        </div>
        <div class="clear">
        </div>

        <div class="indexLogos">
            <div>
            </div>
            <div class="indexLogoContainer contentBlock float-left borderBlue noUnderline">
                <a href="@Url.Action(MVC.Localisation.FullSearch())" title="Recherche">
                    <div class="indexLogoImage indexLogoSearch linkImg inline-block">
                    
                    </div>
                    <div class="indexLogoDesc inline-block">
                        <span class="bold blue">Recherche. </span>eWorky c'est une communauté active d’indépendants, de nomades, de télétravailleurs, d’entrepreneurs et d’étudiants adeptes de mobilité et de coworking.
                    </div>
                    <div class="clear">
                    </div>
                </a>
            </div>
            <div class="contentBlock indexLogoContainer float-right borderRed noUnderline">
                <a href="@Url.Action(MVC.Rental.RentalSearch())" title="Location">
                    <div class="indexLogoImage indexLogoRental linkImg inline-block">
                        
                    </div>
                    <div class="indexLogoDesc inline-block">
                        <span class="bold red">Location. </span>Vous cherchez des locaux ? Marre de payer des frais exorbitants aux intermédiaires ? Venez déposer et consulter les petites annonces, de professionnel à professionnel  !
                    </div>
                    <div class="clear">
                    </div>
                </a>
            </div>
            <div class="clear">
            </div>
            <div class="contentBlock indexLogoContainer float-left borderOrange noUnderline">
                <a href="@Url.Action(MVC.Localisation.FullSearch())" title="Réservation">
                    <div class="indexLogoImage indexLogoBooking linkImg inline-block">
                        
                    </div>
                    <div class="indexLogoDesc inline-block">
                        <span class="bold orange">Réservation. </span>eWorky c'est aussi la possibilité de réserver en ligne le lieu de travail (poste, salle de réunion, de conférence, etc.) dont vous avez besoin. C’est rapide, facile et moins cher !
                    </div>
                    <div class="clear">
                    </div>
                </a>
            </div>
            <div class="contentBlock indexLogoContainer float-right borderGreen noUnderline">
                <a href="@Url.Action(MVC.Home.Index())" title="Et bientôt plein d’autres fonctionnalités">
                    <div class="indexLogoImage indexLogoMore linkImg inline-block">
                        
                    </div>
                    <div class="indexLogoDesc inline-block">
                        <span class="bold green">Et bientôt plein d’autres fonctionnalités. </span>L’équipe eWorky a plein de projets dans les cartons pour simplifier le travail ! Alors suivez-nos actualités sur Facebook, Twitter, Google+, etc.
                    </div>
                    <div class="clear">
                    </div>
                </a>
            </div>
            <div class="clear">
            </div>
        </div>

        <div class="contentBlock">
            <div class="blogDesc">
                <ul>
                @foreach (var item in indexViewModel.BlogPosts)
                {
                    <li class="blogItem borderRadius noUnderline float-left">
                        <a href="@item.Url" target="_blank" title="@Html.Raw(item.Title)">
                            <div class="blogImg borderedImg borderRadius float-left">
                                @RazorHelpers.CenterImage(item.Image, item.Title)
                            </div>
                            <div class="blogContent float-left">
                                <h4 class="blue">@Html.Raw(item.Title) - @item.PublicationDate.ToString("dd/MM/yyyy")</h4>
                                @Html.TruncateAtWord(item.Content, 120)
                            </div>
                            <div class="clear">
                            </div>
                        </a>
                    </li>        
                }
                    <div class="clear">
                    </div>
                </ul>
                <div class="blogButton buttonStd buttonBlue linkImg float-right">
                    <a href="@Worki.Web.Controllers.HomeController.BlogUrl" target="_blank">Voir le blog eWorky</a>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.jquery_placeholder_js)"], function () {
            $('input:text').placeholder();
        });
        require(["@Url.VersionedContent(Links.Scripts.slides_jquery_js)"], function () {
            $('#slides').slides({
                play: 8000,
                generatePagination: false,
                effect: 'fade'
            });

//            $('#blog_slides').slides({
//                play: 50000,
//                generatePagination: false,
//                effect: 'fade',
//                container: 'blog_slides_container'
//            });
        });
        require(["@MiscHelpers.jqueryui","http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize"], function () {

        });

        function initialize() {
            require(["@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
                var workiAutocomplete = new WorkiAutoComplete('#Criteria_Place');
                workiAutocomplete.SetAutocomplete();
            });
        }
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"], function () {
            InitTab(".indexForms");
        });
    </script>
    @Html.Partial(MVC.Shared.Views._IndexGalleryScript)
}
