@model Worki.Data.Models.SearchCriteriaFormViewModel

@section HeadContent
{
    <link rel="canonical" href="http://www.eworky.com"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.BestWorkspace)</title>
    <link href="@Url.VersionedContent(Links.Content.Index_min_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.VersionedContent(Links.Content.skin_min_css)" rel="stylesheet" type="text/css"/>
    <link href="@Url.VersionedContent(Links.Content.jquery_ui_1_8_12_custom_min_css)" rel="stylesheet" type="text/css"/>
}

<div class="mainRow">

	@{ViewData["PicPath"] = Links.Content.images.photo1_jpg;}
    @*@Html.Partial(MVC.Shared.Views._PictureContainer, ViewData) *@
    @{
        var indexViewModel = ViewData[Worki.Web.Controllers.HomeController.IndexViewModelContent] as IndexViewModel;
    }
    @Html.Partial(MVC.Home.Views._PeopleSlider, indexViewModel.WelcomePeople)
    <div class="halfContainer indexSearchContainer float-right">
        <div class="indexSearchFormDiv relative">
            <h2 class="blue">
                @string.Format("{0:### ### ###} {1}", indexViewModel.LocalisationCount, Worki.Resources.Views.Home.HomeString.Workspace)</h2>
            <div class="searchIndexHead darkblue">
                <h2>@Worki.Resources.Views.Home.HomeString.SearchWorkspace</h2>
            </div>
            @using (Html.BeginForm(MVC.Search.ActionNames.FullSearch,MVC.Search.Name, FormMethod.Post, new { id = "searchform" }))
            {
                @Html.AntiForgeryToken();
            <table class="indexFormTable">
                <tr>
                    <td>
                        <div class="darkblue">
                            <h3>@Worki.Resources.Views.Home.HomeString.What</h3>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("Criteria.LocalisationOffer", Model.Offers)
                            @Html.ValidationMessage("LocalisationOffer", "")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="darkblue">
                            <h3>@Worki.Resources.Views.Home.HomeString.Where</h3>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Criteria.Place, new { placeHolder = Worki.Resources.Views.Home.HomeString.ExampleLocation })
                            @Html.ValidationMessage(Worki.Resources.Views.Home.HomeString.Location, "")
                        </div>
                    </td>
                </tr>
            </table>
            <p>
                @Html.HiddenFor(model => model.Criteria.LocalisationData.Latitude)
                @Html.HiddenFor(model => model.Criteria.LocalisationData.Longitude)
            </p>
            <div class="indexSearchIndexLinks">
                <div class="indexSearchIndexLinksLeft float-left">
                @Html.ActionLink(Worki.Resources.Views.Home.HomeString.MoreCriterias, MVC.Search.FullSearch())
                </div>
                <div class="indexSearchIndexLinksRight float-right">
                    <input type="submit" class="imageBtn" id="btn_searchIndex" value="" />
                </div>
                <div class="clear">
                </div>
            </div>
            }
        </div>
    </div>

    <div class="clear">
    </div>
</div>

@*<div class="indexActionRow">
    <div class="indexActionContainer float-left">
        <div class="indexAction relative" id="recherche_index">
            <div class="cufonIt blue">
                <h2>@Worki.Resources.Views.Search.SearchString.Search</h2>
            </div>
                
            <h3 class="darkblue">
                @Worki.Resources.Views.Home.HomeString.FindDreamWorkspace</h3>
            <span>@Worki.Resources.Views.Home.HomeString.SearchWorkspace<br />
                @Worki.Resources.Views.Home.HomeString.GradeComment</span>
            <br />
            <div class="bottom">
                <div class="btn_green_roulette linkImg btn_text">@Html.ActionLink(Worki.Resources.Views.Search.SearchString.Search, MVC.Search.FullSearch())</div>
            </div>
        </div>
    </div>
    <div class="indexActionContainer float-right" >
        <div class="indexAction relative" id="ajout_index">
            <div class="cufonIt blue">
                <h2>@Worki.Resources.Views.Localisation.LocalisationString.Add</h2>
            </div>
            <h3 class="darkblue">
                @Worki.Resources.Views.Home.HomeString.SubmitWorkplace</h3>
            <span>@Html.Raw(Worki.Resources.Views.Home.HomeString.ShareTips)</span>
            <br />
            <div class="bottom">
                <div class="btn_orange_plus linkImg btn_text">@Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Add, MVC.Localisation.Create())</div>
            </div>
        </div>
    </div>

    <div class="clear">
    </div>
</div>*@

<div class="adRow">
    @Html.Partial(MVC.Home.Views._HomeDesc, indexViewModel.BlogPosts)
    @Html.Partial(MVC.Shared.Views._IndexGallery)
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.jquery_placeholder_js)"], function () {
            $('input:text').placeholder();
        });
        require(["@Url.VersionedContent(Links.Scripts.slides_jquery_js)"], function () {
            $('#slides').slides({
                play: 8000,
                generatePagination: false,
                effect: 'fade'
            });

            $('#blog_slides').slides({
                play: 5000,
                generatePagination: false,
                effect: 'fade',
                container: 'blog_slides_container'
            });
        });
        require(["@MiscHelpers.jqueryui","http://maps.google.com/maps/api/js?sensor=true&region=FR&callback=initialize"], function () {
                require(["@Url.VersionedContent(Links.Scripts.WorkiMap_js)"], function () {
                    var workiAutocomplete = new WorkiAutoComplete('#Criteria_Place');
                    workiAutocomplete.SetAutocomplete();
                });
        });

        function initialize() {

        }
    </script>
    @Html.Partial(MVC.Shared.Views._IndexGalleryScript)
    @Html.Partial(MVC.Shared.Views._CufonScript)
}
