@section HeadContent
{
    <title>@Html.WorkiTitle(WorkiResources.Views.Home.JobString.Jobs) </title>
}

@RazorHelpers.TitleDiv(WorkiResources.Views.Home.JobString.Jobs, "Blue")

<div class="detailContent generalTextContainer">       
    <div class="contentBlock generalTextContent float-right">

		<h3 class="blue">@WorkiResources.Views.Home.JobString.EWSpirit</h3>
		<p>
		@WorkiResources.Views.Home.JobString.EWTeam

		</p>
		<p>
		@WorkiResources.Views.Home.JobString.EWProject
		</p>
		<p>
		@WorkiResources.Views.Home.JobString.EWSearchStudents
		</p>

		<h4 class="toogle_trigger toogle_trigger_click bold blue"><span>@WorkiResources.Views.Home.JobString.YouAreDev</span></h4>
		<div class="toogle_container">
			<div class="block">
				<p>
				@WorkiResources.Views.Home.JobString.LikeDev
				</p>
                <table>
                    <tr>
                        <td>
				            <p style="padding-bottom:0;">
				            @WorkiResources.Views.Home.JobString.EWSearchEveryProfil
				            </p>
				
				            <ul>
					            <li>@Html.Raw(WorkiResources.Views.Home.JobString.JuniorDev)</li>
					            <li>@Html.Raw(WorkiResources.Views.Home.JobString.SeniorDev)</li>
				            </ul>
                        </td>
                        <td>
                            @Html.Image(Links.Content.images.jobs_mark_jpeg, "mark zuckerberg", new { style = "max-height:300px;max-width:300px;float:right;margin:10px 20px 10px 10px;" })
                        </td>
                    </tr>
                </table>
			</div>
		</div>


		<div class="clear">
		</div>

		<h4 class="toogle_trigger toogle_trigger_click bold blue"><span>@WorkiResources.Views.Home.JobString.SoulBuisnessDev</span></h4>
		<div class="toogle_container">
			<div class="block">
				<p>
				@WorkiResources.Views.Home.JobString.SearchInternShip
				</p>
				<p style="padding-bottom:0;">
				@WorkiResources.Views.Home.JobString.CommunicationIntern
				</p>
				@Html.Image(Links.Content.images.jobs_steve_jpg, "steve jobs", new { style = "max-height:300px;max-width:300px;float:right;margin:10px" })
				<ul>
					<li>@WorkiResources.Views.Home.JobString.Commercial</li>
					<li>@WorkiResources.Views.Home.JobString.Marketing</li>
					<li>@WorkiResources.Views.Home.JobString.CommunityManagement</li>
					<li>@WorkiResources.Views.Home.JobString.PressRelation</li>
					<li>@WorkiResources.Views.Home.JobString.Event</li>
					<li>@WorkiResources.Views.Home.JobString.MoreThings</li>
				</ul>
				<p>
				@WorkiResources.Views.Home.JobString.InternGoodUniversity
				</p>
			</div>
		</div>

    </div>
	<div class="clear">
	</div>
</div>

@section ScriptContent
{
    <script src="@MiscHelpers.jquery " type="text/javascript"></script>
    @Html.Partial(MVC.Shared.Views._CufonScript)
	@Html.Partial(MVC.Shared.Views._TabScript)
}
