@section HeadContent
{
    <link rel="canonical" href="@Url.ActionAbsolute(MVC.Home.OwnerTutorial())"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.ContactString.Description"/>
	<title>@Html.WorkiTitle(Worki.Resources.Views.Home.HowItWorksString.OwnerTutorial)</title>
}

<div class="detailContent">
	<div class="blockContainer float-left contentLeft">
		@Html.Partial(MVC.Home.Views._HowItWorksMenu, TutorialPages.OwnerTutorial)
	</div>

    <div class="float-left blockContainer contentRight">
		<div class="contentBlock howitWorks">
			<h1 class="howitWorksHeader borderRadius">@Worki.Resources.Views.Home.HowItWorksString.HowDoIt</h1>

			<ul class="howitWorksTuto">
				<li class="float-left">
					<h2 class="blue">1. @Worki.Resources.Views.Home.HowItWorksString.RegisterOwnerTitle</h2>
					<div class="howitworksLogo hiw_Register float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Html.Raw(string.Format(Worki.Resources.Views.Home.HowItWorksString.RegisterOwner,Html.ActionLink(Worki.Resources.Views.Home.HowItWorksString.RegisterLink,MVC.Account.Register())))
					</div>
					<div class="clear">
					</div>
				</li>
				<li class="float-right">
					<h2 class="blue">3. @Worki.Resources.Views.Home.HowItWorksString.AccessBOTitle</h2>
					<div class="howitworksLogo hiw_BO float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Html.Raw(string.Format(Worki.Resources.Views.Home.HowItWorksString.AccessBO, Html.ActionLink(Worki.Resources.Views.Home.HowItWorksString.AccessBOLink, MVC.Home.Pricing())))
					</div>
					<div class="clear">
					</div>
				</li>
				<li class="clear">
				</li>
				<li class="float-left">
					<h2 class="blue">2. @Worki.Resources.Views.Home.HowItWorksString.RefererenceTitle</h2>
					<div class="howitworksLogo hiw_Add float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Html.Raw(string.Format(Worki.Resources.Views.Home.HowItWorksString.Reference, Html.ActionLink(Worki.Resources.Views.Home.HowItWorksString.ReferenceLink, MVC.Home.AddSpace())))
					</div>
					<div class="clear">
					</div>
				</li>
				<li class="float-right">
					<h2 class="blue">4. @Worki.Resources.Views.Home.HowItWorksString.GoTitle</h2>
					<div class="howitworksLogo hiw_Go float-left">
					</div>
					<div class="hoitworksDesc float-right">
						@Worki.Resources.Views.Home.HowItWorksString.Go
					</div>
					<div class="clear">
					</div>
				</li>
				<li class="clear">
				</li> 
			</ul>
		</div>
    </div>
	<div class="clear">
	</div>   
</div>