@model List<Press>
           
@section HeadContent
{
    <link rel="canonical" href="@Url.ActionAbsolute(MVC.Home.Press())"/>
	<meta name="Description" content="@Worki.Resources.Views.Home.PresseString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.News)</title>
    <link href="@Url.VersionedContent(Links.Content.Press_min_css)" rel="stylesheet" type="text/css" />
}


@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.News, "Blue")

<div class="detailContent generalTextContainer">
	<div class="blockContainer contentLeft float-left">
		@Html.Partial(MVC.Home.Views._AboutMenu, AboutPages.Press)
	</div>

	<div class="float-right contentRight generalTextContent blockContainer">
		<div class="contentBlock">
			<div class="pressDesc">
				<h3 class="blue">@Worki.Resources.Views.Home.PresseString.ContactUs</h3>
				<p>
					@String.Format(Worki.Resources.Views.Home.HomeString.SpeechForJournalists, MiscHelpers.EmailConstants.ContactMail)
				</p>
			</div>
	@*        <div class="jtDiv">
				<h3 class="blue">@Worki.Resources.Views.Home.PresseString.OnJT</h3>
				<div class="jtDesc float-left">
					@Worki.Resources.Views.Home.PresseString.VideoDesc
				</div>
				<div class="jtVideo float-right" >
					<iframe src="http://player.vimeo.com/video/29038745" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
				</div>
				<div class="clear">
				</div>
			</div>*@
			<div class="pressArticles">
				<h3 class="blue">@Worki.Resources.Views.Home.PresseString.Articles</h3>
				<ul>
					@foreach (var item in Model)
					{
						<li>                    
							<h4>@item.Title - @Html.DisplayDate(item.Date)</h4>
							<a href="@item.Url" target="_blank">@item.Description</a>
						</li>
					}
				</ul>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
    <div class="clear">
	</div>
</div>