@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.News) </title>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.News, "Blue")
<div class="detailContent generalTextContainer">
    <div class="contentBlock generalTextContent float-right">
        <p>
            @String.Format(Worki.Resources.Views.Home.HomeString.SpeechForJournalists, EmailService.ContactMail)
        </p>
        <p>
            @Worki.Resources.Views.Home.HomeString.SoonPressKit
        </p>
    </div>
    <div class="clear">
	</div>  
</div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._CufonScript)
}