@model BOAccept

@section HeadContent
{
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.PricingDescription"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HowItWorksString.PricingHeaderTitle)</title>
}

<div class="detailContent">
    <div class="blockContainer float-left contentLeft">
	    @Html.Partial(MVC.Home.Views._HowItWorksMenu, TutorialPages.Pricing)
    </div>

    <div class="float-left blockContainer contentRight">
     @using (Html.BeginForm())
     {
		    <div class="contentBlock">
                <h3 class="howitWorksHeader borderRadius">@Worki.Resources.Views.Home.HowItWorksString.PricingTitle</h3>

                <table class="offerGrid margint15">
                    <thead>
                        <tr>
                            <th scope="col" class="noCol">
                                <div class="offerTitleCol">@Worki.Resources.Views.Home.HowItWorksString.Features</div>
                            </th>
                            <th scope="col">
                                <div class="offerTitleCol">@Worki.Resources.Views.Home.HowItWorksString.DiscoveryOffer</div>
                            </th>
                            <th scope="col" class="noCol">
                                <div class="offerTitleCol"></div>
                            </th>
                            <th scope="col">
                                <div class="offerTitleCol"><br /><br /></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_1</span>
              	                <div class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_1_Text</div>
                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                            <td class="separatorCol" rowspan="7"></td>
                            <td class="lastCol endCol" rowspan="7"><span class="offerInCol block"><img src="@Links.Content.images.tampon_png" /></span></td>
                        </tr>

                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_2</span>
              	                <div class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_2_Text</div>
                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                        </tr>

                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_3</span>
              	                <div class="offerContent toogle_container">@Html.Raw(string.Format(Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_3_Text, Html.ActionLink(Worki.Resources.Views.Home.HowItWorksString.Here, Worki.Resources.Views.Home.HowItWorksString.PayPalCGULink)))</div>

                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                        </tr>

                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_4</span>
              	                <div class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_4_Text</div>
                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                        </tr>

                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_5</span>
              	                <div class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_5_Text</div>
                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                        </tr>

                        <tr>
                            <td scope="row">
                                <span class="toogle_trigger toogle_trigger_click blue bold block">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_6</span>
              	                <div class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_6_Text</div>
                            </td>
                            <td class="checked offerCol"><span class="offerInCol block checked"></span></td>
                        </tr>

                        <tr>
                            <td scope="row"></td>
                            <td class="offerCol endCol">
                                <span class="offerInCol block">
                                    <input class="buttonBlue buttonStd howitWorksHeader borderRadius noUnderline" type="submit" value="@Worki.Resources.Views.Shared.SharedString.Choose" />
                                 </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <span class="block margint15">
                    @Html.CheckBoxFor(m=>m.IsRead) @Html.Raw(string.Format(Worki.Resources.Views.Home.CguString.ReadAndAccept, Html.ActionLink(Worki.Resources.Views.Home.CguString.cgu, MVC.Home.CGU())))
                </span>
		    </div>
     }
	</div>
    <div class="clear"></div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"], function () {
            InitTab(".contentBlock");
        });
    </script>
}
