@section HeadContent
{
	<meta name="Description" content="@Worki.Resources.Views.Home.AProposString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HowItWorksString.Pricing)</title>
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css"/>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HowItWorksString.Pricing, "Blue")
<div class="detailContent generalTextContainer">
	<div class="blockContainer float-left">
		@Html.Partial(MVC.Home.Views._HowItWorksMenu, TutorialPages.Pricing)
	</div>

	<div class="float-right generalTextContent blockContainer">
		<div class="contentBlock">
            <h3 class="howitWorksHeader borderRadius">@Worki.Resources.Views.Home.HowItWorksString.PricingTitle</h3>
            <h4>@Worki.Resources.Views.Home.HowItWorksString.PricingSubTitle</h4>


    <table class="uvFeatureGrid">
        <thead>
          <tr>
            <th scope="col">Services</th>
            <th scope="col" class="separatorCol"></th>
            <th scope="col">OFFRE DECOUVERTES</th>
            <th scope="col" class="separatorCol"></th>
            <th scope="col">Bientot</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" class="blue bold toogle_trigger toogle_trigger_click">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_1
              <span class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_1_Text</span></td>
            <td class="separatorCol"></td>
            <td class="checked offerCol"></td>
            <td class="separatorCol"></td>
            <td class="lastCol" rowspan="5"><img src="../../Content/images/tampon.png" /></div></td>
          </tr>

          <tr>
            <td scope="row" class="blue bold toogle_trigger toogle_trigger_click">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_2
              <span class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_2_Text</span></td>
            <td class="separatorCol"></td>
            <td class="checked offerCol"></td>
            <td class="separatorCol"></td>
          </tr>

          <tr>
            <td scope="row" class="blue bold toogle_trigger toogle_trigger_click">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_3
              <span class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_3_Text</span></td>
            <td class="separatorCol"></td>
            <td class="checked offerCol"></td>
            <td class="separatorCol"></td>
          </tr>

          <tr>
            <td scope="row" class="blue bold toogle_trigger toogle_trigger_click">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_4
              <span class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_4_Text</span></td>
            <td class="separatorCol"></td>
            <td class="checked offerCol"></td>
            <td class="separatorCol"></td>
          </tr>

          <tr>
            <td scope="row" class="blue bold toogle_trigger toogle_trigger_click">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_5
              <span class="offerContent toogle_container">@Worki.Resources.Views.Home.HowItWorksString.PrincingFeature_5_Text</span></td>
            <td class="separatorCol"></td>
            <td class="checked offerCol"></td>
            <td class="separatorCol"></td>
          </tr>
        </tbody>
      </table>

		</div>
	</div>
    <div class="clear"></div>
</div>

@section ScriptContent
{
    <script type="text/javascript">
        require(["@Url.VersionedContent(Links.Scripts.tabs_js)"], function () {
            InitTab(".contentBlock");
        });
    </script>
}
