@section HeadContent
{
	<meta name="Description" content="@Worki.Resources.Views.Home.HomeString.TeamDescription"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.Team)</title>
    <link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css"/>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.Team, "Blue")
<div class="detailContent generalTextContainer">
	<div class="blockContainer contentLeft float-left">
		@Html.Partial(MVC.Home.Views._AboutMenu, AboutPages.Team)
	</div>

	<div class="float-right contentRight generalTextContent blockContainer">
		<div class="contentBlock">
            <div class="innerContentBlock hiddenOverflow">
                <div class="teamMemberPhoto" position="right"><img position="right" class="polaroid transition" src="@Links.Content.images.olivier_png" /></div>
                <div class="teamMemberDescription">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.Team_Member_1</h3>
                    <p>@Worki.Resources.Views.Home.HomeString.Team_Member_1_Text</p>
                </div>
                <a class="float-right networks facebook" href="http://www.facebook.com/olvbrun" target=_blank></a>
                <a class="float-right networks twitter" href="http://twitter.com/olvbrun" target=_blank></a>
            </div>

            <div class="innerContentBlock hiddenOverflow">
                <div class="teamMemberPhoto" position="left"><img position="left" class="polaroid transition" src="@Links.Content.images.cecilia_png" /></div>
                <div class="teamMemberDescription">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.Team_Member_2</h3>
                    <p>@Worki.Resources.Views.Home.HomeString.Team_Member_2_Text</p>
                </div>
                <a class="float-right networks facebook" href="http://www.facebook.com/cecilia38" target=_blank></a>
                <a class="float-right networks twitter" href="http://twitter.com/CeciliaDurieu" target=_blank></a>
            </div>

            <div class="innerContentBlock hiddenOverflow">
                <div class="teamMemberPhoto" position="right"><img position="right" class="polaroid transition" src="@Links.Content.images.tahir_png" /></div>
                <div class="teamMemberDescription">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.Team_Member_3</h3>
                    <p>@Worki.Resources.Views.Home.HomeString.Team_Member_3_Text</p>
                </div>
                <a class="float-right networks facebook" href="http://www.facebook.com/tah.iftikhar" target=_blank></a>
                <a class="float-right networks twitter" href="http://twitter.com/tahhh91" target=_blank></a>
            </div>

            <div class="innerContentBlock hiddenOverflow">
                <div class="teamMemberPhoto" position="left"><img position="left" class="polaroid transition" src="@Links.Content.images.marc_png" /></div>
                <div class="teamMemberDescription">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.Team_Member_4</h3>
                    <p>@Worki.Resources.Views.Home.HomeString.Team_Member_4_Text</p>
                </div>
                <a class="float-right networks facebook" href="https://www.facebook.com/maclabrude" target=_blank></a>
                <a class="float-right networks twitter" href="https://twitter.com/MacLabrude" target=_blank></a>
            </div>

            <div class="innerContentBlock hiddenOverflow">
                <div class="teamMemberPhoto" position="right"><img position="right" class="polaroid transition" src="@Links.Content.images.jonathan_png" /></div>
                <div class="teamMemberDescription">
                    <h3 class="blue">@Worki.Resources.Views.Home.HomeString.Team_Member_5</h3>
                    <p>@Worki.Resources.Views.Home.HomeString.Team_Member_5_Text</p>
                </div>
                <a class="float-right networks facebook" href="http://www.facebook.com/profile.php?id=812146121" target=_blank></a>
                <a class="float-right networks twitter" href="https://twitter.com/jon_bou" target=_blank></a>
            </div>
		</div>
	</div>
    <div class="clear">
	</div>
</div>